---
layout: default
title: Case Studies
permalink: case-studies/
body-class: ecosystem
background-class: features-background
---

<div class="jumbotron jumbotron-fluid contributor-jumbotron">
  <div class="contributor-jumbo-text container">
    <h1>Case Studies</h1>
    <span></span>
    <h2 class="lead case-study-lead">Learn how PyTorch is helping advance research to benefit society, solve problems, and improve products for people around the world.
</h2>
  </div>
</div>

{% assign featured_case_study = site.case_study | where: "featured", true %}
{% assign case_study = site.case_study | where: "featured", false | sort: 'order'%}

<div class="main-content-wrapper">
  <div class="main-content">
    <div class="container">
      {% for item in featured_case_study %}
        <div class="case-study col-md-12">
          <div class="features-row">
            <div class="feature-content">
             <div class="col-md-6">
               <h3>{{ item.headline }}</h3>
               {{ item.content | markdownify }}
               <a class="btn btn-lg with-right-arrow btn-white prev-versions-btn" href="{{ item.link}}">Watch the video case study</a>
             </div>
             <div class="col-md-6 featured-logo-container">
              <img class="featured-case-study-logo" src="{{ site.baseurl }}/{{ item.image }}" class="img-fluid" width="50%">
             </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="row case-study case-study-container col-md-12">
        {% for item in case_study %}
          <div class="case-study-item col-md-4">
            <a href="{{ item.website }}"><img class="case-study-logo" src="{{ site.baseurl }}/{{ item.image }}" class="img-fluid" width="100%"></a>
            {{ item.content | markdownify }}
            <a class="btn btn-lg with-right-arrow btn-white prev-versions-btn case-study-button" href="{{ item.link}}">Learn more</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
