---
layout: default
title: Community Stories
permalink: /community-stories
body-class: blog
background-class: comm-stories-background
---

<div class="jumbotron jumbotron-fluid contributor-jumbotron">
  <div class="contributor-jumbo-text container">
    <h1>Community Stories</h1>
    <p class="lead">Learn how our community solves real, everyday machine learning problems with PyTorch</p>
  </div>
</div>

<div class="main-content-wrapper">
  <div class="main-content">
    <div class="container">
      <div class="row blog-vertical">

        {% assign community_stories = site.community_stories | sort_natural: "date" | reverse %}
        {% for post in community_stories %}
          <div class="vertical-blog-container">
            <div class="col-md-4">
              <p class="blog-date">{{ post.date | date: '%B %d, %Y' }}</p>
              <h4>
                <a href="{{ post.ext_url }}">{{ post.title }}</a>
              </h4>
              <p class="post-tags">
                {% if post.tags %}
                  <strong>Industry: </strong>
                  {% for tag in post.tags %}
                    <span class="tag">{{ tag }}{% unless forloop.last %}, {% endunless %}</span>
                  {% endfor %}
                {% endif %}
              </p>
              <p>{{ post.excerpt | strip_html | truncate: 500}}</p>
            </div>
            <a href="{{ post.ext_url }}" class="btn btn-lg with-right-arrow">
              Read More
            </a>
          </div>
        {% endfor %}
      
      </div>
    </div>
  </div>
</div>
