---
layout: default
title: Community Blog
permalink: /community-blog
body-class: ecosystem
background-class: features-background
---

<div class="jumbotron jumbotron-fluid contributor-jumbotron">
  <div class="contributor-jumbo-text container">
    <h1>Community Blog</h1>
    <span></span>
    <h2 class="lead">Stories from the PyTorch Ecosystem</h2>
  </div>
</div>

<div class="main-content-wrapper">
  <div class="main-content">
    <div class="container">
      <div class="row blog-vertical">

        {% for post in posts %}

          {% if forloop.first %}
            {% continue %}
          {% endif %}
          
          <div class="vertical-blog-container">
            <div class="col-md-4">
              <p class="blog-date">{{ post.date | date: '%B %d, %Y' }}</p>
              <h4>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
              </h4>
              <p>{{ post.excerpt | strip_html | truncate: 500}}</p>
              <img src="{{ post.image }}" class="img-fluid">
            </div>
            <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-lg with-right-arrow">
              Read More
            </a>
          </div>
        {% endfor %}
      </div>

      {% include pagination_buttons.html %}
    </div>
  </div>
</div>
