---
layout: default
title: Community Stories
permalink: /community-stories
body-class: comm-stories
background-class: comm-stories-background
---

<div class="jumbotron jumbotron-fluid contributor-jumbotron">
  <div class="contributor-jumbo-text container">
    <h1>Community Stories</h1>
    <p class="lead">Learn how our community solves real, everyday machine learning problems with PyTorch</p>
  </div>
</div>

<div id="pytorch-1" class="main-content-wrapper community-stories-wrapper">
  <div class="community-stories main-content">
    <div class="community-stories-container-fluid container-fluid nav-menu-wrapper">
      <div class="nav-background">
        <div class="contributor-container">
          <nav class="navbar navbar-expand-lg navbar-light main-content-menu">
            <ul class="navbar-nav community-stories-nav">
              <li id="production-tab" class="nav-item nav-select">
                <span class="nav-link community-stories-nav-link">Production Stories</span>
              </li>
              <li id="research-tab" class="nav-item">
                <span class="nav-link community-stories-nav-link">Research Stories</span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    {% include production.html %}
    {% include research.html %}
  </div>
</div>

<script type="text/javascript">
  $("#production-tab").on("click", function() {
    $("#research").hide();
    $("#production, #production-side-nav").show();
    $("#research-tab").removeClass("nav-select");
    $(this).addClass("nav-select");
  });
  $("#research-tab").on("click", function() {
    $("#production,#production-side-nav").hide();
    $("#research, #research-side-nav").show();
    $("#production-tab").removeClass("nav-select");
    $(this).addClass("nav-select");
  });
</script>
