---
layout: default
title: Customer stories
permalink: /customer-stories
body-class: ecosystem
background-class: features-background
---

<div class="jumbotron jumbotron-fluid contributor-jumbotron">
  <div class="contributor-jumbo-text container">
    <h1>Customer Stories</h1>
    <span></span>
    <h2 class="lead">Learn how our community solves real, everyday machine learning problems with PyTorch</h2>
  </div>
</div>

<div id="pytorch-1" class="main-content-wrapper customer-stories-wrapper">
  <div class="customer-stories main-content">
    <div class="customer-stories-container-fluid container-fluid nav-menu-wrapper">
      <div class="nav-background">
        <div class="contributor-container">
          <nav class="navbar navbar-expand-lg navbar-light main-content-menu">
            <ul class="navbar-nav customer-stories-nav">
              <li id="customer-stories" class="nav-item nav-select">
                <span class="nav-link customer-stories-nav-link">Item-1</span>
              </li>
              <li id="item-2s" class="nav-item">
                <span class="nav-link customer-stories-nav-link">Item-2</span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    {% include item-1.html %}
    {% include item-2.html %}
  </div>
</div>

<script type="text/javascript">
  $("#customer-stories").on("click", function() {
    $("#customer-stories-item-2, #customer-stories-item-2-side-nav").hide();
    $("#customer-stories-item-1, #customer-stories-item-1-side-nav").show();
    $("#item-2s").removeClass("nav-select");
    $(this).addClass("nav-select");
  });
  $("#item-2s").on("click", function() {
    $("#customer-stories-item-1, #events-side-nav").hide();
    $("#customer-stories-item-2, #customer-stories-item-2-side-nav").show();
    $("#customer-stories").removeClass("nav-select");
    $(this).addClass("nav-select");
  });
</script>
