---
layout: default
title: Events
permalink: /events
body-class: ecosystem
background-class: events-background
---

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Events</h1>
    <p class="lead">Don’t miss out on our upcoming PyTorch live events. Find a complete list below.</h2>
  </div>
</div>

<div id="pytorch-1" class="main-content-wrapper events-wrapper">
  <div class="events main-content">
    <div class="events-container-fluid container-fluid nav-menu-wrapper">
      <div class="nav-background">
        <div class="events-container">
          <nav class="navbar navbar-expand-lg navbar-light main-content-menu">
            <ul class="navbar-nav events-nav">
              <li id="events" class="nav-item nav-select">
                <span class="nav-link events-nav-link">Live Events</span>
              </li>
              <li id="live-streams" class="nav-item">
                <span class="nav-link events-nav-link">Webinars</span>
              </li>
              <li id="podcasts" class="nav-item">
                <span class="nav-link events-nav-link">Podcasts</span>
              </li>
              <li id="community-events" class="nav-item">
                <span class="nav-link events-nav-link">Community Events</span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    {% include live_events.html %}
    {% include live_stream.html %}
    {% include podcast.html %}
    {% include community_events.html %}
  </div>
</div>

<script type="text/javascript">
  $("#events").on("click", function() {
    $("#live-stream, #podcast, #community-event").hide();
    $("#event, #event-side-nav").show();
    $("#live-streams, #podcasts, #community-events").removeClass("nav-select");
    $(this).addClass("nav-select");
  });
  $("#podcasts").on("click", function() {
    $("#live-stream, #event, #event-side-nav, #community-event").hide();
    $("#podcast").show();
    $("#live-streams, #events, #community-events").removeClass("nav-select");
    $(this).addClass("nav-select");
  });
  $("#live-streams").on("click", function() {
    $("#podcast, #event, #community-event, #event-side-nav").hide();
    $("#live-stream").show();
    $("#community-events, #podcasts, #events").removeClass("nav-select");
    $(this).addClass("nav-select");
  });
  $("#community-events").on("click", function() {
    $("#podcast, #live-stream, #event-side-nav, #event").hide();
    $("#community-event").show();
    $("#podcasts, #events, #live-stream").removeClass("nav-select");
    $(this).addClass("nav-select");
  });
</script>
