---
layout: default
title: Features
permalink: features.html
background-class: features-background
body-class: features
---

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End-to-end
            <br/>Deep Learning
            <br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Platform
        </h1>

        <p class="lead">PyTorch enables fast, flexible experimentation and efficient production through a hybrid front-end, distributed training, and ecosystem of tools and libraries.
        </p>

        <a href="{{ site.baseurl }}/get-started" class="btn btn-lg with-right-arrow btn-white">
            Get Started
        </a>
    </div>
</div>

{% assign features = site.features | sort: 'order' %}

<div class="main-content-wrapper">
  <div class="main-content">
    <div class="container">
      <!-- START CONTENT -->

      {% for feature in features %}
        <div class="row features-row">
        {% capture odd_or_even %}{% cycle 'odd', 'even' %}{% endcapture %}

        {% if odd_or_even == 'odd' %}
          <div class="col-md-6">
            <div class="feature-content">
             <div class="feature-content-holder">
               {{ feature.snippet | markdownify }}
             </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="feature-content">
              <h3>{{ feature.title }}</h3>
              {{ feature.content }}
            </div>
          </div>
        {% else %}
          <div class="col-md-6">
            <div class="feature-content">
              <h3>{{ feature.title }}</h3>
              {{ feature.content }}
            </div>
          </div>

          <div class="col-md-6">
            <div class="feature-content">
             <div class="feature-content-holder">
               {{ feature.snippet | markdownify }}
             </div>
            </div>
          </div>
        {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include quick_start_module.html %}
