---
layout: default
title: Get Started
permalink: get-started.html
background-class: get-started-background
body-class: get-started
---

{% assign items = site.tutorials | where: "category","get-started" %}

<div class="jumbotron jumbotron-fluid on-dark-background">
  <div class="container">
    <h1>Get<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Started</h1>

    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>

<div class="main-content-wrapper">
  <div class="main-content">
      <div class="container-fluid nav-menu-wrapper">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light main-content-menu">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#articleNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="articleNavDropdown">
                <ul class="navbar-nav">
                  {% for item in items %}
                    <li class="nav-item">
                      <a class="nav-link" data-id="{{ item.slug }}" >{{ item.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
          </nav>
        </div>
      </div>

    <div class="container">


      <!-- START CONTENT -->

        {% for item in items %}
        <div class="article-wrapper" data-id="{{ item.slug }}">
          <article class="pytorch-article">
            {{ item.content }}
          </article>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // This page includes content that is hidden from view until clicked in the article menu.
  // This ensures that named links display the correct content on page load
  var pageHash = window.location.hash.replace(/^#/, '');
  var defaultArticleId = $(".main-content-menu .nav-link:first").data("id");

  if (pageHash) {
    var $articleWithId = $("#" + pageHash).closest(".article-wrapper");
    var articleID = $articleWithId.data("id");

    showArticle(articleID);
    highlightNavItem(articleID);
  } else {
    showArticle(defaultArticleId);
    highlightNavItem(defaultArticleId);
  }

  $(".main-content-menu .nav-item").on('click', function(e) {
    e.preventDefault();
    var id = $(this).children(".nav-link").data('id');

    showArticle(id);
    $(".main-content-menu .nav-item").removeClass("nav-select");
    $(this).addClass("nav-select");
  });

  function showArticle(id) {
    $(".article-wrapper").hide();
    $(".article-wrapper[data-id='" + id + "']").show();
  }

  function highlightNavItem(id) {
    $(".main-content-menu .nav-link[data-id='" + id + "']").parent(".nav-item").addClass("nav-select");
  }
</script>
<script src="{{ site.baseurl }}/assets/quick-start-module.js"></script>
