---
layout: default
background-class: home-page-background
body-class: homepage
display-news-banner: true
---

<div class="jumbotron jumbotron-fluid on-dark-background">
  <div class="container">
    <h1><img src="{{ site.baseurl }}/assets/images/logo-white.svg" width="275px" alt="PyTorch logo"/><br />Get Started</h1>

    <p class="lead">Choose Your Path: Install PyTorch Locally or Launch Instantly on Supported Cloud Platforms</p>

    <a href="/get-started" class="btn btn-lg with-right-arrow" data-cta="join">
      Get started
    </a>
  </div>
</div>

<div class="main-content-wrapper">

  <div class="container homepage-box-module">
    <div class="row">
      <div class="col-md">
        <h3>2024 PyTorch Conference</h3>
        <p>
          Call for proposals for PyTorch Conference 2024 are live. Save on Early Bird Registration.
        </p>
        <p>
          <a href="https://hubs.la/Q02sr1cw0">Full details + guidelines</a>
        </p>
      </div>
      <div class="col-md">
        <h3>PyTorch 2.4</h3>
        <p>
          PyTorch 2.4 adds support for the latest version of Python (3.12) for torch.compile.
        </p>
        <p>
          <a href="/blog/pytorch2-4/">Learn More</a>
        </p>
      </div>
      <div class="col-md">
        <h3>Membership Available</h3>
        <p>
          Become an integral part of the PyTorch Foundation, to build and shape the future of AI.
        </p>
        <p>
          <a href="/join">Join</a>
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="{{ site.baseurl }}/get-started" class="btn btn-lg with-right-arrow module-button">
          Get Started
        </a>
      </div>
    </div>
  </div>


  <div class="container homepage-feature-module key-features-module">

    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h2>Key Features &amp;<br />Capabilities</h2>

            <a href="{{ site.baseurl }}/features" class="btn btn-lg with-right-arrow module-button">
              See all Features
            </a>
          </div>
        </div>

        <div class="row key-features-boxes">
          {% assign features = site.features | where: "featured-home", true | sort: 'order' %}

          {% for feature in features %}
            <div class="col-md-3 key-feature-box">
              <h5>{{ feature.title }}</h5>
              <p>{{ feature.summary-home }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% include quick_start_module.html %}

  <div class="homepage-feature-module community-module container-fluid">
      <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Ecosystem </h2>
          <h5>Feature Projects</h5>

          <a href="{{ site.baseurl }}/ecosystem" class="btn btn-lg with-right-arrow module-button">
            See all Projects
          </a>

        </div>
        <div class="col-md-8">
          <p class="h2-subheadline">Explore a rich ecosystem of libraries, tools, and more to support development.</p>
        </div>
      </div>

      <div class="row ecosystem-row">
        {% assign ecosystems = site.ecosystem | where: "featured-home", true | sort: 'order' %}
        {% for item in ecosystems %}
        <div class="col-md-4">
          <div class="card ecosystem-card">
            {% if item.external %}
              <a href="{{ item.link }}" target="_blank">
            {% else %}
              <a href="{{ site.baseurl }}{{ item.url }}">
            {% endif %}
              <div class="card-body {{ item.logo-class }} {% if item.external %}external{% endif %}">
                <h4>{{ item.title }}</h4>
                <p class="card-summary">{{ item.summary-home }}</p>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>

      <div id="community-module" class="row">
        <div class="col-md-12 community-heading">
          <h2>Community</h2>

        </div>
        <div class="col-md-8">
          <p class="h2-subheadline">Join the PyTorch developer community to contribute, learn, and get your questions answered.</p>
        </div>
      </div>

      <div class="row resources">
        {% assign resources = site.resources | where: "featured-home",true | sort: 'order' %}

        {% for resource in resources %}
          {% assign card_title = resource.title | split: ' ' %}
          <div class="col-md-4">
          <div class="card resource-card {{ resource.class }}">
            <!-- Cards with the pytorch-resource class also have a pytorch-discuss class.
                These two classes along with the discuss class allow us to stylize the second word in the card header so that it features orange text.
               -->
            {% if resource.class == "pytorch-resource" %}
              {% if resource.external %}
                <a href="{{ resource.link }}" class="pytorch-discuss" target="_blank">
              {% else %}
                <a href="{{ resource.link }}" class="pytorch-discuss">
              {% endif %}
              <div class="card-body">
                <h4>{{ card_title[0] }}<span class="discuss">{{ card_title[1] }}</span></h4>
            {% else %}
              {% if resource.external %}
                <a href="{{ resource.link }}" target="_blank">
              {% else %}
                <a href="{{ resource.link }}">
              {% endif %}
              <div class="card-body">
                <h4>{{ card_title }}</h4>
            {% endif %}
                <p class="card-summary">{{ resource.summary-home }}</p>
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>


    </div>
  </div>
</div>

  <div class="homepage-bottom-wrapper">
    <div class="homepage-feature-module pytorch-users-module container">
    <div class="row">
      <div class="col-md-12 university-testimonials">
        <h2>Companies &amp; Universities<br />Using PyTorch</h2>

        <!-- Temporarily hiding button since there isn't a 'Stories' page
        <a href="{{ site.baseurl }}/features" class="btn btn-lg with-right-arrow module-button">
          See all Stories
        </a> -->

        <div class="row university-testimonials-content">
          {% assign case_studies = site.case_studies | where: "featured-home", true | sort: "order" %}

          {% for case_study in case_studies %}
            <div class="col-md-4">
              <img src="{{ site.baseurl }}/{{ case_study.logo }}" class="img-fluid" width="180">
              <p>{{ case_study.excerpt }}</p>
              <a href="{{ case_study.link }}" class="btn btn-lg with-right-arrow">
                Learn More
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    </div>
  </div>
</div>


<!-- Start Load Tweets -->

<div id="twitter-widget">
  <a class="twitter-timeline"
    href="https://twitter.com/pytorch"
    data-height="0"
    data-chrome="noheader nofooter noborders transparent noscrollbar"
    data-link-color="#e44c2c"
    data-tweet-limit="3"
    data-border-color="#a80000"
    data-dnt="true">
  </a>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="{{ site.baseurl }}/assets/load-tweets.js"></script>
<script type="text/javascript">twitter.bind();</script>

<!-- End Load Tweets -->

<!-- Load JS for pagination -->

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script list-id="news-items" display-count="1" pagination="true" src="{{ site.baseurl }}/assets/filter-hub-tags.js"></script>
