---
layout: default
background-class: home-page-background
body-class: homepage
---

<div class="jumbotron jumbotron-fluid on-dark-background">
  <div class="container">
    <h1>From<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Research To<br />Production</h1>

    <p class="lead">An open source deep learning platform that provides a seamless path from research prototyping to production deployment.</p>

    <a href="{{ site.baseurl }}/get-started" class="btn btn-lg with-right-arrow">
      Get Started
    </a>
  </div>
</div>


<div class="main-content-wrapper">
  <div class="container homepage-feature-module key-features-module">
    <div class="row">
      <div class="col-md-12">
        <h2>Key Features &amp;<br />Capabilities</h2>

        <a href="{{ site.baseurl }}/features" class="btn btn-lg with-right-arrow module-button">
          See all Features
        </a>
      </div>
    </div>

    <div class="row key-features-boxes">
      {% assign features = site.features | where: "featured-home", true | sort: 'order' %}

      {% for feature in features %}
        <div class="col-md-3 key-feature-box">
          <h5>{{ feature.title }}</h5>
          <p>{{ feature.summary-home }}</p>
        </div>
      {% endfor %}
    </div>
  </div>

  {% include quick_start_module.html %}

  <div class="homepage-feature-module community-module container-fluid">
      <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Ecosystem </h2>

          <a href="{{ site.baseurl }}/ecosystem" class="btn btn-white btn-lg with-right-arrow module-button">
            See all Projects
          </a>

        </div>
        <div class="col-md-8">
          <p class="h2-subheadline">Explore a rich ecosystem of libraries, tools, and more to support development.</p>
        </div>
      </div>

      <div class="row">
        {% assign ecosystems = site.ecosystem | where: "featured-home", true | sort: 'order' %}
        {% for item in ecosystems %}
        <div class="col-md-4">
          <div class="card ecosystem-card">
            {% if item.external %}
              <a href="{{ item.link }}" target="_blank">
            {% else %}
              <a href="{{ site.baseurl }}{{ item.url }}">
            {% endif %}
              <div class="card-body {{ item.logo-class }} {% if item.external %}external{% endif %}">
                <h4>{{ item.title }}</h4>
                <p class="card-summary">{{ item.summary-home }}</p>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="row">
        <div class="col-md-12 community-heading">
          <h2>Community</h2>

        </div>
        <div class="col-md-8">
          <p class="h2-subheadline">Join the PyTorch developer community to contribute, learn, and get your questions answered.</p>
        </div>
      </div>

      <div class="row resources">
        {% assign resources = site.resources | where: "featured-home",true | sort: 'order' %}

        {% for resource in resources %}
          {% assign card_title = resource.title | split: ' ' %}
          <div class="col-md-4">
          <div class="card resource-card {{ resource.class }}">
            <!-- Cards with the pytorch-resource class also have a pytorch-discuss class.
                These two classes along with the discuss class allow us to stylize the second word in the card header so that it features orange text.
               -->
            {% if resource.class == "pytorch-resource" %}
              {% if resource.external %}
                <a href="{{ resource.link }}" class="pytorch-discuss" target="_blank">
              {% else %}
                <a href="{{ resource.link }}" class="pytorch-discuss">
              {% endif %}
              <div class="card-body">
                <h4>{{ card_title[0] }}<span class="discuss">{{ card_title[1] }}</span></h4>
            {% else %}
              {% if resource.external %}
                <a href="{{ resource.link }}" target="_blank">
              {% else %}
                <a href="{{ resource.link }}">
              {% endif %}
              <div class="card-body">
                <h4>{{ card_title }}</h4>
            {% endif %}
                <p class="card-summary">{{ resource.summary-home }}</p>
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>

        {% capture placeholder %}Enter your email address to join our newsletter{% endcapture %}
        {% include newsletter_subscribe_form.html placeholder=placeholder %}

    </div>
  </div>
</div>

  <div class="homepage-feature-module pytorch-users-module container">
    <div class="row">
      <div class="col-md-12 university-testimonials">
        <h2>Companies &amp; Universities<br />Using PyTorch</h2>

        <!-- Temporarily hiding button since there isn't a 'Stories' page
        <a href="{{ site.baseurl }}/features" class="btn btn-lg with-right-arrow module-button">
          See all Stories
        </a> -->

        <div class="row university-testimonials-content">
          {% for item in site.case_studies limit:3 %}
            <div class="col-md-4">
              <img src="{{ site.baseurl }}/{{ item.logo }}" class="img-fluid" width="140">
              <p>{{ item.excerpt }}</p>
              <!-- Temporarily hiding link out to case studies for time being -->
<!--               <a href="{{ site.baseurl }}{{ item.url }}" class="btn btn-lg with-right-arrow">
                Read More
              </a> -->
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-md-12 follow-us-on-twitter">
        <h2>Follow Us on Twitter</h2>
        <div data-target="twitter-timeline">Loading Twitter timeline...</div>
      </div>
    </div>
  </div>
</div>


<!-- Start Load Tweets -->

<div id="twitter-widget">
  <a class="twitter-timeline"
    href="https://twitter.com/pytorch"
    data-height="0"
    data-chrome="noheader nofooter noborders transparent noscrollbar"
    data-link-color="#e44c2c"
    data-tweet-limit="3"
    data-border-color="#a80000"
    data-dnt="true">
  </a>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="{{ site.baseurl }}/assets/load-tweets.js"></script>
<script type="text/javascript">twitter.bind();</script>

<!-- End Load Tweets -->
