---
layout: default
background-class: home-page-background
body-class: homepage
---
{% assign resources = site.resources | sort: 'order' %}

<div class="jumbotron jumbotron-fluid on-dark-background">
  <div class="container">
    <h1>A<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seamless<br />Path</h1>

    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <a href="{{ site.baseurl }}/get-started" class="btn btn-lg with-right-arrow">
      Get Started
    </a>
  </div>
</div>

<div class="main-content-wrapper">
  <div class="container homepage-feature-module key-features-module">
    <div class="row">
      <div class="col-md-12">
        <h2>Key Features &amp;<br />Capabilities</h2>

        <a href="{{ site.baseurl }}/features" class="btn btn-lg with-right-arrow module-button">
          See all Features
        </a>
      </div>
    </div>

    <div class="row key-features-boxes">
      <div class="col-md-3 key-feature-box">
        <h5>Hybrid Front-End</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla</p>
      </div>

      <div class="col-md-3 key-feature-box">
        <h5>Distributed Training</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla</p>
      </div>

      <div class="col-md-3 key-feature-box">
        <h5>Python First</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla</p>
      </div>

      <div class="col-md-3 key-feature-box">
        <h5>Tools &amp; Libraries</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla</p>
      </div>

      <div class="col-md-3 key-feature-box">
        <h5>ONNX Native Support</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla</p>
      </div>

      <div class="col-md-3 key-feature-box">
        <h5>Cloud Partners</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla</p>
      </div>

      <div class="col-md-3 key-feature-box">
        <h5>Udacity Courses</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla</p>
      </div>

      <div class="col-md-3 key-feature-box">
        <h5>Colab</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla</p>
      </div>
    </div>
  </div>

  <div class="homepage-feature-module community-module container-fluid bg-medium-grey">
      <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Showcased Projects </h2>

          <a href="{{ site.baseurl }}/features" class="btn btn-white btn-lg with-right-arrow module-button">
            See all Projects
          </a>

        </div>
        <div class="col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac velit vel elit sollicitudin mattis nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac velit vel elit sollicitudin mattis nec.</p>
        </div>
      </div>

      <div class="row">
        {% for item in site.ecosystem limit:3 %}
        <div class="col-md-4">
          <div class="card ecosystem-card">
            <a href="{{ site.baseurl }}{{ item.url }}">
              <div class="card-body {{ item.slug }}">
                <h4>{{ item.title }}</h4>
                <p class="card-summary">{{ item.summary }}</p>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="row">
        <div class="col-md-12 community-heading">
          <h2>Our Community</h2>

        </div>
        <div class="col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac velit vel elit sollicitudin mattis nec. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac velit vel elit sollicitudin mattis nec.</p>
        </div>
      </div>

      <div class="row resources">
        {% for resource in resources limit: 3 %}
          {% assign card_title = resource.title | split: ' ' %}
          <div class="col-md-4">
          <div class="card resource-card {{ resource.class }}">
            <!-- Cards with the pytorch-resource class also have a pytorch-discuss class.
                These two classes along with the discuss class allow us to stylize the second word in the card header so that it features orange text.
               -->
            {% if resource.class == "pytorch-resource" %}
            <a href="{{ resource.link }}" class="pytorch-discuss" target="_blank">
              <div class="card-body">
                <h4>{{ card_title[0] }}<span class="discuss">{{ card_title[1] }}</span></h4>
            {% else %}
            <a href="{{ resource.link }}" target="_blank">
              <div class="card-body">
                <h4>{{ card_title }}</h4>
            {% endif %}
                <p class="card-summary">{{ resource.summary }}</p>
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>

        {% capture placeholder %}Enter your email address to join our newsletter{% endcapture %}
        {% include newsletter_subscribe_form.html placeholder=placeholder %}

    </div>
  </div>
</div>

  <div class="homepage-feature-module pytorch-users-module container">
    <div class="row">
      <div class="col-md-12 university-testimonials">
        <h2>Companies &amp; Universities<br />Using Pytorch</h2>

        <a href="{{ site.baseurl }}/features" class="btn btn-lg with-right-arrow module-button">
          See all Stories
        </a>

        <div class="row university-testimonials-content">
          {% for item in site.case_studies limit:3 %}
            <div class="col-md-4">
              <h6 class="case-study-title">{{ item.title }}</h6>
              <p>{{ item.excerpt }}</p>
              <a href="{{ site.baseurl }}{{ item.url }}" class="btn btn-lg with-right-arrow">
                Read More
              </a>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-md-12 follow-us-on-twitter">
        <h2>Follow Us on Twitter</h2>
        <div data-target="twitter-timeline">Loading Twitter timeline...</div>
      </div>
    </div>
  </div>
</div>

{% include quick_start_module.html %}

<!-- Start Load Tweets -->

<div id="twitter-widget">
  <a class="twitter-timeline"
    href="https://twitter.com/pytorch"
    data-height="0"
    data-chrome="noheader nofooter noborders transparent noscrollbar"
    data-link-color="#e44c2c"
    data-tweet-limit="3"
    data-border-color="#a80000"
    data-dnt="true">
  </a>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="{{ site.baseurl }}/assets/load-tweets.js"></script>
<script type="text/javascript">twitter.bind();</script>

<!-- End Load Tweets -->
