---
layout: default
title: Developer's Day 2021
permalink: ecosystem/ptdd/2021
background-class: ecosystem-join-background
body-class: ecosystem
---

<div class="jumbotron jumbotron-fluid contributor-jumbotron">
  <div class="contributor-jumbo-text container">
    <h1>PyTorch Developer Day</h1>
    <h1 class="lead">2021</h1>
  </div>
</div>

<div class="main-content-wrapper">
  <div class="main-content">
    <div class="container">
      <p class="lead">
        PYTORCH DEVELOPER DAY: DAY 2 INFORMATION
      </p>
      <p class="lead">
        Community Talks:
      </p>
      <ul class="lead">
        <li>
          <a href="https://www.youtube.com/watch?v=7yQ4FgtYvj8"
            >PyTorch YouTube</a
          >
        </li>
      </ul>
      <div class="input-group mb-3">
        <input
          type="text"
          id="pted-filter"
          placeholder="Filter..."
          class="form-control"
        />
      </div>
      <hr />
      <div class="row">
        <h1>Posters</h1>
        {% for poster in site.data.ecosystem.ptdd['2021'].posters %}
        <div class="card">
          <div class="card-body">
            {% if poster.poster_link %}
            <a href="{{poster.poster_link}}"
              ><img src="{{ poster.thumbnail_link }}"
            /></a>
            {% endif %}
            <h5 class="card-title">
              {% if poster.poster_link %}
              <a href="{{ poster.poster_link }}">{{ poster.title }}</a>
              {% else %} {{ poster.title }} {% endif %}
            </h5>
            <h6 class="card-subtitle">{{ poster.authors | join: ", "}}</h6>
            <p class="card-text">{{ poster.description }}</p>
            {% if poster.link %}
            <p class="card-text">
              <a href="{{poster.link}}">{{ poster.link }}</a>
            </p>
            {% endif %}
            <p class="card-text">
              <small class="text-muted">{{ poster.categories }}</small>
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  // this isn't efficient please don't use for more than a few hundred items
  $("#pted-filter").on("keyup", function () {
    var input = $(this).val().toLowerCase();

    $(".card").filter(function () {
      $(this).toggle($(this).text().toLowerCase().indexOf(input) > -1);
    });
  });
</script>