version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:2.5.1-node
    steps:
      - checkout
      - restore_cache:
          keys:
            - pytorch-gem-cache-{{ checksum "Gemfile.lock" }}
            - pytorch-gem-cache-
      - run:
          name: Bundle Install
          command: bundle install --path vendor/bundle
      - save_cache:
          key: pytorch-gem-cache-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - restore_cache:
          keys:
            - pytorch-yarn-{{ checksum "yarn.lock" }}
            - pytorch-yarn-
      - run:
          name: Yarn Install
          command: yarn install --cache-folder ~/.cache/yarn
      - run:
          name: Notedown Install
          command: sudo apt update && sudo apt install python-pip && sudo -H pip install notedown pyyaml -Iv nbformat==4.4.0
      - save_cache:
          key: pytorch-yarn-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run:
          name: Configure CircleCI Bot
          command: |
            git config --global user.email "facebook-circleci-bot@users.noreply.github.com"
            git config --global user.name "Website Deployment Script"
      - run:
          name: Build Jekyll site and push to master
          command: ./scripts/deploy-site.sh build

workflows:
  version: 2
  workflow-build:
    jobs:
      - build:
          filters:
            branches:
              only: site
