{% if site.tags | size > 0 %}
  {% capture _site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %}###{% endunless %}{% endfor %}{% endcapture %}
  {% assign tags_alphabetically_sorted = _site_tags | split:'###' | sort %}
  <script>
    jQuery(document).ready(function () {
      jQuery('.blog-filter-menu .blog-filter').click(function (e) {
        jQuery(this).siblings().removeClass(['selected', 'all-tag-selected']);

        if(jQuery(this).data("tag") == "all") {
          jQuery(this).addClass("all-tag-selected");
        } else {
          jQuery(this).addClass("selected");
        }
      });
    });
  </script>
  <style>
    .blog-filter-menu .filter-btn {
      color: #979797;
      border: 1px solid #979797;
      display: inline-block;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      margin-bottom: 5px;
    }

    .blog-filter-menu .all-tag-selected {
      background-color: #979797;
      color: #ffffff;
    }

    .blog-filter-menu .filter-btn.selected {
      background-color: #e44c2c;
      border: 1px solid #e44c2c;
      color: #ffffff;
    }

    .blog-filter-menu .blog-filter {
      cursor: pointer;
    }

    .blog-tag-container {
      display: none;
    }
  </style>
  <div class="blog-filter-menu">
    <div class="blog-filter filter-btn all-tag-selected" data-tag="all">All</div>
    {% for tag in tags_alphabetically_sorted %}
      <div class="blog-filter filter-btn filter" data-tag="{{ tag }}">{{ tag }}</div>
    {% endfor %}
  </div>
  {% for tag in site.tags %}
    <div class="blog-tag-container" data-tag="{{ tag[0] }}">
      {% for post in tag[1] %}

        {% include blog_post_nav.html %}
      
      {% endfor %}
    </div>
  {% endfor %}
  </div>
  {% endif %}