{% if site.tags | size > 0 %}
  {% capture _site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %}###{% endunless %}{% endfor %}{% endcapture %}
  {% assign tags_alphabetically_sorted = _site_tags | split:'###' | sort %}
  <script>
    jQuery(document).ready(function () {
      jQuery('.blog-filter-menu .blog-filter').click(function (e) {
        jQuery(this).siblings().removeClass(['selected', 'all-tag-selected']);

        if(jQuery(this).data("tag") == "all") {
          jQuery(this).addClass("all-tag-selected");
          
          jQuery('.blog-tag-container').fadeOut('fast', function () {
            jQuery('.blog-posts-nav').fadeIn('fast');
            jQuery('ul.pagination').fadeIn('fast');
          });
        } else {
          jQuery(this).addClass("selected");
          
          let this_obj = this;
          jQuery('.blog-tag-container div[data-tag="'+jQuery(this).data("tag")+'"]').siblings().fadeOut('fast', function () {
            jQuery('.blog-tag-container div[data-tag="'+jQuery(this_obj).data("tag")+'"]').fadeIn('fast');
          });

          jQuery('.blog-posts-nav, ul.pagination').fadeOut('fast', function () {
            jQuery('.blog-tag-container').fadeIn('fast');
          });
        }
      });
    });
  </script>
  <style>
    .blog-container, .blog-tag-container {
      width: 100%;
    }

    .blog-container .blog-vertical .blog-filter-menu .filter-btn {
      color: #979797;
      border: 1px solid #979797;
      display: inline-block;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      margin-bottom: 5px;
    }

    .blog-container .blog-vertical .blog-filter-menu .all-tag-selected {
      background-color: #979797;
      color: #ffffff;
    }

    .blog-container .blog-vertical .blog-filter-menu .filter-btn.selected {
      background-color: #e44c2c;
      border: 1px solid #e44c2c;
      color: #ffffff;
    }

    .blog-container .blog-vertical .blog-filter-menu .blog-filter {
      cursor: pointer;
    }

    .blog-container .blog-vertical .blog-tag-container {
      display: none;
    }
  </style>
  <div class="blog-filter-menu">
    <div class="blog-filter filter-btn all-tag-selected" data-tag="all">All</div>
    {% for tag in tags_alphabetically_sorted %}
      <div class="blog-filter filter-btn filter" data-tag="{{ tag }}">{{ tag }}</div>
    {% endfor %}
  </div>
  <div class="blog-tag-container">
    {% for tag in site.tags %}
      <div data-tag="{{ tag[0] }}">
        {% for post in tag[1] %}

          {% include blog_post_nav.html %}
        
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endif %}