display_post_categories.count: {{ display_post_categories.count }}

  <style>
    .blog-filter-menu .filter-btn {
      color: #979797;
      border: 1px solid #979797;
      display: inline-block;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      margin-bottom: 5px;
    }

    .blog-filter-menu .all-tag-selected {
      background-color: #979797;
      color: #ffffff;
    }

    .blog-filter-menu .blog-filter {
      cursor: pointer;
    }
  </style>
  <div class="blog-filter-menu">
    <div class="blog-filter filter-btn all-tag-selected" data-tag="all">All</div>
    {% for category in display_post_categories %}
      {% if category %}
        <div class="blog-filter filter-btn filter" data-tag="{{ category }}">{{ category }}</div>
      {% endif %}
    {% endfor %}
  </div>
