<img class="blog-image" data-toggle="modal" data-target="#{{ include.target }}" src="{{ site.baseurl }}/assets/images/{{ include.image }}" width="100%">

<div class="container">
  <div class="modal fade" id="{{ include.target }}" role="dialog">
    <div class="blog-modal modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <img data-toggle="modal" data-target="#{{ include.target }}" src="{{ site.baseurl }}/assets/images/{{ include.image }}" width="100%">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/js-image-zoom/js-image-zoom.min.js"></script>
