<div class="compact-hub-index-cards" id="hub-cards">
  <div class="list compact-cards cards-left">
  {% assign hub = site.hub | where: "category", include.category | sort: "order" %}

  {% for item in hub %}
    <div class="col-md compact-hub-card-wrapper" data-item-count="{{ forloop.index }}" data-tags="{{ item.tags | join: ',' }}">
      <div class="compact-model-card">
        <a href="{{ site.baseurl }}{{ item.url }}">
          <div class="compact-card-body">
            <div class="compact-card-container">
              <div class="compact-hub-card-title-container">
                <h4 class="compact-item-title">{{ item.title }}</h4>
                <div class="detail-stars-container col-2">
                  <div class="github-stars-image">
                    <img src="/assets/images/github-star.svg">
                  </div>
                  <div class="github-stars-count"></div>
                </div>
              </div>
              <p class="compact-card-summary card-summary col-6">{{ item.summary }}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
