<div id="mc_embed_signup">
  <form
    action="https://twitter.us14.list-manage.com/subscribe/post?u=75419c71fe0a935e53dfa4a3f&id=91d0dccd39"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="email-subscribe-form validate deep-learning-form"
    target="_blank">
    <div id="mc_embed_signup_scroll" class="email-subscribe-form-fields-wrapper">
      <div class="mc-field-group">
        <label for="mce-EMAIL" style="display:none;">Email Address</label>
        <input type="email" value="" name="EMAIL" class="required email deep-learning-input" id="mce-EMAIL" placeholder="Enter Your Email">
      </div>

      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"><a href="{{ site.baseurl}}/deep-learning-with-pytorch-thank-you" target="_blank"></a></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_75419c71fe0a935e53dfa4a3f_91d0dccd39" tabindex="-1" value=""></div>
      <button id="deep-learning-button" class="btn btn-lg with-right-arrow module-button email-subscribe-button">Download Book</button>
    </div>
  </form>
</div>

<script src="//cdn.jsdelivr.net/gh/cferdinandi/bouncer@1.0.5/dist/bouncer.polyfills.min.js"></script>
<script type='text/javascript'>
  var bouncer = new Bouncer("#mc-embedded-subscribe-form", {
  // Don't automatically submit the form if it's verified
  disableSubmit: true
  });
  document.addEventListener(
    "bouncerFormValid",
    function(event) {
      var $form = $(event.target);
      var $button = $form.find(".email-subscribe-button");

      $.ajax({
        type: "GET",
        url:
          "https://twitter.us14.list-manage.com/subscribe/post-json?u=75419c71fe0a935e53dfa4a3f&amp;id=91d0dccd39&c=?",
        data: $form.serialize(),
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function(data) {
          if (data.result == "success") {
            window.location.href =
              "{{site.baseurl}}/deep-learning-with-pytorch-thank-you";
          } else {
            if (data.msg.includes("is already subscribed to list")) {
              window.location.href =
                "{{site.baseurl}}/deep-learning-with-pytorch-thank-you";
            } else {
              $form
                .find("#mce-error-response")
                .html("There was an error submitting the form. Please try again.")
                .show();
            }
          }
        },
        error: function(e) {
          window.location.href =
            "https://twitter.us14.list-manage.com/subscribe/post-json?u=75419c71fe0a935e53dfa4a3f&amp;id=91d0dccd39&c=?";
        }
      });
    },
    false
  );
</script>
