<div class="col-md-12">
  <form class="ecosystem-form" id="mc-embedded-subscribe-form-ecosystem" novalidate>
    <div id="mc_embed_signup_scroll">
      <h3>Project Overview</h3>

      <div class="mc-field-group">
        <label for="mce-MMERGE10">Name: <span class="asterisk">*</span></label>
        <input type="text" value="" name="MMERGE10" class="required" id="mce-MMERGE10" required>
      </div>

      <div class="mc-field-group">
        <label for="mce-EMAIL">Email Address: <span class="asterisk">*</span></label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
      </div>

      <div class="mc-field-group">
        <label for="mce-MMERGE5">Project Summary and Goals:  <span class="asterisk">*</span></label>
        <textarea type="text" value="" name="MMERGE5" class="required large-input" id="mce-MMERGE5" required></textarea>
      </div>

      <div class="mc-field-group">
        <label for="mce-MMERGE1">Are there currently other projects similar to yours? If yes, what are they?</label>
        <textarea type="text" value="" name="MMERGE1" class="large-input" id="mce-MMERGE1" ></textarea>
      </div>

      <h3>Project Details</h3>

      <div class="mc-field-group">
        <label for="mce-MMERGE2">Repo URL: <span class="asterisk">*</span></label>
        <input type="url" value="" name="MMERGE2" class="required url" id="mce-MMERGE2" placeholder="http://" required>
      </div>

      <div class="mc-field-group">
        <label for="mce-MMERGE3">Project license: <span class="asterisk">*</span></label>
        <input type="text" value="" name="MMERGE3" class="required" id="mce-MMERGE3" required>
      </div>

      <div class="mc-field-group">
        <label for="mce-MMERGE4">GitHub handles of the project maintainers: <span class="asterisk">*</span></label>
        <textarea type="text" value="" name="MMERGE4" class="required large-input" id="mce-MMERGE4" required></textarea>
      </div>

      <div class="mc-field-group">
        <label for="mce-MMERGE6">Is there a corporate or academic entity backing the project?<br> If yes, which one?</label>
        <textarea type="text" value="" name="MMERGE6" class="large-input" id="mce-MMERGE6" ></textarea>
      </div>

      <h3>User Experience & Documentation</h3>

      <div class="mc-field-group">
        <label for="mce-MMERGE7">Do you have a set of getting started tutorials and complete documentation? <span class="asterisk">*</span></label>
        <textarea type="text" value="" name="MMERGE7" class="required large-input" id="mce-MMERGE7" required></textarea>
      </div>

      <div class="mc-field-group">
        <label for="mce-MMERGE8">How is continuous integration provided today? <span class="asterisk">*</span></label>
        <textarea type="text" value="" name="MMERGE8" class="required large-input" id="mce-MMERGE8" required></textarea>
      </div>

      <div class="mc-field-group">
        <label for="mce-MMERGE9">How long do you expect to maintain the project? <span class="asterisk">*</span></label>
        <textarea type="text" value="" name="MMERGE9" class="required large-input" id="mce-MMERGE9" required></textarea>
      </div>

      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_75419c71fe0a935e53dfa4a3f_a2d339b745" tabindex="-1" value=""></div>

      <div class="submit-field">
        <button type="submit" class="submit-project" id="submit-button" name="submit">Submit Project</button>
      </div>
    </div>
  </form>

  <div class="response" id="success-response" style="display:none">
      <h3>Thank you!</h3>
      <p>We'll get back to you soon with next steps.</p>
  </div>
</div>

<script src="//cdn.jsdelivr.net/gh/cferdinandi/bouncer@1.0.5/dist/bouncer.polyfills.min.js"></script>

<script type='text/javascript'>
  var bouncer = new Bouncer("#mc-embedded-subscribe-form-ecosystem", {
    // Don't automatically submit the form if it's verified
    disableSubmit: true
  });

  document.addEventListener('bouncerFormValid', function (event) {
    var $form = $(event.target);
    var $button = $form.find(".submit-project");

    $button.text("Submitting...").prop("disabled", true);

    $.ajax({
      type: "GET",
      url: "https://twitter.us14.list-manage.com/subscribe/post-json?u=75419c71fe0a935e53dfa4a3f&amp;id=a2d339b745&c=?",
      data: $form.serialize(),
      dataType: 'json',
      contentType: "application/json; charset=utf-8",
      success: function(data) {
        if (data.result == "success") {
          $('.join-intro').hide();
          $('.ecosystem-form').hide();
          $('#success-response').show();
          window.scrollTo(0, 0);
        } else {
            if (data.msg.includes("is already subscribed to list")) {
              $form.find("#mce-error-response").html("This email has already been used to submit a project. Please use a different email address.").show();
            }
            else {
              $form.find("#mce-error-response").html(data.msg).show();
            }
            $button.text("Submit Project").prop("disabled", false);
        }
      },
      error: function(e) {
        $form.find("#mce-error-response").text("There was an unknown error. Please try again.")
        $button.text("Submit Project").prop("disabled", false);
      }
    });
  }, false);
</script>
