<a id="dropdownSortLeft" data-toggle="dropdown" data-target="#dropdownSortMenuLeft" >
  Sort <img src="{{ site.baseurl }}/assets/images/filter-arrow.svg">
</a>

<div class="dropdown-menu sort-menu" id="#dropdownSortMenuLeft">
  <div class="ecosystem-filter-menu">
    <ul>
      <li>
        <a class="ecosystem-filter" id="sortLowLeft">GitHub Stars - Lowest</a>
      </li>

      <li>
        <a class="ecosystem-filter" id="sortHighLeft">GitHub Stars - Highest</a>
      </li>

      <li>
        <a class="ecosystem-filter" id="sortDateNew">Date Added - Newest</a>
      </li>

      <li>
        <a class="ecosystem-filter" id="sortDateOld">Date Added - Oldest</a>
      </li>
    </ul>
  </div>
</div>
