<div class="container-fluid article-page-module">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Educational Courses</h3>
        <a href="{{ site.external_urls.udacity_courses }}" class="btn btn-lg with-right-arrow module-button" target="_blank">
          See all Courses
        </a>
      </div>
    </div>

    <div class="row module-content-wrapper">
      {% assign courses = site.courses | sort: 'order' %}

      {% for course in courses limit: 4 %}
        <div class="col-md-3">
          <a href="{{ course.link }}" target="_blank">
            <img src="{{ course.thumbnail }}" />
            <h5>{{ course.title }}</h5>
            <p>{{ course.summary }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
