<div class="container-fluid docs-tutorials-resources">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <h2>Docs</h2>
        <p>Access comprehensive developer documentation for PyTorch</p>
        <a class="with-right-arrow" href="{{ site.baseurl }}/docs">View Docs</a>
      </div>

      <div class="col-md-4 text-center">
        <h2>Tutorials</h2>
        <p>Get in-depth tutorials for beginners and advanced developers</p>
        <a class="with-right-arrow" href="{{ site.external_urls.tutorials }}">View Tutorials</a>
      </div>

      <div class="col-md-4 text-center">
        <h2>Resources</h2>
        <p>Find development resources and get your questions answered</p>
        <a class="with-right-arrow" href="{{ site.baseurl }}/resources">View Resources</a>
      </div>
    </div>
  </div>
</div>

<footer class="site-footer">
  <div class="container footer-container">
    <div class="footer-logo-wrapper">
      <a href="{{ site.url }}{{ site.baseurl }}" class="footer-logo"></a>
    </div>

    <div class="footer-links-wrapper">
      <div class="footer-links-col">
        <ul>
          <li class="list-title"><a href="{{ site.url }}{{ site.baseurl }}">PyTorch</a></li>
          <li><a href="{{ site.baseurl }}/get-started">Get Started</a></li>
          <li><a href="{{ site.baseurl }}/features">Features</a></li>
          <li><a href="{{ site.baseurl }}/ecosystem">Ecosystem</a></li>
          <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
          <li><a href="{{ site.external_urls.contributing }}" target="_blank">Contributing</a></li>
        </ul>
      </div>

      <div class="footer-links-col">
        <ul>
          <li class="list-title"><a href="{{ site.baseurl }}/resources">Resources</a></li>
          <li><a href="{{ site.external_urls.tutorials }}">Tutorials</a></li>
          <li><a href="{{ site.baseurl }}/docs">Docs</a></li>
          <li><a href="{{ site.external_urls.discuss }}" target="_blank">Discuss</a></li>
          <li><a href="{{ site.external_urls.github_issues }}" target="_blank">GitHub Issues</a></li>
          <li><a href="{{ site.external_urls.slack }}" target="_blank">Slack</a></li>
        </ul>
      </div>

      <div class="footer-links-col follow-us-col">
        <ul>
          <li class="list-title">Stay Connected</li>
          <li>
            {% capture placeholder %}Email Address{% endcapture %}
            {% include newsletter_subscribe_form.html placeholder=placeholder %}
          </li>
        </ul>

        <div class="footer-social-icons">
          <a href="{{ site.external_urls.facebook }}" target="_blank" class="facebook"></a>
          <a href="{{ site.external_urls.twitter }}" target="_blank" class="twitter"></a>
        </div>
      </div>
    </div>
  </div>
  {% include google_pixel.html %}
</footer>

{% include mobile_menu.html %}

{% include footer_scripts.html %}

{% include cookie_banner.html %}
