<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico?">
  <title>PyTorch</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
  <script src="{{ site.baseurl }}/assets/vendor/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/vendor/popper.min.js"></script>
  <script src="{{ site.baseurl }}/assets/vendor/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/assets/vendor/anchor.min.js"></script>
</head>
