<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PyTorch</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
  <script src="{{ site.baseurl }}/assets/vendor/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/vendor/popper.min.js"></script>
  <script src="{{ site.baseurl }}/assets/vendor/bootstrap.min.js"></script>
</head>
