<nav class="navbar navbar-expand-lg navbar-light research-menu">
  {% include hub_model_tags.html category="researchers" %}
  <div id="hub-icons" class="hub-select-container col-5">

    {% if page.compact == true %}

      {% include hub_icons.html left-icon="full-hub-icon.svg" right-icon="compact-hub-icon-selected.svg" index-url="research-models" compact-url="research-models/compact" %}

    {% else %}

      {% include hub_icons.html left-icon="full-hub-icon-selected.svg" right-icon="compact-hub-icon.svg" index-url="research-models" compact-url="research-models/compact" %}

    {% endif %}
  </div>

  {% include hub_search.html %}

</nav>

<hr id="pagination-scroll" class="hub-divider">

{% if page.compact == true %}

  {% include compact_hub_cards.html category="researchers" %}

{% else %}

  {% include hub_cards.html category="researchers" %}

{% endif %}

<script src="{{ site.baseurl }}/assets/hub-search-bar.js"></script>
