<nav class="navbar navbar-expand-lg navbar-light research-menu">
  {% include hub_model_tags.html category="developers" %}
  <div id="hub-icons" class="hub-select-container col-5">

    {% if page.compact == true %}

      {% include hub_icons.html left-icon="full-hub-icon.svg" right-icon="compact-hub-icon-selected.svg" index-url="developer-models" compact-url="developer-models/compact" %}

    {% else %}

      {% include hub_icons.html left-icon="full-hub-icon-selected.svg" right-icon="compact-hub-icon.svg" index-url="developer-models" compact-url="developer-models/compact" %}

    {% endif %}

    {% include hub_sort.html %}

  </div>

  {% include hub_search.html %}

</nav>

<hr>

{% if page.compact == true %}

  {% include compact_hub_cards.html category="developers" %}

{% else %}

  {% include hub_cards.html category="developers" %}

{% endif %}

<script src="{{ site.baseurl }}/assets/hub-search-bar.js"></script>
<script src="{{ site.baseurl }}/assets/github-stars.js"></script>
