<div class="dropdown-menu" id="dropdownFilterTags">
  {% assign all_tags = site.hub | where: "category", include.category | map: "tags" | join: ',' | split: ',' | uniq | sort %}

  <div class="hub-filter-menu">
    <ul>
      <li>
        <a class="hub-filter" data-tag="all" href="{{ site.baseurl }}/hub/{{include.link}}">All</a>
      </li>
      {% for tag in all_tags %}
        <li>
          <a class="hub-filter" data-tag="{{ tag }}" href="{{ site.baseurl }}/hub/{{include.link}}/{{ tag }}">{{ tag | capitalize }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
