<div class="col-md-12 in-production-container">
    <div class="col-md-3 customer-stories-side-nav-container">
        {% include customer_stories_side_nav.html %}
    </div>
    <div class="col-md-9 in-production-info-container">
        <div id="in-production" class="row main-content blog-detail-content contributor-sidebar">
            <div class="col-md-8 offset-md-1 container">
                <h1>In production customer stories</h1>
                <h2>Computer vision</h2>
                <div id="computer-vision" class="in-production-section col-md-8 offset-md-1 container">
                    <div class="in-production-item">
                        <a class="link-0" href="#">link 0</a>
                    </div>
                </div>
                <h2>Natural language processing</h2>
                <div id="natural-language-processing" class="in-production-section col-md-8 offset-md-1 container">
                    <div class="in-production-item">
                        <a class="link-1" href="#">link 1</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>