<div class="col-md-12 item-1-customer-stories-container">
    <div class="col-md-3 customer-stories-side-nav-container">
        {% include customer_stories_side_nav.html %}
    </div>
    <div class="col-md-9 item-1-info-container">
        <div id="item-1" class="row main-content blog-detail-content contributor-sidebar">
            <div class="col-md-8 offset-md-1 container">
                <h1>In production customer stories</h1>
                {% assign computer_vision = site.customer_stories | where: "category", "computer-vision" %}
                {% capture now %}{{'now' | date: '%s' | plus: 0 %}}{% endcapture %}
                <h2>Computer vision</h2>
                {% for item in computer_vision %}
                {% capture date %}{{item.date | date: '%s' | plus: 0 %}}{% endcapture %}
                
                    <div id="{{ item.category | remove: " " }}" class="item-1-section col-md-8 offset-md-1 container">
                    {% assign computer_vision = site.customer_stories | where: "category", "computer-vision" %}
                        <div class="item-1-item">
                            <h3>{{ item.title }}</h3>
                        </div>
                    </div>

                {% endfor %}

                {% assign natural_language_processing = site.customer_stories | where: "category", "natural-language-processing" %}
                {% capture now %}{{'now' | date: '%s' | plus: 0 %}}{% endcapture %}
                <h2>Natural language processing</h2>
                {% for item in natural_language_processing %}

                    <div id="{{ item.category | remove: " " }}" class="item-1-section col-md-8 offset-md-1 container">
                    {% assign natural_language_processing = site.customer_stories | where: "category", "natural-language-processing" %}
                        <div class="item-1-item">
                            <h3>{{ item.title }}</h3>
                            <a class="{{ item-title }}" href="{{ item.link }}">{{ item.title }}</a>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </div>
</div>