<div id="col-md-12 customer-stories-container">
    <div class="col-md-3 customer-stories-side-nav-container">
        {% include customer_stories_side_nav.html %}
    </div>
    <div class="col-md-9 item-1-info-container">
        <div id="item-1" class="row main-content blog-detail-content contributor-sidebar">
            <div class="col-md-12 container">
                {% assign customer_stories = site.customer_stories | where: "category", "customer-story" | sort_natural: "date" | reverse %}
                {% capture now %}{{'now' | date: '%s' | plus: 0 %}}{% endcapture %}
                {% capture date %}{{item.date | date: '%s' | plus: 0 %}}{% endcapture %}
            </div>
        </div>
    </div>
</div>