<div id="item-2" class="item-1-section hidden">
    <div id="col-md-12 item-2-container">
        <div class="col-md-3 item-2-side-nav-container">
            {% include customer_stories_side_nav.html %}
        </div>
        <div class="col-md-9 item-2-info-container">
            <div id="item-2" class="row main-content blog-detail-content">
                <h1>Here goes item 2 things</h1>
                
                <h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    In vestibulum volutpat gravida. Vivamus vel urna sed eros hendrerit blandit. 
                    Morbi quis feugiat erat, non tristique nunc.
                </h2>
                <h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    In vestibulum volutpat gravida. Vivamus vel urna sed eros hendrerit blandit. 
                    Morbi quis feugiat erat, non tristique nunc.
                </h2>
                <h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    In vestibulum volutpat gravida. Vivamus vel urna sed eros hendrerit blandit. 
                    Morbi quis feugiat erat, non tristique nunc.
                </h2>
                <h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    In vestibulum volutpat gravida. Vivamus vel urna sed eros hendrerit blandit. 
                    Morbi quis feugiat erat, non tristique nunc.
                </h2>
            </div>
        </div>
    </div>
</div>