<div id="col-md-12 item-1-container">
    <div class="col-md-3 customer-stories-side-nav-container">
        {% include customer_stories_side_nav.html %}
    </div>
    <div class="col-md-9 item-1-info-container">
        <div id="item-1" class="row main-content blog-detail-content contributor-sidebar">
            <div class="col-md-8 container">
                <h1>Here goes item 1 things</h1>
                <h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    In vestibulum volutpat gravida. Vivamus vel urna sed eros hendrerit blandit. 
                    Morbi quis feugiat erat, non tristique nunc.
                </h2>
                <h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    In vestibulum volutpat gravida. Vivamus vel urna sed eros hendrerit blandit. 
                    Morbi quis feugiat erat, non tristique nunc.
                </h2>
                <h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    In vestibulum volutpat gravida. Vivamus vel urna sed eros hendrerit blandit. 
                    Morbi quis feugiat erat, non tristique nunc.
                </h2>
                <h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    In vestibulum volutpat gravida. Vivamus vel urna sed eros hendrerit blandit. 
                    Morbi quis feugiat erat, non tristique nunc.
                </h2>
            </div>
        </div>
    </div>
</div>