<div class="col-md-12 live-event-container">
  <div class="col-md-3 event-side-nav-container">
    {% include events_side_nav.html %}
  </div>
  <div class="col-md-9 event-info-container">
    <div id="event" class="row main-content blog-detail-content contributor-sidebar">
      <div class="col-md-8 offset-md-1 container">
        {% assign events = site.events | where: "category", "event" | sort_natural: "date" | reverse %}
        {% capture now %}{{'now' | date: '%s' | plus: 0 %}}{% endcapture %}
        {% capture date %}{{item.date | date: '%s' | plus: 0 %}}{% endcapture %}
        {% include upcoming-live-events.html %}
        {% include past-live-events.html %}
      </div>
    </div>
  </div>
</div>
