<div class="events-section">
  <div class="hidden">
    <h1>PyTorch Community Voices</h1>
    <p>Bringing the community together through our collective voices</p>
  </div>
  <div class="coming-soon-container">
    <h2 class="lead">Latests Episodes</h2>
    <div class="episode-card-row col-md-12">
      <div class="episode-card col-md-4 resource-card pytorch-resource">
        <p>Episode Title</p>
        <ul>
          <li>Guest Name</li>
          <li>Company/Project</li>
          <li>May 18, 2021  |  10PM PST</li>
        </ul>
        <span></span>
        <ul class="episode-info">
          <li class="episode-poster">Poster</li>
          <li>|</li>
          <li class="episode-calendar">Calendar Invite</li>
        </ul>
      </div>
    </div>
  </div>
</div>
