<div class="col-md-12 live-event-container">
  <div class="col-md-3 event-side-nav-container">
    {% include events_side_nav.html %}
  </div>
  <div class="col-md-9 event-info-container">
    <div id="event" class="row main-content blog-detail-content contributor-sidebar">
      {% capture now %}{{'now' | date: '%s' | plus: 0 %}}{% endcapture %}
      {% assign events = site.events | where: "category", "event" %}
      <div class="col-md-8 offset-md-1 container">
        {% for item in events | sort_natural: "date" %}
          <div id="{{ item.title | remove: " " }}" class="events-section col-md-8 offset-md-1 container">
            {% capture now %}{{'now' | date: '%s' | plus: 0 %}}{% endcapture %}
            {% assign events = site.events %}
            {% capture date %}{{item.date | date: '%s' | plus: 0 %}}{% endcapture %}
            <div class="event-item">
              <h2>{{ item.title }}</h2>
              <p>{{ item.content }}</p>
              {% if item.video %}
                {% include live_event_video.html %}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
