<div class="main-menu">
  <ul>
    <li class="{% if current[1] == 'get-started' %}active{% endif %}">
      <a href="{{ site.baseurl }}/get-started">Get Started</a>
    </li>

    <li class="{% if current[1] == 'features' %}active{% endif %}">
      <a href="{{ site.baseurl }}/features">Features</a>
    </li>

    <li class="{% if current[1] == 'ecosystem' %}active{% endif %}">
      <a href="{{ site.baseurl }}/ecosystem">Ecosystem</a>
    </li>

    <li class="{% if current[1] == 'blog' %}active{% endif %}">
      <a href="{{ site.baseurl }}/blog">Blog</a>
    </li>

    <li>
      <a href="{{ site.external_urls.tutorials }}">Tutorials</a>
    </li>

    <li>
      <a href="{{ site.baseurl }}/docs">Docs</a>
    </li>

    <li class="{% if current[1] == 'resources' %}active{% endif %}">
      <a href="{{ site.baseurl }}/resources">Resources</a>
    </li>

    <li>
      <a href="{{ site.external_urls.github }}">Github</a>
    </li>
  </ul>
</div>
