<div class="main-menu">
  <ul>
    <li class="main-menu-item {% if current[1] == 'get-started' %}active{% endif %}">
      <a href="{{ site.baseurl }}/get-started">Get Started</a>
    </li>

    <li class="main-menu-item">
      <div id="dropdownMenuButton" data-toggle="resources-dropdown" class="resources-dropdown">
        <a class="resource-option {% if (current[1] == {{ site.baseurl }} or current[1] == 'pytorch-foundation') %}with-down-white-arrow{% else %}with-down-arrow{% endif %}" href="{{ site.baseurl }}/ecosystem">
          Ecosystem 
        </a>
        <div class="resources-dropdown-menu">
          <a class="nav-dropdown-item" href="{{ site.baseurl}}/ecosystem">
            <span class="dropdown-title">Tools</span>
            <p>Learn about the tools and frameworks in the PyTorch Ecosystem</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl}}/ecosystem/pted/2021">
            <span class="dropdown-title">Ecosystem Day - 2021</span>
            <p>See the posters presented at ecosystem day 2021</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl}}/ecosystem/ptdd/2021">
            <span class="dropdown-title">Developer Day - 2021</span>
            <p>See the posters presented at developer day 2021</p>
          </a>
        </div>
      </div>
    </li>

    <li class="main-menu-item {% if current[1] == 'mobile' %}active{% endif %}">
      <a href="{{ site.baseurl }}/mobile">Mobile</a>
    </li>

    <li class="main-menu-item {% if current[1] == 'blog' %}active{% endif %}">
      <a href="{{ site.baseurl }}/blog">Blog</a>
    </li>

    <li class="main-menu-item">
      <a href="{{ site.external_urls.tutorials }}">Tutorials</a>
    </li>

    <li class="main-menu-item">
      <div id="docsDropdownButton" data-toggle="resources-dropdown" class="resources-dropdown">
        <a class="doc-option {% if current[1] == {{ site.baseurl }} or current[1] == 'pytorch-foundation' %}with-down-white-arrow{% else %}with-down-arrow{% endif %}">
          Docs
        </a>
        <div class="resources-dropdown-menu">
          <a class="nav-dropdown-item" href="{{ site.baseurl }}/docs">
            <span class="dropdown-title docs-title">PyTorch</span>
            <p></p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl }}/audio">
            <span class="dropdown-title docs-title">torchaudio</span>
            <p></p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl }}/text">
            <span class="dropdown-title docs-title">torchtext</span>
            <p></p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl }}/vision">
            <span class="dropdown-title docs-title">torchvision</span>
            <p></p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl }}/torcharrow">
            <span class="dropdown-title docs-title">torcharrow</span>
            <p></p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl }}/data">
            <span class="dropdown-title docs-title">TorchData</span>
            <p></p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl }}/torchrec">
            <span class="dropdown-title docs-title">TorchRec</span>
            <p></p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl }}/serve">
            <span class="dropdown-title docs-title">TorchServe</span>
            <p></p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl }}/xla/release/1.6/index.html">
            <span class="dropdown-title docs-title">PyTorch on XLA Devices</span>
            <p></p>
          </a>
        </div>
      </div>
    </li>

    {% assign resources = "resources, features, hub, events, community-stories" | split: ", " %}

    <li class="main-menu-item {% if resources contains current[1] %}active resources-active{% endif %}">

      <div id="resourcesDropdownButton" data-toggle="resources-dropdown" class="resources-dropdown">
        <a class="resource-option {% if current[1] == {{ site.baseurl }} or current[1] == 'pytorch-foundation' %}with-down-white-arrow{% else %}with-down-arrow{% endif %}">
          Resources
        </a>
        <div class="resources-dropdown-menu">
          <a class="nav-dropdown-item" href="{{ site.baseurl }}/features">
            <span class=dropdown-title>About</span>
            <p>Learn about PyTorch’s features and capabilities</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl }}/pytorch-foundation">
            <span class=dropdown-title>PyTorch Foundation</span>
            <p>Learn more about the PyTorch Foundation, the charter, and our governing board.</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl }}/#community-module">
            <span class=dropdown-title>Community</span>
            <p>Join the PyTorch developer community to contribute, learn, and get your questions answered.</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl }}/community-stories">
            <span class=dropdown-title>Community stories</span>
            <p>Learn how our community solves real, everyday machine learning problems with PyTorch</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl }}/resources">
            <span class=dropdown-title>Developer Resources</span>
            <p>Find resources and get questions answered</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl }}/events">
            <span class=dropdown-title>Events</span>
            <p>Find events, webinars, and podcasts</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.external_urls.discuss }}" target="_blank">
            <span class=dropdown-title>Forums</span>
            <p>A place to discuss PyTorch code, issues, install, research</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl }}/hub">
            <span class=dropdown-title>Models (Beta)</span>
            <p>Discover, publish, and reuse pre-trained models</p>
          </a>
        </div>
      </div>
    </li>

    <li class="main-menu-item" id="github-main-menu-link">
      <a href="{{ site.external_urls.github }}">GitHub</a>
    </li>

    <li class="navSearchWrapper reactNavSearchWrapper" key="search">
      <div class="search-border">
        <div id="search-icon"></div>
        <input
          id="search-input"
          type="text"
          title="Search"
        />
        <div id="close-search">X</div>
      </div>
    </li>
  </ul>
</div>

<script src="{{ site.baseurl }}/assets/main-menu-dropdown.js"></script>
