<div class="mobile-main-menu">
  <div class="container-fluid">
    <div class="container">
      <div class="mobile-main-menu-header-container">
        <a class="header-logo" href="{{ site.url }}{{ site.baseurl }}" aria-label="PyTorch"></a>
        <a class="main-menu-close-button" href="#" data-behavior="close-mobile-menu"></a>
      </div>
    </div>
  </div>

  <div class="mobile-main-menu-links-container">

    <div class="main-menu">
      <ul>
        <li class="navSearchWrapper reactNavSearchWrapper tabletSearchWrapper" key="search">
          <div class="mobile-search-border">
            <input
              id="mobile-search-input"
              type="text"
              title="Search"
            />
            <div id="mobile-search-icon"></div>
          </div>
        </li>

        <li class="{% if current[1] == 'get-started' %}active{% endif %}">
          <a href="{{ site.baseurl }}/get-started">Get Started</a>
        </li>

        <li class="{% if current[1] == 'features' %}active{% endif %}">
          <a href="{{ site.baseurl }}/features">Features</a>
        </li>

        <li class="{% if current[1] == 'ecosystem' %}active{% endif %}">
          <a href="{{ site.baseurl }}/ecosystem">Ecosystem</a>
        </li>

        <li class="{% if current[1] == 'pytorch-hub' %}active{% endif %}">
          <a href="{{ site.baseurl }}/pytorch-hub">PyTorch Hub</a>
        </li>

        <li class="{% if current[1] == 'blog' %}active{% endif %}">
          <a href="{{ site.baseurl }}/blog">Blog</a>
        </li>

        <li>
          <a href="{{ site.external_urls.tutorials }}">Tutorials</a>
        </li>

        <li>
          <a href="{{ site.baseurl }}/docs">Docs</a>
        </li>

        <li class="{% if current[1] == 'resources' %}active{% endif %}">
          <a href="{{ site.baseurl }}/resources">Resources</a>
        </li>

        <li>
          <a href="{{ site.external_urls.github }}">GitHub</a>
        </li>
      </ul>
    </div>

  </div>
</div>
