<div class="mobile-main-menu">
  <div class="container-fluid">
    <div class="container">
      <div class="mobile-main-menu-header-container">
        <a class="header-logo" href="{{ site.url }}{{ site.baseurl }}" aria-label="PyTorch"></a>
        <a class="main-menu-close-button" href="#" data-behavior="close-mobile-menu"></a>
      </div>
    </div>
  </div>

  <div class="mobile-main-menu-links-container">

    <div class="main-menu">
      <ul>
        <li class="navSearchWrapper reactNavSearchWrapper tabletSearchWrapper" key="search">
          <div class="mobile-search-border">
            <input
              id="mobile-search-input"
              type="text"
              title="Search"
            />
            <div id="mobile-search-icon"></div>
          </div>
        </li>

        <li class="resources-mobile-menu-title">
          <a>Learn</a>
        </li>
        <ul class="resources-mobile-menu-items">
          <li>
            <a href="{{ site.baseurl }}/get-started">Get Started</a> 
          </li>
          <li>
            <a href="https://pytorch.org/tutorials">Tutorials</a>
          </li>
          <li>
            <a href="https://pytorch.org/tutorials/beginner/basics/intro.html">Learn the Basics</a>
          </li>
          <li>
            <a href="https://pytorch.org/tutorials/recipes/recipes_index.html">PyTorch Recipes</a>
          </li>
          <li>
            <a href="https://pytorch.org/tutorials/beginner/introyt.html">Introduction to PyTorch - YouTube Series</a>
          </li>
        </ul>
        <li class="resources-mobile-menu-title">
          <a>Ecosystem</a>
        </li>
        <ul class="resources-mobile-menu-items">
          <li>
            <a href="{{ site.baseurl }}/ecosystem">Tools</a>
          </li>
          <li>
            <a href="{{ site.baseurl}}/#community-module">Community</a>
          </li>
          <li>
            <a href="{{ site.external_urls.discuss }}">Forums</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/resources">Developer Resources</a>
          </li>
          <li>
            <a href="{{ site.baseurl}}/ecosystem/contributor-awards-2023">Contributor Awards - 2023</a>
          </li>
        </ul>
        <li class="resources-mobile-menu-title">
          <a>Edge</a>
        </li>
        <ul class="resources-mobile-menu-items">
          <li>
            <a href="{{ site.baseurl }}/edge">About PyTorch Edge</a>
          </li>
          <li>
            <a href="{{ site.baseurl}}/executorch-overview">ExecuTorch</a>
          </li>
        </ul>
        <li class="resources-mobile-menu-title">
          <a>Docs</a>
        </li>
        <ul class="resources-mobile-menu-items">
          <li>
            <a href="https://pytorch.org/docs">PyTorch</a>
          </li>
          <li>
            <a href="{{ site.baseurl}}/pytorch-domains">PyTorch Domains</a>
          </li>
        </ul>

        <li class="resources-mobile-menu-title">
          <a>Blog & News</a>
        </li>
        <ul class="resources-mobile-menu-items">
          <li>
            <a href="{{ site.baseurl }}/blog">PyTorch Blog</a>
          </li>
          <li>
            <a href="{{ site.baseurl}}/community-blog">Community Blog</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/videos">Videos</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/community-stories">Community Stories</a>
          </li>
          <li>
            <a href="{{ site.baseurl}}/events">Events</a>
          </li>
        </ul>
        <li class="resources-mobile-menu-title">
          <a>About</a>
        </li>
        <ul class="resources-mobile-menu-items">
          <li>
            <a href="{{ site.baseurl }}/foundation">PyTorch Foundation</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/governing-board">Governing Board</a>
          </li>
        </ul>
        <li class="resources-mobile-menu-title">
          <a href="{{ site.baseurl }}/join">Become a Member</a>
        </li>
        <li class="resources-mobile-menu-title">
          <a href="{{ site.external_urls.github }}" title="Go to PyTorch GitHub"><div id="topnav-gh-icon"></div></a>
        </li>

      </ul>
    </div>

  </div>
</div>
