{% assign current = page.url | downcase | remove: ".html" | split: '/' %}

<div class="header-container">
  <a class="header-logo" href="{{ site.url }}{{ site.baseurl }}" aria-label="PyTorch"></a>

  {% include main_menu.html %}

  <a class="main-menu-open-button" href="#" data-behavior="open-mobile-menu"></a>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
apiKey: 'e3b73ac141dff0b0fd27bdae9055bc73',
indexName: 'pytorch',
inputSelector: '#search_input_react',
algoliaOptions: { 'facetFilters': ["tags:$TAGS"] },
debug: false // Set debug to true if you want to inspect the dropdown
});
</script>