{% assign current = page.url | downcase | remove: ".html" | split: '/' %}
<div class="SocialBanner">
  <div>
    Support Ukraine 🇺🇦 
    <a href="https://opensource.facebook.com/support-ukraine">
      Help Provide Humanitarian Aid to Ukraine
    </a>
    .
  </div>
</div>
<div class="header-container">
  <a class="header-logo" href="{{ site.url }}{{ site.baseurl }}" aria-label="PyTorch"></a>

  {% include main_menu.html %}

  <a class="main-menu-open-button" href="#" data-behavior="open-mobile-menu"></a>
</div>
