{% assign news_collection_size = site.news.size %}

{% if news_collection_size == 1 %}

  <div class="banner-info">
    <a href={{ news_item.link }}>{{ news_item.summary }}</a>
  </div> 

{% elsif news_item.order == news_collection_size %}

  <img class="left-arrow previous-news-item" src="{{ site.baseurl }}/assets/images/chevron-left-orange.svg">
    <div class="banner-info">
      <a href={{ news_item.link }}>{{ news_item.summary }}</a>
    </div>
  <img class="right-arrow next-news-item" src="{{ site.baseurl }}/assets/images/chevron-right-grey.svg">

{% elsif news_item.order > 1 %}

  <img class="left-arrow previous-news-item" src="{{ site.baseurl }}/assets/images/chevron-left-orange.svg">
    <div class="banner-info">
      <a href={{ news_item.link }}>{{ news_item.summary }}</a>
    </div>
  <img class="right-arrow next-news-item" src="{{ site.baseurl }}/assets/images/chevron-right-orange.svg">

{% else %}

  <img class="left-arrow previous-news-item" src="{{ site.baseurl }}/assets/images/chevron-left-grey.svg">
    <div class="banner-info">
      <a href={{ news_item.link }}>{{ news_item.summary }}</a>
    </div>  
  <img class="right-arrow next-news-item" src="{{ site.baseurl }}/assets/images/chevron-right-orange.svg">

{% endif %}
