{% if page.featured-img %}
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.excerpt | strip_html }}" />
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/{{ page.featured-img }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.excerpt | strip_html }}" />
{% else %}
  <meta property="og:title" content="PyTorch" />
  <meta
    name="description"
    property="og:description"
    content="An open source machine learning framework that accelerates the path from research prototyping to production deployment."
  />
  <meta
  property="og:image"
  content="{{ site.url }}{{ site.baseurl }}/assets/images/pytorch-logo.png"
  />
  <meta property="og:url" content="https://www.pytorch.org" />
{% endif %}

<meta property="og:type" content="website" />
<meta name="robots" content="index, follow" />
