<meta name="robots" content="index, follow" />

<meta name="description" content="{{ page.excerpt | strip_html }}" />
{% if page.featured-img %}
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/{{ page.featured-img }}" />
  <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/{{ page.featured-img }}" />
{% else %}
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/images/social-share.jpg" />
  <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/assets/images/social-share.jpg" />
{% endif %}
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.excerpt | strip_html }}" />
<meta property="og:site_name" content="PyTorch" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ page.excerpt | strip_html }}" />
