<div class="d-flex justify-content-center">
  <ul class="pagination">
    {% if paginator.previous_page %}
      <li class="page-item">
        {% if page.title contains 'Blog' %}
          <a class="page-link" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Previous</a>
        {% else %}
          <a class="page-link" href="{{ site.baseurl }}/{{ paginator.previous_page_path }}">Previous</a>
        {% endif %}
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
    {% endif %}

    {% if paginator.next_page %}
      {% if page.title contains 'Blog' %}
        <li class="page-item"><a class="page-link" href="{{ site.baseurl }}{{ paginator.next_page_path }}">Next</a>
      {% else %}
        <li class="page-item"><a class="page-link" href="{{ site.baseurl }}/{{ paginator.next_page_path }}">Next</a>
      {% endif %}
    </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link">Next</a>
      </li>
    {% endif %}
  </ul>
</div>
