<div class="row hub-cards-wrapper cards-left">
  {% assign hub = paginator.posts %}

  {% for item in hub %}
    <div class="col-md-6 research-hub-card-wrapper" data-item-count="{{ forloop.index }}" data-tags="{{ item.tags | join: ',' }}">
      <div class="card hub-card">
        <a href="{{ site.baseurl }}{{ item.url }}">
          <div class="card-body">
            <div class="hub-card-title-container">
              <h4>{{ item.title }}</h4>
            </div>
            <p class="card-summary">{{ item.summary }}</p>
            <div class="hub-image">
              <img src="{{ site.baseurl }}/assets/images/{{ item.image }}">
            </div>
          </div>
        </a>
      </div>
    </div>
  {% endfor %}
</div>
