<h1 class="event-label">Past Events</h1>
{% assign events = site.events | where: "category", "event" | sort_natural: "date" | reverse %}
{% capture now %}{{'now' | date: '%s' | plus: 0 %}}{% endcapture %}
{% for item in events %}
  {% capture date %}{{item.date | date: '%s' | plus: 0 %}}{% endcapture %}
  {% if date <= now %}
    <div id="{{ item.title | remove: " " }}" class="live-events-section events-section col-md-8 offset-md-1 container">
      {% assign events = site.events %}
      {% capture date %}{{item.date | date: '%s' | plus: 0 %}}{% endcapture %}
      <div class="event-item">
        <h2>{{ item.title }}</h2>
        {% if item.header-image And item.header-image != "" And item.header-image != nil %}
          <img src="{{ site.baseurl }}/{{ item.header-image }}" class="img-fluid" width="100%">
        {% endif %}
        <p>{{ item.content  | markdownify }}</p>
        {% if item.video %}
          {% include live_event_video.html %}
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endfor %}
