<div class="hidden">
  <div id="past-issues">
    <div class="container">
      <div class="col-md-3">
        {% include contributor_side_nav.html %}
      </div>
      {% for past_issue in past_issues %}
      <p>working</p>
      <div class="main-content-wrapper blog-detail-wrapper">
        <div class="main-content blog-detail-content">
            <div class="container">
                <img src="{{ site.baseurl }}/assets/images/logo-icon.svg" class="img-fluid author-icon">
                <article class="pytorch-article">
                  {{ content }}
                </article>
            </div>
        </div>
    </div>
      {% endfor %}
    </div>
  </div>
</div>

