<div class="hidden">
  <div class="row" id="past-issues">
    <div class="past-issue-container container">
      <div class="container">
        <div class="row main-content blog-detail-content contributor-sidebar">
          {% include contributor_side_nav.html %}
          <div class="col-md-8 offset-md-1">
            <article class="pytorch-article">
              {% capture march %}
              {% include march_2021.md %}
              {% endcapture %}
              {{ march | markdownify }}
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
