<div class="hidden">
  <div class="row" id="past-issues">
    <div class="past-issue-container container">
      {% include contributor_side_nav.html %}
      <div class="col-md-8 offset-md-1 container">
        <div class="row main-content blog-detail-content contributor-sidebar">
          {% assign past_issues = site.past_issues | sort: "title" | reverse %}
          {% for item in past_issues %}
            <article class="pytorch-article">
              {{ item | markdownify }}
            </article>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
