<div id ="podcast" class="events-section hidden">
  <div>
    <h1>PyTorch Developer Podcast</h1>
    <p>The PyTorch Developer Podcast is a place for the PyTorch dev team to do bite sized (10-20 min) topics about all sorts of internal development topics in PyTorch.</p>
  </div>
  <div class="podcast-container col-md-12">
    <div class="col-md-3 podcast-card">
      <div class="podcast-info-container">
        <p class="podcast-title">Spotify</p>
        <a href="{{ site.external_urls.spotify }}">Subscribe Here</a>
      </div>
    </div>
    <div class="col-md-3 podcast-card">
      <div class="podcast-info-container">
        <p class="podcast-title">Apple</p>
        <a href="{{ site.external_urls.apple }}">Subscribe Here</a>
      </div>
    </div>
    <div class="col-md-3 podcast-card">
      <div class="podcast-info-container">
        <p class="podcast-title">Amazon</p>
        <a href="{{ site.external_urls.amazon }}">Subscribe Here</a>
      </div>
    </div>
    <div class="col-md-3 podcast-card">
      <div class="podcast-info-container">
        <p class="podcast-title">Google</p>
        <a href="{{ site.external_urls.google }}">Subscribe Here</a>
      </div>
    </div>
  </div>
</div>
