<ul class="primary-nav">
    <li><a {% if page.id == 'home' %}class="active"{% endif %} href="/">Get Started</a></li>
    <li><a {% if page.id == 'about' %}class="active"{% endif %} href="/about/">About</a></li>
    <li><a {% if page.id == 'blog' %}class="active"{% endif %} href="/blog/">Blog</a></li>
    <li><a {% if page.id == 'support' %}class="active"{% endif %} href="/support/">Support</a></li>
    <li><a {% if page.id == 'apps' %}class="active"{% endif %} href="https://discuss.pytorch.org">Discuss</a></li>
</ul>
