<ul class="primary-nav">
	<li><a {% if page.id=='home' %}class="active" {% endif %} href="/">Get Started</a></li>
	<li><a {% if page.id=='about' %}class="active" {% endif %} href="/about/">About</a></li>
	<li><a {% if page.id=='blog' %}class="active" {% endif %} href="/blog/">Blog</a></li>
	<li><a {% if page.id=='support' %}class="active" {% endif %} href="/support/">Support</a></li>
	<li><a {% if page.id=='tutorials' %}class="active" {% endif %} href="http://pytorch.org/tutorials/">Tutorials</a></li>
	<li><a {% if page.id=='apps' %}class="active" {% endif %} href="https://discuss.pytorch.org">Discuss</a></li>
	<li class="icon"><a {% if page.id=='home' %}class="active" {% endif %} href="https://github.com/pytorch/pytorch"
		    target="_blank"><img src="/static/img/github.svg" height="20px" width="20px"></a></li>
	<li class="icon"><a {% if page.id=='home' %}class="active" {% endif %} href="https://twitter.com/pytorch"
		    target="_blank"><img src="/static/img/twitter.svg" height="20px" width="20px"></a></li>
</ul>