<div class="col-md-12 production-container">
    <div class="col-md-3 production-side-nav-container">
        {% include production_side_nav.html %}
    </div>
    <div class="col-md-9 production-info-container">
        <div id="production" class="row main-content blog-detail-content contributor-sidebar">
            <div class="col-md-8 offset-md-1 container">
                <h1>In production customer stories</h1>

                <div id="retail" class="production-section col-md-8 offset-md-1 container">
                    <h2>Retail</h2>
                    <div class="production-item">
                        <a class="retail-0" href="#">Retail 0</a>
                    </div>
                    <div class="production-item">
                        <a class="retail-1" href="#">Retail 1</a>
                    </div>
                    <div class="production-item">
                        <a class="retail-2" href="#">Retail 2</a>
                    </div>
                    <div class="production-item">
                        <a class="retail-3" href="#">Retail 3</a>
                    </div>
                </div>

                <div id="medical" class="production-section col-md-8 offset-md-1 container">
                    <h2>Medical</h2>
                    <div class="production-item">
                        <a class="medical-0" href="#">Medical 0</a>
                    </div>
                    <div class="production-item">
                        <a class="medical-1" href="#">Medical 1</a>
                    </div>
                    <div class="production-item">
                        <a class="medical-2" href="#">Medical 2</a>
                    </div>
                    <div class="production-item">
                        <a class="medical-3" href="#">Medical 3</a>
                    </div>
                </div>

                <div id="insurance" class="production-section col-md-8 offset-md-1 container">
                    <h2>Insurance</h2>
                    <div class="production-item">
                        <a class="insurance-0" href="#">Insurance 0</a>
                    </div>
                    <div class="production-item">
                        <a class="insurance-1" href="#">Insurance 1</a>
                    </div>
                    <div class="production-item">
                        <a class="insurance-2" href="#">Insurance 2</a>
                    </div>
                    <div class="production-item">
                        <a class="insurance-3" href="#">Insurance 3</a>
                    </div>
                </div>

                <div id="education" class="production-section col-md-8 offset-md-1 container">
                    <h2>Education</h2>
                    <div class="production-item">
                        <a class="education-0" href="#">Education 0</a>
                    </div>
                    <div class="production-item">
                        <a class="education-1" href="#">Education 1</a>
                    </div>
                    <div class="production-item">
                        <a class="education-2" href="#">Education 2</a>
                    </div>
                    <div class="production-item">
                        <a class="education-3" href="#">Education 3</a>
                    </div>
                </div>

                <div id="agriculture" class="production-section col-md-8 offset-md-1 container">
                    <h2>Agriculture</h2>
                    <div class="production-item">
                        <a class="agriculture-0" href="#">Agriculture 0</a>
                    </div>
                    <div class="production-item">
                        <a class="agriculture-1" href="#">Agriculture 1</a>
                    </div>
                    <div class="production-item">
                        <a class="agriculture-2" href="#">Agriculture 2</a>
                    </div>
                    <div class="production-item">
                        <a class="agriculture-3" href="#">Agriculture 3</a>
                    </div>
                </div>

                <div id="manufacturing" class="production-section col-md-8 offset-md-1 container">
                    <h2>Manufacturing</h2>
                    <div class="production-item">
                        <a class="manufacturing-0" href="#">Manufacturing 0</a>
                    </div>
                    <div class="production-item">
                        <a class="manufacturing-1" href="#">Manufacturing 1</a>
                    </div>
                    <div class="production-item">
                        <a class="manufacturing-2" href="#">Manufacturing 2</a>
                    </div>
                    <div class="production-item">
                        <a class="manufacturing-3" href="#">Manufacturing 3</a>
                    </div>
                </div>

                <div id="media-and-entertainment" class="production-section col-md-8 offset-md-1 container">
                    <h2>Media & Entertainment</h2>
                    <div class="production-item">
                        <a class="media-and-entertainment-0" href="#">Media & Entertainment 0</a>
                    </div>
                    <div class="production-item">
                        <a class="media-and-entertainment-1" href="#">Media & Entertainment 1</a>
                    </div>
                    <div class="production-item">
                        <a class="media-and-entertainment-2" href="#">Media & Entertainment 2</a>
                    </div>
                    <div class="production-item">
                        <a class="media-and-entertainment-3" href="#">Media & Entertainment 3</a>
                    </div>
                </div>

                <div id="fintech" class="production-section col-md-8 offset-md-1 container">
                    <h2>Fintech</h2>
                    <div class="production-item">
                        <a class="fintech-0" href="#">Fintech 0</a>
                    </div>
                    <div class="production-item">
                        <a class="fintech-1" href="#">Fintech 1</a>
                    </div>
                    <div class="production-item">
                        <a class="fintech-2" href="#">Fintech 2</a>
                    </div>
                    <div class="production-item">
                        <a class="fintech-3" href="#">Fintech 3</a>
                    </div>
                </div>

                <div id="autonomous-driving" class="production-section col-md-8 offset-md-1 container">
                    <h2>Autonomous Driving</h2>
                    <div class="production-item">
                        <a class="autonomous-driving-0" href="#">Autonomous Driving 0</a>
                    </div>
                    <div class="production-item">
                        <a class="autonomous-driving-1" href="#">Autonomous Driving 1</a>
                    </div>
                    <div class="production-item">
                        <a class="autonomous-driving-2" href="#">Autonomous Driving 2</a>
                    </div>
                    <div class="production-item">
                        <a class="autonomous-driving-3" href="#">Autonomous Driving 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>