<div class="container">
  <div class="row production-container">
    <div class="col-md-3 production-side-nav-container">
      {% include production_side_nav.html %}
    </div>
    <div class="col-md-9 production-info-container">
      <div
        id="production"
        class="row main-content blog-detail-content contributor-sidebar"
      >
        <div class="col-md-10 offset-md-1 container">
          <div
            id="advertising"
            class="production-section col-md-8 offset-md-1 container"
          >
            <h2>Advertising & Marketing</h2>
            <div class="production-item">
              <a
                class="advertising-0"
                href="https://databricks.com/blog/2021/05/14/how-outreach-productionizes-pytorch-based-hugging-face-transformers-for-nlp.html"
              >
                How Outreach Productionizes PyTorch-based Hugging Face
                Transformers for NLP</a
              >
            </div>
            <div class="production-item">
              <a
                class="advertising-1"
                href="https://pytorch.org/blog/amazon-ads-case-study/"
              >
                Amazon Ads Uses PyTorch and AWS Inferentia to Scale Models for
                Ads Processing</a
              >
            </div>
          </div>
          <div
          id="aerospace"
          class="production-section col-md-8 offset-md-1 container"
           >
          <h2>Aerospace</h2>
            <div class="production-item">
              <a
                class="aerospace-0"
                href="https://thenewstack.io/nasa-and-ibm-to-speed-ai-creation-with-new-foundation-models/"
              >
              NASA and IBM to Speed AI Creation with New Foundation Models
              </a>
            </div>
          </div>
          <div
            id="agriculture"
            class="production-section col-md-8 offset-md-1 container"
          >
            <h2>Agriculture</h2>
            <div class="production-item">
              <a
                class="agriculture-0"
                href="https://medium.com/pytorch/ai-for-ag-production-machine-learning-for-agriculture-e8cfdb9849a1"
              >
                AI for AG: Production machine learning for agriculture</a
              >
            </div>
            <div class="production-item">
              <a class="agriculture-1" href="https://carbonrobotics.com/">
                Carbon Robotics Disrupts Farming Industry with Autonomous
                Weeders</a
              >
            </div>
            <div class="production-item">
              <a
                class="agriculture-2"
                href="https://medium.com/pytorch/how-wadhwani-ai-uses-pytorch-to-empower-cotton-farmers-14397f4c9f2b"
              >
                How Wadhwani AI Uses PyTorch To Empower Cotton Farmers in
                India</a
              >
            </div>
            <div class="production-item">
              <a
                class="agriculture-3"
                href="https://medium.com/pytorch/ai-for-ag-production-machine-learning-for-agriculture-e8cfdb9849a1"
              >
                John Deere's use of PyTorch for weed "see and spray"</a
              >
            </div>
            <div class="production-item">
              <a
                class="agriculture-4"
                href="https://www.protocol.com/the-future-of-farming-is-math"
              >
                The future of farming is one giant A/B test on all the crops in
                the world at once (Protocol)</a
              >
            </div>
          </div>
          <div
            id="autonomous-driving"
            class="production-section col-md-8 offset-md-1 container"
          >
            <h2>Autonomous Driving</h2>
            <div class="production-item">
              <a
                class="autonomous-driving-0"
                href="https://medium.com/pytorch/how-lyft-uses-pytorch-to-power-machine-learning-for-their-self-driving-cars-80642bc2d0ae"
              >
                How Lyft Uses PyTorch to Power Machine Learning for Their
                Self-Driving Cars</a
              >
            </div>
            <div class="production-item">
              <a
                class="autonomous-driving-1"
                href="https://customers.microsoft.com/en-us/story/1415185921593450824-wayve-partner-professional-services-azure-machine-learning"
              >
                Wayve’s AV2.0 builds a brighter future with Azure Machine
                Learning and PyTorch</a
              >
            </div>
          </div>
          <div
            id="education"
            class="production-section col-md-8 offset-md-1 container"
          >
            <h2>Education</h2>
            <div class="production-item">
              <a
                class="education-0"
                href="https://aws.amazon.com/machine-learning/customers/innovators/duolingo/"
              >
                AI Helps Duolingo Personalize Language Learning</a
              >
            </div>
          </div>
          <div
            id="finance"
            class="production-section col-md-8 offset-md-1 container"
          >
            <h2>Finance</h2>
            <div class="production-item">
              <a
                class="finance-0"
                href="https://medium.com/pytorch/solliance-makes-headlines-with-cryptocurrency-news-analysis-platform-powered-by-azure-machine-52a2a290fefb"
              >
                Solliance makesheadlines with cryptocurrency news analysis
                platform powered by Azure Machine Learning, PyTorch</a
              >
            </div>
            <div class="production-item">
              <a
                class="finance-1"
                href="https://www.capitalone.com/tech/machine-learning/create-wine-recommender-using-nlp/"
              >
                Create a Wine Recommender Using NLP on AWS</a
              >
            </div>
          </div>
          <div
            id="healthcare"
            class="production-section col-md-8 offset-md-1 container"
          >
            <h2>Healthcare</h2>
            <div class="production-item">
              <a
                class="healthcare-0"
                href="https://customers.microsoft.com/en-us/story/1503427278296945327-crayon-partner-professional-services-azure"
              >
                Crayon boosts speed accuracy of healthcare auditing process
                using Azure Machine Learning and PyTorch</a
              >
            </div>
            <div class="production-item">
              <a
                class="healthcare-1"
                href="https://customers.microsoft.com/en-us/story/1587521717158304168-microsoft-partner-professional-services-azure"
              >
              Extracting value from siloed healthcare data using federated learning with Azure Machine Learning</a
              >
            </div>
            <div class="production-item">
              <a
                class="healthcare-2"
                href="https://www.intel.com/content/www/us/en/developer/articles/case-study/hipposcreen-boosts-ai-performance-2-4x-with-oneapi.html"
              >
              HippoScreen Improves AI Performance by 2.4x with oneAPI Tools</a
              >
            </div>
          </div>
          <div
            id="insurance"
            class="production-section col-md-8 offset-md-1 container"
          >
            <h2>Insurance</h2>
            <div class="production-item">
              <a
                class="insurance-0"
                href="https://dius.com.au/case-studies/bolttech-digital-innovation-ai-computer-vision/"
              >
                Protection and insurance for used mobile devices (Bolttech)</a
              >
            </div>
          </div>
          <div
            id="media-and-entertainment"
            class="production-section col-md-8 offset-md-1 container"
          >
            <h2>Media & Entertainment</h2>
            <div class="production-item">
              <a
                class="media-and-entertainment-0"
                href="https://www.youtube.com/watch?v=KuDxEhHk2Rk"
                >Disney's Creative Genome (PyTorch Development Day)</a
              >
            </div>
            <div class="production-item">
              <a
                class="media-and-entertainment-1"
                href="https://www.youtube.com/watch?v=K5hD0et_wUc&list=PL_lsbAsL_o2BY-RrqVDKDcywKnuUTp-f3&index=19"
                >Disney's new AI is facial recognition for animation
                (Engadget)</a
              >
            </div>
            <div class="production-item">
              <a
                class="media-and-entertainment-2"
                href="https://www.wired.com/brandlab/2019/06/ai-makes-angry-birds-even-more-engaging/"
                >Game On: How AI Aims to Make Angry Birds Releases Even More
                Engaging</a
              >
            </div>
            <div class="production-item">
              <a
                class="media-and-entertainment-3"
                href="https://medium.com/pytorch/how-disney-uses-pytorch-for-animated-character-recognition-a1722a182627"
                >How Disney uses PyTorch for animated character recognition</a
              >
            </div>
            <div class="production-item">
              <a
                class="media-and-entertainment-4"
                href="https://medium.com/pytorch/machine-learning-at-tubi-powering-free-movies-tv-and-news-for-all-51499643018e"
                >Machine Learning at Tubi: Powering Free Movies, TV and News for
                All</a
              >
            </div>
            <div class="production-item">
              <a
                class="media-and-entertainment-5"
                href="https://venturebeat.com/business/how-pixar-uses-ai-and-gans-to-create-high-resolution-content/"
                >Pixar use of PyTorch for high-resolution video (VentureBeat)</a
              >
            </div>
            <div class="production-item">
              <a
                class="media-and-entertainment-6"
                href="https://note.com/asahi_ictrad/n/nf5195eb53b88"
                >Running BERT models on AWS Inferentia (Japanese)</a
              >
            </div>
          </div>
          <div
            id="medical"
            class="production-section col-md-8 offset-md-1 container"
          >
            <h2>Medical</h2>
            <div class="production-item">
              <a
                class="medical-0"
                href="https://pytorch.org/blog/ambient-clinical-intelligence-generating-medical-reports-with-pytorch/"
                >Ambient Clinical Intelligence: Generating Medical Reports with
                PyTorch</a
              >
            </div>
            <div class="production-item">
              <a
                class="medical-1"
                href="https://www.zdnet.com/article/astrazeneca-is-using-pytorch-powered-algorithms-to-discover-new-drugs/"
                >AstraZeneca is using PyTorch-powered algorithms to discover new
                drugs (ZDnet)</a
              >
            </div>
            <div class="production-item">
              <a
                class="medical-2"
                href="https://pages.awscloud.com/GLOBAL-partner-OE-pmc-storage-wekaio-jul-2021-confirmation.html"
                >Atomwise: Fast, Scalable IO and the Drugs of Tomorrow</a
              >
            </div>

            <div class="production-item">
              <a
                class="medical-3"
                href="https://medium.com/analytics-vidhya/deploy-huggingface-s-bert-to-production-with-pytorch-serve-27b068026d18"
                >Deploying huggingface‘s BERT to production with
                PyTorch/serve</a
              >
            </div>
            <div class="production-item">
              <a
                class="medical-4"
                href="https://medium.com/pytorch/how-ai-is-helping-vets-to-help-our-pets-e6e3d58c052e"
                >How AI is Helping Vets to Help our Pets</a
              >
            </div>
            <div class="production-item">
              <a
                class="medical-5"
                href="https://medium.com/pytorch/how-theator-built-a-continuous-training-framework-to-scale-up-its-surgical-intelligence-platform-b5135e3229fd"
                >How theator Built a Continuous Training Framework To Scale up
                Its Surgical Intelligence Platform</a
              >
            </div>
            <div class="production-item">
              <a
                class="medical-6"
                href="https://medium.com/pytorch/speeding-up-drug-discovery-with-advanced-machine-learning-b17d59e0daa6"
                >Speeding up drug discovery with advanced machine learning at
                AstraZeneca</a
              >
            </div>
            <div class="production-item">
              <a
                class="medical-7"
                href="https://www.zdnet.com/article/using-pytorch-to-streamline-machine-learning-projects/"
                >Surgical Intelligence Platform by theator</a
              >
            </div>

            <div class="production-item">
              <a
                class="medical-8"
                href="https://aws.amazon.com/blogs/machine-learning/run-inference-at-scale-for-openfold-a-pytorch-based-protein-folding-ml-model-using-amazon-eks/"
              >
                Run inference at scale for OpenFold, a PyTorch-based protein
                folding ML model, using Amazon EKS</a
              >
            </div>

            <div class="production-item">
              <a
                class="medical-9"
                href="https://aws.amazon.com/blogs/hpc/optimize-protein-folding-costs-with-openfold-on-aws-batch/"
              >
                Optimize Protein Folding Costs with OpenFold on AWS Batch
              </a>
            </div>
          </div>
          <div
            id="mining"
            class="production-section col-md-8 offset-md-1 container"
          >
            <h2>Mining</h2>
            <div class="production-item">
              <a
                class="mining-0"
                href="https://medium.com/pytorch/how-datarock-is-using-pytorch-for-more-intelligent-decision-making-d5d1694ba170"
                >How Datarock is using PyTorch for more intelligent mining
                decision making</a
              >
            </div>
          </div>

          <div
            id="retail"
            class="production-section col-md-8 offset-md-1 container"
          >
            <h2>Retail</h2>
            <div class="production-item">
              <a
                class="retail-0"
                href="https://pytorch.org/blog/amazon-ads-case-study/"
              >
                Amazon Ads Uses PyTorch and AWS Inferentia to Scale Models for
                Ads Processing</a
              >
            </div>
            <div class="production-item">
              <a
                class="retail-1"
                href="https://medium.com/pytorch/how-trigo-built-a-scalable-ai-development-deployment-pipeline-for-frictionless-retail-b583d25d0dd"
              >
                How Trigo built a scalable AI development & deployment pipeline
                for Frictionless Retail</a
              >
            </div>
            <div class="production-item">
              <a
                class="retail-2"
                href="https://www.onepeloton.com/press/articles/designing-an-early-stage-recommender-system"
              >
                How We Built: An Early-Stage Recommender System</a
              >
            </div>
            <div class="production-item">
              <a
                class="retail-3"
                href="https://databricks.com/blog/2021/04/29/automated-background-removal-in-e-commerce-fashion-image-processing-using-pytorch-on-databricks.html"
              >
                Wehkamp's Automated Background Removal in E-commerce Fashion
                Image Processing Using PyTorch on Databrick</a
              >
            </div>
            <div class="production-item">
              <a
                class="retail-4"
                href="https://medium.com/walmartglobaltech/search-model-serving-using-pytorch-and-torchserve-6caf9d1c5f4d"
              >
              Search Model Serving Using PyTorch and TorchServe</a
              >
            </div>
          </div>

          <div
            id="technology"
            class="production-section col-md-8 offset-md-1 container"
          >
            <h2>Technology</h2>
            <div class="production-item">
              <a
                class="technology-0"
                href="https://www.wired.com/sponsored/story/building-a-fast-learner/"
              >
                Autodesk AVA Chatbot Wired Article for AWS Inferentia +
                PyTorch</a
              >
            </div>
            <div class="production-item">
              <a
                class="technology-1"
                href="https://customers.microsoft.com/en-ca/story/1480221307332639219-bentley-systems-partner-professional-services-azure-machine-learning"
                >Bentley Systems breakthrough framework</a
              >
            </div>
            <div class="production-item">
              <a
                class="technology-2"
                href="https://medium.com/pytorch/how-we-used-aws-inferentia-to-boost-pytorch-nlp-model-performance-by-4-9x-9f79f5314ca8"
                >How We Used AWS Inferentia to Boost PyTorch NLP Model
                Performance by 4.9x for the Autodesk Ava Chatbot</a
              >
            </div>
            <div class="production-item">
              <a
                class="technology-3"
                href="https://medium.com/pytorch/how-we-used-aws-inferentia-to-boost-pytorch-nlp-model-performance-by-4-9x-9f79f5314ca8"
                >How we used Inferential to boost PyTorch model performance</a
              >
            </div>
            <div class="production-item">
              <a
                class="technology-4"
                href="https://www.youtube.com/watch?v=LBOIxA5sg2A"
                >PyTorch Community Voices Interview with Alexander O’Connor and
                Binghui Ouyang of Autodesk</a
              >
            </div>
            <div class="production-item">
              <a
                class="technology-5"
                href="https://customers.microsoft.com/en-us/story/1360878173403369154-isid-partner-professional-services-azure-en"
                >ISID heightens value buried in text using Azure Machine
                Learning and PyTorch</a
              >
            </div>
            <div class="production-item">
              <a
                class="technology-6"
                href="https://ai.facebook.com/blog/pytorch-ai-smartphones-computers/"
                >How PyTorch is bringing the power of AI to computers and smartphones</a
              >
            </div>
            <div class="production-item">
              <a
                class="technology-7"
                href="https://customers.microsoft.com/en-us/story/1610624764549732009-axon-partner-professional-services-azure"
              >
              Axon offers technology boost for public safety with in-car Automated License Plate Recognition on Azure</a
              >
            </div>
            <div class="production-item">
              <a
                class="technology-8"
                href="/blog/ml-model-server-resource-saving/"
              >
              ML Model Server Resource Saving - Transition From High-Cost GPUs to Intel CPUs and oneAPI powered Software with performance</a
              >
            </div>
          </div>
          <div
            id="travel"
            class="production-section col-md-8 offset-md-1 container"
          >
            <h2>Travel</h2>
            <div class="production-item">
              <a
                class="travel-0"
                href="https://www.youtube.com/watch?v=jtVUV0Gzxp0&t=730s"
                >Dialogue Assistance for Customer Service at Airbnb</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
