<div id="production-side-nav" class="sticky-top">
  <ul id="get-started-contributor-sidebar-list">
      <ul>
        <li><a href="#retail" class="production-label">Retail</a></li>
        <li><a href="#medical" class="production-label">Medical</a></li>
        <li><a href="#insurance" class="production-label">Insurance</a></li>
        <li><a href="#education" class="production-label">Education</a></li>
        <li><a href="#agriculture" class="production-label">Agriculture</a></li>
        <li><a href="#manufacturing" class="production-label">Manufacturing</a></li>
        <li><a href="#media-and-entertainment" class="production-label">Media & Entertainment</a></li>
        <li><a href="#fintech" class="production-label">Fintech</a></li>
        <li><a href="#autonomous-driving" class="production-label">Autonomous Driving</a></li>
      </ul>
  </ul>
</div>

<script>

  $("#get-started-contributor-sidebar-list li a").on("click", function(e) {
    var href = $(this).attr("href")
    $('html, body').stop().animate({
      scrollTop: $(href).offset().top - 100
    }, 850);
    (e).preventDefault;
  });

  var lastId,
    topMenu = $("#get-started-contributor-sidebar-list"),
    topMenuHeight = topMenu.outerHeight() + 1,
    // All sidenav items
    menuItems = topMenu.find("a"),
  // Anchors for menu items
    scrollItems = menuItems.map(function() {
      var item = $(this).attr("href");
      if (item.length) { return item; }
  });

  $(window).scroll(function(){
    var fromTop = $(this).scrollTop()+topMenuHeight;
    var label = '.production-label'

    $(label).each(function(i){
      var offsetSocroll = $(this).offset().top-$(window).scrollTop();
      console.log( offsetScroll <= topMenuHeight + 200 );
      console.log( offsetScroll >= topMenuHeight - 200 );
      console.log( scrollItems[i] );
      if (offsetScroll <= topMenuHeight + 200 && offsetScroll >= topMenuHeight - 200 && scrollItems[i] == "#" + $(this).children().attr("id")) {
        console.log("here and" + menuItems[i])
        $(menuItems).removeClass("active");
        $(menuItems[i]).addClass("active");
      }
    })
  });

</script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
  