<div class="col-md-12 production-container">
    <div class="col-md-3 production-side-nav-container">
        {% include production_side_nav.html %}
    </div>
    <div class="col-md-9 production-info-container">
        <div id="production" class="row main-content blog-detail-content contributor-sidebar">
            <div class="col-md-8 offset-md-1 container">
                <div id="retail" class="production-section col-md-8 offset-md-1 container">
                    <h2>Retail</h2>
                    <div class="production-item">
                        <a class="retail-0" href="https://www.youtube.com/watch?v=jtVUV0Gzxp0&t=730s">Dialogue Assistance for Customer Service at AirBNB</a>
                    </div>
                    <div class="production-item">
                        <a class="retail-1" href="https://pytorch.org/blog/amazon-ads-case-study/">Amazon Ads Uses PyTorch and AWS Inferentia to Scale Models for Ads Processing</a>
                    </div>
                    <div class="production-item">
                        <a class="retail-2" href="https://medium.com/pytorch/how-trigo-built-a-scalable-ai-development-deployment-pipeline-for-frictionless-retail-b583d25d0dd">How Trigo built a scalable AI development & deployment pipeline for Frictionless Retail</a>
                    </div>
                    <div class="production-item">
                        <a class="retail-3" href="https://databricks.com/blog/2021/04/29/automated-background-removal-in-e-commerce-fashion-image-processing-using-pytorch-on-databricks.html">Wehkamp's Automated Background Removal in E-commerce Fashion Image Processing Using PyTorch on Databrick</a>
                    </div>					
                </div>

                <div id="medical" class="production-section col-md-8 offset-md-1 container">
                    <h2>Medical</h2>
                    <div class="production-item">
                        <a class="medical-0" href="https://medium.com/pytorch/speeding-up-drug-discovery-with-advanced-machine-learning-b17d59e0daa6">Speeding up drug discovery with advanced machine learning at AstraZeneca</a>
                    </div>
                    <div class="production-item">
                        <a class="medical-1" href="https://www.zdnet.com/article/astrazeneca-is-using-pytorch-powered-algorithms-to-discover-new-drugs/">AstraZeneca is using PyTorch-powered algorithms to discover new drugs (ZDnet)</a>
                    </div>
                    <div class="production-item">
                        <a class="medical-2" href="https://pages.awscloud.com/GLOBAL-partner-OE-pmc-storage-wekaio-jul-2021-confirmation.html">Atomwise: Fast, Scalable IO and the Drugs of Tomorrow</a>
                    </div>
                    <div class="production-item">
                        <a class="medical-3" href="https://www.youtube.com/watch?v=jtVUV0Gzxp0&t=1421s">Genentech Personalized Cancer Therapy</a>
                    </div>
					<div class="production-item">
                        <a class="medical-4" href="https://medium.com/pytorch/how-ai-is-helping-vets-to-help-our-pets-e6e3d58c052e">How AI is Helping Vets to Help our Pets</a>
                    </div>
					<div class="production-item">
                        <a class="medical-5" href="https://medium.com/pytorch/how-theator-built-a-continuous-training-framework-to-scale-up-its-surgical-intelligence-platform-b5135e3229fd">How theator Built a Continuous Training Framework To Scale up Its Surgical Intelligence Platform</a>
                    </div>
					<div class="production-item">
                        <a class="medical-6" href="https://www.zdnet.com/article/using-pytorch-to-streamline-machine-learning-projects/">Theator Surgical Intelligence Platform ZDnet article 2020-12-17</a>
                    </div>
					<div class="production-item">
                        <a class="medical-7" href="https://arxiv.org/abs/2202.05240">Drug pair scoring with PyTorch</a>
                    </div>
                </div>

                <div id="insurance" class="production-section col-md-8 offset-md-1 container">
                    <h2>Insurance</h2>
                    <div class="production-item">
                        <a class="insurance-0" href="https://dius.com.au/case-studies/bolttech-digital-innovation-ai-computer-vision/">Protection and insurance for used mobile devices (Bolttech)</a>
                    </div>                    
                </div>

                <div id="education" class="production-section col-md-8 offset-md-1 container">
                    <h2>Education</h2>
                    <div class="production-item">
                        <a class="education-0" href="https://www.youtube.com/watch?v=se206WBk2dM">Using deep learning and PyTorch to power next gen aircraft at Caltech</a>
                    </div>
                    <div class="production-item">
                        <a class="education-1" href="https://customers.microsoft.com/en-us/story/1402696956382669362-university-of-pecs-higher-education-azure-en-hungary">University of Pécs enables text and speech processing in Hungarian, builds the BERT-large model with just 1,000 euro</a>
                    </div>
                </div>

                <div id="agriculture" class="production-section col-md-8 offset-md-1 container">
                    <h2>Agriculture</h2>
                    <div class="production-item">
                        <a class="agriculture-0" href="https://carbonrobotics.com/">CARBON ROBOTICS DISRUPTS FARMING INDUSTRY WITH AUTONOMOUS WEEDERS</a>
                    </div>
                    <div class="production-item">
                        <a class="agriculture-1" href="https://medium.com/pytorch/ai-for-ag-production-machine-learning-for-agriculture-e8cfdb9849a1">John Deere's use of PyTorch for weed "see and spray"</a>
                    </div>
                    <div class="production-item">
                        <a class="agriculture-2" href="https://www.protocol.com/the-future-of-farming-is-math">The future of farming is one giant A/B test on all the crops in the world at once (Protocol)</a>
                    </div>
                    <div class="production-item">
                        <a class="agriculture-3" href="https://medium.com/pytorch/ai-for-ag-production-machine-learning-for-agriculture-e8cfdb9849a1">AI for AG: Production machine learning for agriculture</a>
                    </div>
					<div class="production-item">
                        <a class="agriculture-4" href="https://medium.com/pytorch/how-wadhwani-ai-uses-pytorch-to-empower-cotton-farmers-14397f4c9f2b">How Wadhwani AI Uses PyTorch To Empower Cotton Farmers in India</a>
                    </div>
                </div>

                <div id="manufacturing" class="production-section col-md-8 offset-md-1 container">
                    <h2>Manufacturing</h2>
                    <div class="production-item">
                        <a class="manufacturing-0" href="https://medium.com/pytorch/how-datarock-is-using-pytorch-for-more-intelligent-decision-making-d5d1694ba170">How Datarock is using PyTorch for more intelligent mining decision making</a>
                    </div>                 
                </div>

                <div id="media-and-entertainment" class="production-section col-md-8 offset-md-1 container">
                    <h2>Media & Entertainment</h2>
                    <div class="production-item">
                        <a class="media-and-entertainment-0" href="https://www.youtube.com/watch?v=KuDxEhHk2Rk">Disney's Creative Genome (PyTorch Development Day)</a>
                    </div>
                    <div class="production-item">
                        <a class="media-and-entertainment-1" href="https://medium.com/pytorch/how-disney-uses-pytorch-for-animated-character-recognition-a1722a182627">How Disney uses PyTorch for animated character recognition</a>
                    </div>
                    <div class="production-item">
                        <a class="media-and-entertainment-2" href="https://www.youtube.com/watch?v=K5hD0et_wUc&list=PL_lsbAsL_o2BY-RrqVDKDcywKnuUTp-f3&index=19">Disney's new AI is facial recognition for animation (Engadget)</a>
                    </div>
                    <div class="production-item">
                        <a class="media-and-entertainment-3" href="https://www.youtube.com/watch?v=K5hD0et_wUc&list=PL_lsbAsL_o2BY-RrqVDKDcywKnuUTp-f3&index=19">PyTorch at Dolby Labs</a>
                    </div>
					 <div class="production-item">
                        <a class="media-and-entertainment-4" href="https://venturebeat.com/2020/07/17/how-pixar-uses-ai-and-gans-to-create-high-resolution-content/">Pixar use of PyTorch for high-resolution video (VentureBeat)</a>
                    </div>
					 <div class="production-item">
                        <a class="media-and-entertainment-5" href="https://www.wired.com/brandlab/2019/06/ai-makes-angry-birds-even-more-engaging/">Game On: How AI Aims to Make Angry Birds Releases Even More Engaging</a>
                    </div>
					 <div class="production-item">
                        <a class="media-and-entertainment-6" href="https://medium.com/pytorch/machine-learning-at-tubi-powering-free-movies-tv-and-news-for-all-51499643018e">Machine Learning at Tubi: Powering Free Movies, TV and News for All</a>
                    </div>					
                </div>

                <div id="fintech" class="production-section col-md-8 offset-md-1 container">
                    <h2>Fintech</h2>
                    <div class="production-item">
                        <a class="fintech-0" href="https://youtu.be/-gIhcA6XeBs">REAL-WORLD RESEARCH TO PRODUCTION AT FIDELITY</a>
                    </div>
                    <div class="production-item">
                        <a class="fintech-1" href="https://pytorch.medium.com/52a2a290fefb">Solliance makes headlines with cryptocurrency news analysis platform powered by Azure Machine Learning, PyTorch</a>
                    </div>                   
                </div>

                <div id="autonomous-driving" class="production-section col-md-8 offset-md-1 container">
                    <h2>Autonomous Driving</h2>
                    <div class="production-item">
                        <a class="autonomous-driving-0" href="https://medium.com/pytorch/how-lyft-uses-pytorch-to-power-machine-learning-for-their-self-driving-cars-80642bc2d0ae">How Lyft Uses PyTorch to Power Machine Learning for Their Self-Driving Cars</a>
                    </div>
                    <div class="production-item">
                        <a class="autonomous-driving-1" href="https://www.youtube.com/watch?v=oBklltKXtDE&list=PL_lsbAsL_o2BY-RrqVDKDcywKnuUTp-f3&index=1">PyTorch at Tesla</a>
                    </div>
                    <div class="production-item">
                        <a class="autonomous-driving-2" href="https://youtu.be/jtVUV0Gzxp0?t=1729">Toyota Research Institute uses PyTorch</a>
                    </div>
                    <div class="production-item">
                        <a class="autonomous-driving-3" href="https://www.youtube.com/watch?v=i2hHC0NBY5s&list=PL_lsbAsL_o2BY-RrqVDKDcywKnuUTp-f3&index=9">Putting Autonomous Driving Cars on the Streets</a>
                    </div>
					<div class="production-item">
                        <a class="autonomous-driving-4" href="https://www.youtube.com/watch?v=i2hHC0NBY5s&list=PL_lsbAsL_o2BY-RrqVDKDcywKnuUTp-f3&index=9">Putting Autonomous Driving Cars on the Streets</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
