<div id="production-side-nav" class="sticky-top">
  <ul id="production-sidebar-list">
      <ul>        
        <li><a href="#advertising">Advertising & Marketing</a></li>
        <li><a href="#agriculture">Agriculture</a></li>
        <li><a href="#autonomous-driving">Autonomous Driving</a></li>
        <li><a href="#fintech">Fintech</a></li>
        <li><a href="#insurance">Insurance</a></li>
        <li><a href="#media-and-entertainment">Media & Entertainment</a></li>
        <li><a href="#medical">Medical</a></li>
        <li><a href="#mining">Mining</a></li>
        <li><a href="#retail">Retail</a></li>
        <li><a href="#technology">Technology</a></li>
        <li><a href="#travel">Travel</a></li>
      </ul>
  </ul>
</div>

<script>

  $("#production-sidebar-list li a").on("click", function(e) {
    var href = $(this).attr("href")
    $('html, body').stop().animate({
      scrollTop: $(href).offset().top - 100
    }, 850);
    (e).preventDefault;
  });

  var lastId,
    topMenu = $("#production-sidebar-list"),
    topMenuHeight = topMenu.outerHeight() + 1,
    // All sidenav items
    menuItemsProd = topMenu.find("a"),
  // Anchors for menu items
    scrollItemsP = menuItemsProd.map(function() {
      var item = $(this).attr("href");
      if (item.length) { return item; }
  });
  $(window).scroll(function(){
    var fromTop = $(this).scrollTop()+topMenuHeight;
    var label = '.production-section'

    $(label).each(function(j){
      var offsetScrollP = $(this).offset().top-$(window).scrollTop();
      if (offsetScrollP <= topMenuHeight - 50 && offsetScrollP >= topMenuHeight - 200 && scrollItemsP[j] == "#" + $(this).attr("id")) {
        $(menuItemsProd).removeClass("active");
        $(menuItemsProd[j]).addClass("active");
      }
    })
  });

</script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
  
