<div class="sticky-top get-started-locally-sidebar">
    <p id="get-started-shortcuts-menu">Shortcuts</p>
    <ul id="get-started-locally-sidebar-list">
      <li>
        <a href="#overview">Overview</a>
      </li>
      <li>
        <a href="#pytorch-2x-faster-more-pythonic-and-as-dynamic-as-ever">
          PyTorch 2.x: faster, more pythonic and as dynamic as ever
        </a>
      </li>
      <li>
        <a href="#testimonials">Testimonials</a>
      </li>
  
      <li>
        <a href="#motivation">Motivation</a>
      </li>
      <li>
        <a href="#technology-overview">Technology Overview</a>
      </li>
      <li>
        <a href="#user-experience">User Experience</a>
      </li>
  
      <li>
        <a href="#distributed">Distributed</a>
      </li>
  
      <li>
        <a href="#developervendor-experience">Developer/Vendor Experience</a>
      </li>
  
      <li>
        <a href="#final-thoughts">Final Thoughts</a>
      </li>
      <li>
        <a href="#accelerating-hugging-face-and-timm-models-with-pytorch-20">
          Accelerating Hugging Face And Timm Models With Pytorch 2.0
        </a>
      </li>
      <li>
        <a href="#requirements">Requirements</a>
      </li>
      <li>
        <a href="#getting-started">Getting Started</a>
      </li>
      <li>
        <a href="#faqs">FAQs</a>
      </li>
      <li>
        <a href="#ask-the-engineers-20-live-qa-series">Ask The Engineers 2.0 Live Q&A Series</a>
      </li>
      <li>
        <a href="#watch-the-talks-from-pytorch-conference">Watch The Talks From Pytorch Conference</a>
      </li>
    </ul>
  </div>
  