<p>Select your compute platform and configuration to get the installation command. These platforms provide alternative hardware acceleration options beyond NVIDIA CUDA.</p>

<div class="row">
  <div class="col-md-3 headings">
    <div class="col-md-12 title-block">
      <div class="option-text">PyTorch Build</div>
    </div>
    <div class="col-md-12 title-block">
      <div class="option-text os-text">Your OS</div>
    </div>
    <div class="col-md-12 title-block">
      <div class="option-text">Package</div>
    </div>
    <div class="col-md-12 title-block">
      <div class="option-text">Language</div>
    </div>
    <div class="col-md-12 title-block">
      <div class="option-text">Compute Platform</div>
    </div>
    <div class="col-md-12 title-block version-heading" style="display: none;">
      <div class="option-text">Version</div>
    </div>
    <div class="col-md-12 title-block command-block">
      <div class="option-text command-text">Run this Command:</div>
    </div>
  </div>

  <div class="col-md-9">
    <!-- PyTorch Build -->
    <div class="row pytorch-build">
      <div class="col-md-12 title-block mobile-heading">
        <div class="option-text">PyTorch Build</div>
      </div>
      <div class="col-md-6 option block selected" id="stable">
        <div class="option-text">Stable (2.11.0)</div>
      </div>
      <div class="col-md-6 option block" id="preview">
        <div class="option-text">Preview (Nightly)</div>
      </div>
    </div>
    
    <!-- Your OS -->
    <div class="row os-ecosystem">
      <div class="col-md-12 title-block mobile-heading">
        <div class="option-text">Your OS</div>
      </div>
      <div class="col-md-6 option block selected" id="linux">
        <div class="option-text">Linux</div>
      </div>
      <div class="col-md-6 option block" id="windows">
        <div class="option-text">Windows</div>
      </div>
    </div>
    
    <!-- Package -->
    <div class="row package-ecosystem">
      <div class="col-md-12 title-block mobile-heading">
        <div class="option-text">Package</div>
      </div>
      <div class="col-md-4 option block selected" id="pip">
        <div class="option-text">Pip</div>
      </div>
      <div class="col-md-4 option block" id="libtorch">
        <div class="option-text">LibTorch</div>
      </div>
      <div class="col-md-4 option block" id="source">
        <div class="option-text">Source</div>
      </div>
    </div>
    
    <!-- Language -->
    <div class="row language-ecosystem">
      <div class="col-md-12 title-block mobile-heading">
        <div class="option-text">Language</div>
      </div>
      <div class="col-md-6 option block selected" id="python">
        <div class="option-text">Python</div>
      </div>
      <div class="col-md-6 option block" id="cpp">
        <div class="option-text">C++/Java</div>
      </div>
    </div>
    
    <!-- Compute Platform and Version - Two dropdowns in one row -->
    <div class="row compute-platform-dropdown">
      <div class="col-md-12 title-block mobile-heading">
        <div class="option-text">Compute Platform</div>
      </div>
      <div class="col-md-6">
        <select id="compute-platform-select" class="form-control ecosystem-select">
          <option value="">-- Select Platform --</option>
          <!-- Options will be dynamically generated by JS -->
        </select>
      </div>
      <div class="col-md-6">
        <select id="version-select" class="form-control ecosystem-select" disabled>
          <option value="">-- Select Version --</option>
          <!-- Options will be dynamically generated based on platform -->
        </select>
      </div>
    </div>
    
    <!-- Command -->
    <div class="row">
      <div class="col-md-12 title-block command-mobile-heading">
        <div class="option-text">Run this Command:</div>
      </div>
      <div class="command-container">
        <div class="col-md-12" id="command">Select a compute platform to see the installation command.</div>
      </div>
    </div>
  </div>
</div>

<script src="/assets/quick-start-additional-platform.js"></script>
