<div class="container-fluid quick-start-module quick-starts">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <h3>Quick Start
          <br />Locally</h3>

        {% include quick_start_local.html %}
      </div>

      <div class="col-md-4 offset-md-2 cloud-options-col">
        <h3>Quick Start Via
          <br />Cloud Partners</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <div class="quick-start-guides">
          <div class="row cloud-option-row">
            <div class="col-md-12 cloud-option with-right-arrow">
              <a href="" target="_blank" class="quick-start-link">
                <div class="cloud-option-body aws">
                   AWS
                </div>
              </a>
            </div>
          </div>
          <div class="row cloud-option-row">
            <div class="col-md-12 cloud-option with-right-arrow">
              <a href="" target="_blank" class="quick-start-link">
                  <div class="cloud-option-body microsoft-azure">
                 Microsoft Azure
                </div>
              </a>
            </div>
          </div>
          <div class="row cloud-option-row">
            <div class="col-md-12 cloud-option with-right-arrow">
              <a href="" target="_blank" class="quick-start-link">
                  <div class="cloud-option-body google-cloud">
                  Google Cloud Platform
                </div>
              </a>
            </div>
          </div>
          <div class="row cloud-option-row">
            <div class="col-md-12 cloud-option with-right-arrow">
              <a href="" target="_blank" class="quick-start-link">
                  <div class="cloud-option-body colab">
                  Try Now on CoLab
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ site.baseurl }}/assets/quick-start-module.js"></script>