<div class="quick-start-guides">
  <div class="row cloud-option-row dropdown">
    <ul class="dropdown-menu aws-links">
      <li><a href="#">AWS Link 1</a></li>
      <li><a href="#">AWS Link 2</a></li>
      <li><a href="#">AWS Link 3</a></li>
    </ul>
    <div class="col-md-12 cloud-option with-right-arrow animated-border" data-toggle="dropdown" data-flip="false">
      <div class="cloud-option-body aws">
        AWS
      </div>
    </div>
  </div>
  <div class="row cloud-option-row dropdown">
    <ul class="dropdown-menu microsoft-links">
      <li><a href="#">Azure Link 1</a></li>
      <li><a href="#">Azure Link 1</a></li>
      <li><a href="#">Azure Link 1</a></li>
    </ul>
    <div class="col-md-12 cloud-option with-right-arrow animated-border" data-toggle="dropdown" data-flip="false">
      <div class="cloud-option-body microsoft-azure">
        Microsoft Azure
      </div>
    </div>
  </div>
  <div class="row cloud-option-row dropdown">
    <ul class="dropdown-menu google-links">
      <li><a href="#">Google Cloud Link 1</a></li>
      <li><a href="#">Google Cloud Link 1</a></li>
      <li><a href="#">Google Cloud Link 1</a></li>
    </ul>
    <div class="col-md-12 cloud-option with-right-arrow animated-border" data-toggle="dropdown" data-flip="false">
      <div class="cloud-option-body google-cloud">
        Google Cloud Platform
      </div>
    </div>
  </div>
<!--           <div class="row cloud-option-row">
    <div class="col-md-12 cloud-option with-right-arrow">
      <a href="" target="_blank" class="quick-start-link">
          <div class="cloud-option-body colab">
          Try Now on CoLab
        </div>
      </a>
    </div>
  </div> -->
</div>
