<div class="container-fluid quick-start-module quick-starts">
  <div class="container">
    <div class="row">
      <div class="col-md-8 start-locally-col">

        <h3>Install PyTorch</h3>

        {% include quick_start_local.html %}

        <a href="{{ site.baseurl }}/get-started/previous-versions" class="btn btn-lg with-right-arrow btn-white prev-versions-btn">
          Previous versions of PyTorch
        </a>
      </div>

      <div class="col-md-3 offset-md-1 cloud-options-col">
        <h3>Quick Start With<br />Cloud Partners</h3>

        <p>Get up and running with PyTorch quickly through popular cloud platforms and machine learning services.</p>

        {% include quick_start_cloud_options.html %}
      </div>
    </div>
  </div>
</div>

<script src="{{ site.baseurl }}/assets/quick-start-module.js"></script>
