<div class="quick-start-guides">
  <div class="row cloud-option-row dropdown">
    <ul class="dropdown-menu aws-links">
      <li><a href="https://aws.amazon.com/sagemaker/">Amazon SageMaker</a></li>
      <li><a href="https://aws.amazon.com/machine-learning/amis/">AWS Deep Learning AMIs</a></li>
      <li><a href="https://aws.amazon.com/machine-learning/">Learn More</a></li>
    </ul>
    <div class="col-md-12 cloud-option with-right-arrow animated-border" data-toggle="dropdown" data-flip="false">
      <div class="cloud-option-body aws">
        AWS
      </div>
    </div>
  </div>
  <div class="row cloud-option-row dropdown">
    <ul class="dropdown-menu microsoft-links">
      <li><a href="https://cloud.google.com/deep-learning-vm-image/">Cloud Deep Learning VM Image</a></li>
    </ul>
    <div class="col-md-12 cloud-option with-right-arrow animated-border" data-toggle="dropdown" data-flip="false">
      <div class="cloud-option-body google-cloud">
        Google Cloud Platform
      </div>
    </div>
  </div>
  <div class="row cloud-option-row dropdown">
    <ul class="dropdown-menu google-links">
      <li><a href="https://azure.microsoft.com/en-us/services/machine-learning-studio/">Azure Machine Learning Studio</a></li>
      <li><a href="https://azure.microsoft.com/en-us/services/virtual-machines/data-science-virtual-machines/">Data Science Virtual Machines</a></li>
      <li><a href="https://notebooks.azure.com/pytorch">Azure Notebooks</a></li>
      <li><a href="https://azure.microsoft.com/en-us/overview/ai-platform/">Learn More</a></li>
      </ul>
      <div class="col-md-12 cloud-option with-right-arrow animated-border" data-toggle="dropdown" data-flip="false">
      <div class="cloud-option-body microsoft-azure">
        Microsoft Azure
      </div>
    </div>
  </div>
<!--           <div class="row cloud-option-row">
    <div class="col-md-12 cloud-option with-right-arrow">
      <a href="" target="_blank" class="quick-start-link">
          <div class="cloud-option-body colab">
          Try Now on CoLab
        </div>
      </a>
    </div>
  </div> -->
</div>
