<div class="quick-start-guides">
  <div class="cloud-option-row">
    <div class="cloud-option" data-toggle="cloud-dropdown">
      <div class="cloud-option-body aws">
        AWS
      </div>

      <ul>
        <li><a href="https://aws.amazon.com/sagemaker/">Amazon SageMaker</a></li>
        <li><a href="https://aws.amazon.com/machine-learning/amis/">AWS Deep Learning AMIs</a></li>
        <li><a href="https://aws.amazon.com/pytorch/">Learn More</a></li>
      </ul>
    </div>
  </div>

  <div class="cloud-option-row">
    <div class="cloud-option" data-toggle="cloud-dropdown">
      <div class="cloud-option-body google-cloud">
        Google Cloud Platform
      </div>

      <ul>
        <li><a href="https://cloud.google.com/deep-learning-vm/docs/pytorch_start_instance">Cloud Deep Learning VM Image</a></li>
      </ul>
    </div>
  </div>

  <div class="cloud-option-row">
    <div class="cloud-option" data-toggle="cloud-dropdown">
      <div class="cloud-option-body microsoft-azure">
        Microsoft Azure
      </div>

      <ul>
        <li><a href="https://azure.microsoft.com/en-us/services/machine-learning-service/">Azure Machine Learning</a></li>
        <li><a href="https://azure.microsoft.com/en-us/services/virtual-machines/data-science-virtual-machines/">Data Science Virtual Machines</a></li>
        <li><a href="https://notebooks.azure.com/pytorch">Azure Notebooks</a></li>
        <li><a href="https://azure.microsoft.com/en-us/overview/ai-platform/">Learn More</a></li>
      </ul>
    </div>
  </div>
</div>
