<p>Select your preferences and run the install command. Stable represents the most currently tested and supported version of PyTorch. This should
   be suitable for many users. Preview is available if you want the latest, not fully tested and supported, builds that are generated nightly.
   Please ensure that you have <b>met the prerequisites below (e.g., numpy)</b>,  depending on your package manager. Anaconda is our recommended
   package manager since it installs all dependencies. You can also
  <a href="{{ site.baseurl }}/get-started/previous-versions">install previous versions of PyTorch</a>. Note that LibTorch is only available for C++.
</p>

<p><b>NOTE:</b> Latest PyTorch requires Python 3.8 or later.</p>

<div class="row">
  <div class="col-md-3 headings">
    <div class="col-md-12 title-block">
      <div class="option-text">PyTorch Build</div>
    </div>
    <div class="col-md-12 title-block">
      <div class="option-text os-text">Your OS</div>
    </div>
    <div class="col-md-12 title-block">
      <div class="option-text">Package</div>
    </div>
    <div class="col-md-12 title-block">
      <div class="option-text">Language</div>
    </div>
    <div class="col-md-12 title-block">
      <div class="option-text">Compute Platform</div>
    </div>
    <div class="col-md-12 title-block command-block">
      <div class="option-text command-text">Run this Command:</div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row ptbuild">
      <div class="col-md-12 title-block mobile-heading">
        <div class="option-text">PyTorch Build</div>
      </div>
      <div class="col-md-6 option block version selected" id="stable">
        <div class="option-text">Stable (1.13.0)</div>
      </div>
      <div class="col-md-6 option block version" id="preview">
        <div class="option-text">Preview (Nightly)</div>
      </div>
    </div>
    <div class="row os">
      <div class="col-md-12 title-block mobile-heading">
        <div class="option-text">Your OS</div>
      </div>
      <div class="col-md-4 option block" id="linux">
        <div class="option-text">Linux</div>
      </div>
      <div class="col-md-4 option block" id="macos">
        <div class="option-text">Mac</div>
      </div>
      <div class="col-md-4 option block" id="windows">
        <div class="option-text">Windows</div>
      </div>
    </div>
    <div class="row package">
      <div class="col-md-12 title-block mobile-heading">
        <div class="option-text">Package</div>
      </div>
      <div class="col-md-3 option block" id="conda">
        <div class="option-text">Conda</div>
      </div>
      <div class="col-md-3 option block selected" id="pip">
        <div class="option-text">Pip</div>
      </div>
      <div class="col-md-3 option block" id="libtorch">
        <div class="option-text">LibTorch</div>
      </div>
      <div class="col-md-3 option block" id="source">
        <div class="option-text">Source</div>
      </div>
    </div>
    <div class="row language">
      <div class="col-md-12 title-block mobile-heading">
        <div class="option-text">Language</div>
      </div>
      <div class="col-md-6 option block version selected" id="python">
        <div class="option-text">Python</div>
      </div>
      <div class="col-md-6 option block" id="cplusplus">
        <div class="option-text">C++ / Java</div>
      </div>
    </div>
    <div class="row cuda">
      <div class="col-md-12 title-block mobile-heading">
        <div class="option-text">Compute Platform</div>
      </div>
      <div class="col-md-2 option block version" id="cuda.x">
        <div class="option-text">CUDA 11.8</div>
      </div>
      <div class="col-md-2 option block version" id="cuda.y">
        <div class="option-text">CUDA 12.1</div>
      </div>
      <div class="col-md-2 option block version" id="cuda.z">
        <div class="option-text">CUDA 12.4</div>
      </div>
      <div class="col-md-3 option block version" id="rocm5.x">
        <div class="option-text">ROCm 5.2</div>
      </div>
      <div class="col-md-3 option block version" id="accnone">
        <div class="option-text">CPU</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 title-block command-mobile-heading">
        <div class="option-text">Run this Command:</div>
      </div>
      <div class="command-container">
        <div class="col-md-12" id="command">conda install pytorch torchvision -c pytorch</div>
      </div>
    </div>
  </div>
</div>
<br>
