<div id="research" class="container" style="display: none">
  <div class="row research-container">
    <div class="col-md-3 research-side-nav-container">
      {% include research_side_nav.html %}
    </div>
    <div class="col-md-9 research-info-container">
      <div
        id="research"
        class="row main-content blog-detail-content contributor-sidebar"
      >
        <div class="col-md-8 offset-md-1 container">
          <div
            id="audio"
            class="research-section col-md-8 offset-md-1 container"
          >
            <h2>Audio</h2>
            <div class="research-item">
              <a
                class="audio-0"
                href="https://aws.amazon.com/blogs/machine-learning/deepset-achieves-a-3-9x-speedup-and-12-8x-cost-reduction-for-training-nlp-models-by-working-with-aws-and-nvidia/"
                >Deepset achieves a 3.9x speedup and 12.8x cost reduction for
                training NLP models by working with AWS and NVIDIA</a
              >
            </div>
            <div class="research-item">
              <a
                class="audio-1"
                href="https://www.youtube.com/watch?v=K5hD0et_wUc&list=PL_lsbAsL_o2BY-RrqVDKDcywKnuUTp-f3&index=19"
                >PyTorch at Dolby Labs</a
              >
            </div>
          </div>

          <div
            id="chatbot"
            class="research-section col-md-8 offset-md-1 container"
          >
            <h2>Chatbot</h2>
            <div class="research-item">
              <a
                class="chatbot-0"
                href="https://blogs.cisco.com/developer/graphemephoneme01"
                >Cisco Voice Assistant: G2P (grapheme to phoneme) transformer</a
              >
            </div>
          </div>
          <div
            id="chemistry"
            class="research-section col-md-8 offset-md-1 container"
          >
            <h2>Chemistry</h2>
            <div class="research-item">
              <a class="chemistry-0" href="https://arxiv.org/abs/2202.05240"
                >Drug pair scoring with PyTorch</a
              >
            </div>
          </div>
          <div id="cv" class="research-section col-md-8 offset-md-1 container">
            <h2>CV</h2>
            <div class="research-item">
              <a
                class="cv-0"
                href="https://pytorch.org/blog/mapillary-research/"
                >Mapillary Research: Seamless Scene Segmentation and In-Place
                Activated BatchNorm</a
              >
            </div>
          </div>
          <div
            id="distributed-training"
            class="research-section col-md-8 offset-md-1 container"
          >
            <h2>Distributed Training</h2>
            <div class="research-item">
              <a
                class="distributed-training-0"
                href="https://medium.com/pytorch/how-3dfy-ai-built-a-multi-cloud-distributed-training-platform-over-spot-instances-with-44be40936361"
                >How 3DFY.ai Built a Multi-Cloud, Distributed Training Platform
                Over Spot Instances with TorchElastic and Kubernetes</a
              >
            </div>
          </div>
          <div
            id="federated-learning"
            class="research-section col-md-8 offset-md-1 container"
          >
            <h2>Federated Learning</h2>
            <div class="research-item">
              <a
                class="federated-learning-0"
                href="https://aisingapore.org/aiproducts/synergos/"
                >Synergos Formally Launches!</a
              >
            </div>
          </div>
          <div
            id="graph"
            class="research-section col-md-8 offset-md-1 container"
          >
            <h2>Graph</h2>
            <div class="research-item">
              <a
                class="graph-0"
                href="https://www.youtube.com/watch?v=4swsvOLzL_A&list=PL_lsbAsL_o2BSe3eS4spnodObBa3RL08E&index=2"
                >Graph Convolutional Operators in PyTorch JIT</a
              >
            </div>
          </div>
          <div
            id="image-search"
            class="research-section col-md-8 offset-md-1 container"
          >
            <h2>Image Search</h2>
            <div class="research-item">
              <a
                class="image-search-0"
                href="https://medium.com/pinterest-engineering/searchsage-learning-search-query-representations-at-pinterest-654f2bb887fc"
                >SearchSage: Learning Search Query Representations at
                Pinterest</a
              >
            </div>
          </div>
          <div id="nlp" class="research-section col-md-8 offset-md-1 container">
            <h2>NLP</h2>
            <div class="research-item">
              <a
                class="nlp-0"
                href="https://aws.amazon.com/solutions/case-studies/AI21-case-study-p4d/"
                >AI21 Labs Trains 178-Billion-Parameter Language Model Using
                Amazon EC2 P4d Instances, PyTorch</a
              >
            </div>
            <div class="research-item">
              <a class="nlp-1" href="https://youtu.be/qscouq3lo0s"
                >The Why and How of Scaling Large Language Models</a
              >
            </div>
          </div>
          <div
            id="robotics"
            class="research-section col-md-8 offset-md-1 container"
          >
            <h2>Robotics</h2>
            <div class="research-item">
              <a
                class="robotics-0"
                href="https://www.youtube.com/watch?v=se206WBk2dM"
                >Using deep learning and PyTorch to power next gen aircraft at
                Caltech</a
              >
            </div>
          </div>

          <div
            id="text-and-speech"
            class="research-section col-md-8 offset-md-1 container"
          >
            <h2>Text and Speech</h2>
            <div class="research-item">
              <a
                class="text-and-speech-0"
                href="https://customers.microsoft.com/en-us/story/1402696956382669362-university-of-pecs-higher-education-azure-en-hungary"
                >University of Pécs enables text and speech processing in
                Hungarian, builds the BERT-large model with just 1,000 euro</a
              >
            </div>
          </div>

          <div
            id="tech"
            class="research-section col-md-8 offset-md-1 container"
          >
            <h2>Technology</h2>
            <div class="research-item">
              <a
                class="tech-0"
                href="https://research.ibm.com/blog/ibm-pytorch-cloud-ai-ethernet"
                >IBM Research: Bringing massive AI models to any cloud</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
