<div id="research" class="in-production-section hidden">
    <div id="col-md-12 re-container">
        <div class="col-md-9 research-info-container">
            <div id="research" class="row main-content blog-detail-content contributor-sidebar">
                <h1>Here goes item 2 things</h1>
                
                <div class="col-md-8 offset-md-1 container">
                    <h1>Research</h1>
                    <h2>Computer vision</h2>
                    <div id="computer-vision" class="research-section col-md-8 offset-md-1 container">
                        <div class="research-item">
                            <a class="link-0" href="#">link 0</a>
                        </div>
                    </div>
                    <h2>Natural language processing</h2>
                    <div id="natural-language-processing" class="research-section col-md-8 offset-md-1 container">
                        <div class="research-item">
                            <a class="link-1" href="#">link 1</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>