<div id="research-side-nav" class="sticky-top">
  <ul id="research-sidebar-list">
      <ul>
        <li><a href="#industry-1">Industry 1</a></li>
        <li><a href="#industry-2">Industry 2</a></li>
      </ul>
  </ul>
</div>

<script>

  $("#research-sidebar-list li a").on("click", function(e) {
    var href = $(this).attr("href")
    $('html, body').stop().animate({
      scrollTop: $(href).offset().top - 100
    }, 850);
    (e).preventDefault;
  });

  var lastId,
    topMenu = $("#research-sidebar-list"),
    topMenuHeight = topMenu.outerHeight() + 1,
    // All sidenav items
    menuItems = topMenu.find("a"),
  // Anchors for menu items
    scrollItemsResearch = menuItems.map(function() {
      var item = $(this).attr("href");
      if (item.length) { return item; }
  });

  // $(window).scroll(function(){
  //   var fromTop = $(this).scrollTop()+topMenuHeight;
  //   var researchLabel = '.research-section'

  //   $(researchLabel).each(function(i){
  //     var offsetScrollR = $(this).offset().top-$(window).scrollTop();
  //     if (offsetScrollR <= topMenuHeight + 200 && offsetScrollR >= topMenuHeight - 200 && scrollItemsResearch[i] == "#" + $(this).attr("id")) {
  //       $(menuItems).removeClass("active");
  //       $(menuItems[i]).addClass("active");
  //     }
  //   })
  // });

</script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
  