<div id="research-side-nav" class="sticky-top">
  <ul id="research-sidebar-list">
    <ul>
      <li><a href="#audio">Audio</a></li>
      <li><a href="#chatbot">Chatbot</a></li>
      <li><a href="#chemistry">Chemistry</a></li>
      <li><a href="#cv">CV</a></li>
      <li><a href="#distributed-training">Distributed Training</a></li>
      <li><a href="#federated-learning">Federated Learning</a></li>
      <li><a href="#graph">Graph</a></li>
      <li><a href="#image-search">Image Search</a></li>
      <li><a href="#nlp">NLP</a></li>
      <li><a href="#robotics">Robotics</a></li>
      <li><a href="#text-and-speech">Text and Speech</a></li>
      <li><a href="#tech">Technology</a></li>
    </ul>
  </ul>
</div>

<script>
  $("#research-sidebar-list li a").on("click", function (e) {
    var href = $(this).attr("href");

    $("html, body")
      .stop()
      .animate(
        {
          scrollTop: $(href).offset().top - 100
        },
        850
      );
    e.preventDefault;
  });

  var lastIdResearch,
    topMenuResearch = $("#research-sidebar-list"),
    topMenuHeightResearch = topMenuResearch.outerHeight() + 1,
    // All sidenav items
    menuItemsResearch = topMenuResearch.find("a"),
    // Anchors for menu items
    scrollItemsResearch = menuItemsResearch.map(function () {
      var item = $(this).attr("href");
      if (item.length) {
        return item;
      }
    });

  $(window).scroll(function () {
    var fromTopResearch = $(this).scrollTop() + topMenuHeightResearch;
    var researchLabel = ".research-section";

    $(researchLabel).each(function (i) {
      var offsetScrollR = $(this).offset().top - $(window).scrollTop();
      if (
        offsetScrollR <= topMenuHeightResearch + 200 &&
        offsetScrollR >= topMenuHeightResearch - 200 &&
        scrollItemsResearch[i] == "#" + $(this).attr("id")
      ) {
        $(menuItemsResearch).removeClass("active");
        $(menuItemsResearch[i]).addClass("active");
      }
    });
  });
</script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
