<div id="research" class="production-section hidden">
    <div class="col-md-12 research-container">
        <div class="col-md-3 research-side-nav-container">
            {% include research_side_nav.html %}
        </div>
        <div class="col-md-9 research-info-container">
            <div id="research" class="row main-content blog-detail-content contributor-sidebar">       
                <div class="col-md-8 offset-md-1 container">
                    <h1>Research</h1>
                    <div id="industry-1" class="research-section col-md-8 offset-md-1 container">
                        <h2>Industry 1</h2>
                        <div class="research-item">
                            <a class="industry-1" href="#">Industry 1</a>
                        </div>
                    </div>
                    <div id="industry-2" class="research-section col-md-8 offset-md-1 container">
                        <h2>Industry 2</h2>
                        <div class="research-item">
                            <a class="industry-2" href="#">Industry 2</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>