{% assign current_category = page.category.first %}

{% if current_category != nil %}

<div class="container-fluid similar-posts-module">
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light module-content">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <p class="module-heading">Similar Posts</p>
                </li>
                <li class="nav-item">
                    <a href="{{ site.baseurl }}/blog" class=" see-more-posts with-right-arrow">
                        See All Posts
                    </a>
                </li>
            </ul>
        </nav>

        <div class="row">
            {% for category in current_category %}
                {% for post in site.categories[category] limit: 3 %}
                    {% if post.url != page.url %}

            <div class="col-md-4 similar-posts">
                <p class="blog-date">{{ post.date | date: '%B %d, %Y' }}</p>
                <h4>
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                </h4>
                <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' | truncate: 150 }}</p>
            </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

{% endif %}
