<!-- <h2 class="episode-header-text">Upcoming Episodes</h2>
<div class="episode-card-row row col-md-12">
  {% assign events = site.events | where: "category", "live-stream" %}
  {% capture now %}{{'now' | date: '%s' | plus: 0 %}}{% endcapture %}
  {% for item in events | where: "type" == "live-stream" | sort: "date" %}
    {% capture date %}{{item.date | date: '%s' | plus: 0 %}}{% endcapture %}
    {% if date > now limit: 3 %}
      <div class="episode-card col-md-3 resource-card pytorch-resource">
        <div class="episode-body">
          <a class="episode-title" href="{{ item.link }}">{{ item.title }}</a>
          <ul class="episode-detail">
            <li class="guest-name">{{ item.guest }}</li>
            <li class="company-project">{{ item.company }}</li>
            <li>
              <ul class="episode-date-time">
                <li class="episode-date">{{ item.date | date: "%m/%d/%Y" }}</li>
                <span>|</span>
                <li class="episode-time">{{ item.time }}</li>
              </ul>
            </li>
            <span class="info-divide"></span>
          </ul>
          <ul class="episode-info">
            <li class="episode-poster"><a href="{{ item.poster }}">Poster</a></li>
          </ul>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div> -->
