
#apps {
    p {
        margin-bottom: 60px;
    }
}

.apps {
    overflow: hidden;
    @include border-radius(3px);

    .app-row {
        background-color: $grey-light;
        font-size: 14px;
        line-height: 18px;
        color: #808080;
        border-bottom: 1px solid #d9d9d9;
        width: 100%;
        float: left;

        &.apps-header {
            background-color: $grey;
            border-bottom: none;
            color: #fff;
            font-weight: 200;

            .name-cell {
                color: #fff;
                font-weight: 200;
            }

            .downloads-cell {
                color: #fff;
                font-weight: 200;
                font-size: 14px;
            }

            .app-cell {
                height: auto;
            }
        }

        .app-cell {
            padding: 16px 16px 16px 0;
            width: 15%;
            float: left;
            height: 100%;
            height: 90px;

            &:first-child {
                padding-left: 16px;
            }

            > div {
                @extend %vertical-align;
            }
        }

        .img-cell {
            width: 10%;

            > div {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                background-color: $grey;
                height: 58px;
                width: 58px;
            }
        }

        .name-cell {
            color: $grey;
            font-weight: 600;
            padding-left: 5px;
        }

        .desc-cell {
            width: 19%;
            font-weight: 200;
        }

        .downloads-cell {
            font-size: 16px;
            font-weight: 600;
            color: $grey-medium;
            width: 11%;
        }

        .rating-cell {
            .star {
                float: left;
                color: $grey-medium;
                font-size: 20px;

                &.active {
                    color: $orange;
                }
            }
        }

        .tags-cell {
            font-weight: 200;
        }

        .learn-cell {}
    
        .btn {
            font-weight: 600;
            font-size: 14px;
            height: 38px;
            line-height: 36px;
            padding: 0 30px;
            border: 2px solid $grey-medium;
            color: $grey-medium;
            @extend %vertical-align;
            @include border-radius(19px);

            &:hover {
                background-color: $orange;
                border-color: $orange;
                color: #fff;
            }
        }
    }
}

