@import "normalize";
@import "mixins";


$grey: #333333;
$grey-medium: #999999;
$grey-light: #f7f7f7;
$red-orange: #f15532;
$text-color: #000000;
$orange: #f4921f;
$header-height: 75px;

.post {
    max-width: 800px;
}

html, body, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: $grey;
    font-family: "Open Sans", "Helvetica", sans-serif;
    font-size: 12px;
    color: $text-color;
}

h1, h2, h3, h4 {
    font-weight: 200;
}

.hero {
   h1, h2, h3, h4 {
       -webkit-margin-before: 0em;
       -webkit-margin-after: 0em;
       font-weight: 200;
   }
}

a:hover {
    text-decoration: none;
}

.wrap {}

.btn {
    cursor: pointer;
    @include transition(background-color 200ms, color 200ms, linear);
}

.content {
    background-color: #fff;
    padding: 25px 0 123px;

    h1 {
        font-size: 45px;
        margin-bottom: 30px;
    }

    h3 {
        margin-top: 25px;
        margin-bottom: 15px;
    }

    p {
        font-size: 16px;
        color: $text-color;
        font-weight: 200;
        margin-bottom: 15px;
    }

    img {
        max-width: 100%;
    }

    code {
        font-family: monospace !important;
        font-size: 15px;
        font-weight: 400;
        border-radius: 3px;
        color: #000;
        word-break: break-all;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        text-shadow: 0px 1px 0px #fff;
        white-space: nowrap;
    }

    .highlight code {
        white-space: inherit;
    }

    h1, h2, h3, h4 {
      code {  // make code in headers look much better
        font-size: 85%;
        font-weight: 600;
      }
    }

    a code {
      color: inherit;  // allow code in <a> to show as blue
    }

    ul, ol {
        margin-left: 25px;
        margin-bottom: 35px;
        font-weight: 200;
        font-size: 16px;

        li {
            color: $text-color;
            margin-bottom: 15px;
        }
    }
}

.highlighter-rouge {
    pre {
        background-color: #fff;
    }
}

table {
    margin-bottom: 30px;
    overflow: auto;
    font-size: 1.1em;

    th, td {
        padding: 10px;
        text-align: left;
        vertical-align: top;
        line-height: 1.6;
    }

    th {
      background-color: $grey;
      color: #fff;
      border-bottom: none;
      font-weight: 600;

      &:first-child {
        border-top-left-radius: 6px;
      }

      &:last-child {
        border-top-right-radius: 6px;
      }
    }

    td {
        color: $text-color;
    }

    tr, tr:last-child {
      border-bottom: 1px solid #e6e6e6;
    }

    tr:nth-child(odd)>td {
      background-color: #fff;
    }

    tr:nth-child(even)>td {
      background-color: #fcfcfc;
    }

    tr > td:first-child {
      font-weight: 400;
    }
  }
