@import "normalize";
@import "mixins";
// -
$black: #000000;
$dark: #0a0a0a;
$medium: #808080;
$light: #f5f5f5;
$white: #ffffff;
// -
$grey-light: #cccccc;
$grey-medium: #999999;
$grey: #333333;
// -
$orange: #f4921f;
$red-orange: #f15532;
// -
$header-height: 10rem;

html,
body {
	background-color: $light;
	color: $medium;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		"Helvetica Neue",
		Roboto,
		Ubuntu,
		Helvetica,
		Arial,
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol" !important;
	font-size: 13px;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	max-width: 100vw;
}

html {
	overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700 !important;
	color: $black;
}

.btn {
	@include transition(background-color 0.5s, color 0.5s, ease-in-out);
	cursor: pointer;
	font-size: 1rem;
	height: 3.5rem;
	line-height: 3.5rem;
	padding-top: 0.5rem !important;
}

a:active {
	color: currentColor;
}

a:hover {
	color: currentColor !important;
	text-decoration: underline;
}

a:link {
	color: currentColor;
	text-decoration: none;
}

a:visited {
	color: currentColor;
}

.content {
	background-color: $light;
	padding: 2rem 0;

	img {
		max-width: 100%;
	}

	code {
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		-webkit-hyphens: auto;
		color: $black;
		font-family: monospace !important;
		hyphens: auto;
		white-space: nowrap;
		word-break: break-all;
	}

	.highlight code {
		white-space: inherit;
	}

	a code {
		color: inherit;
	}

	ul,
	ol {
		margin: 0 0 2rem 2rem;

		li {
			color: $black;
			margin-bottom: 1rem;
		}
	}
}

.highlighter-rouge {
	pre {
		background-color: $light;
	}
}

table {
	margin-bottom: 2rem;
	overflow: auto;

	th,
	td {
		padding: 1rem;
		text-align: left;
		vertical-align: top;
	}

	th {
		background-color: $grey;
		border-bottom: none;
		color: $white;
		font-weight: 600;

		&:first-child {
			border-top-left-radius: 0.5rem;
		}

		&:last-child {
			border-top-right-radius: 0.5rem;
		}
	}

	td {
		color: $black;
	}

	tr,
	tr:last-child {
		border-bottom: 1px solid $grey-medium;
	}

	tr:nth-child(odd)>td {
		background-color: $white;
	}

	tr:nth-child(even)>td {
		background-color: $white;
	}
}

.logo {
	background-image: url(../img/pytorch-logo-light.svg);
	background-repeat: no-repeat;
}

ul.primary-nav {
	text-align: center;
	float: right;

	li {
		list-style-type: none;
		float: left;

		a {
			padding: 0 2rem;
			text-decoration: none;
			color: $grey-medium;
			height: 100%;
			width: 100%;
			float: left;
			@include transition(color 200ms, linear);

			&.active,
			&:hover {
				color: $white !important;
				text-decoration: none;
			}
		}
	}
}

header {
	background-color: $black;
	height: $header-height;
	padding: 0 10%;
	width: 100%;
	max-width: 100vw !important;

	.logo {
		width: 150px;
		height: 30px;
		float: left;
		position: relative;
		top: 3rem;

		a {
			display: block;
			height: 100%;
		}
	}

	ul.primary-nav {
		height: 100%;
		line-height: 5rem;
		margin: 2rem 2rem 0 0;
	}

	.btn {
		@include border-radius(2rem);
		@include transition(border-color 200ms, color 200ms, linear);
		border: 2px solid $grey-medium;
		color: $grey-medium;
		display: block;
		float: right;
		position: relative;
		top: 2.6rem;

		&.active,
		&:hover {
			border-color: $red-orange;
			color: $white;
		}
	}
}

footer {
	background-color: $black;
	height: 150px;
	padding: 0 10%;
	width: 100%;
	max-width: 100vw !important;

	.left {
		color: $grey;
		width: 250px;
		float: left;
	}

	.logo {
		width: 150px;
		height: 30px;
		margin: 5rem 0 1rem 0;

		a {
			display: block;
			height: 100%;
		}
	}

	p {
		color: $grey;
		font-size: 1rem;
	}

	ul.primary-nav {
		height: 50px;
		line-height: 5rem;
		position: relative;
		top: 5rem;

		li:last-child a {
			padding-right: 0;
		}
	}
}

@media (max-width: 1000px) {
	#home {
		.box.projects {
			padding-bottom: 50px;
			margin-bottom: 50px;
		}

		.command,
		.command div .text {
			height: 10rem;
		}
	}

	.primary-nav {
		display: none;
	}

	.col-md-5.title {
		margin-bottom: 4em;
	}
}

#blog {
	h1 {
		color: $black;
		margin-bottom: 5rem;
	}
}