
.logo {
    background-image: url(../img/pytorch-logo-light.svg);
    background-repeat: no-repeat;
}

ul.primary-nav {
    text-align: center;
    float: right;

    li {
        list-style-type: none;
        float: left;

        a {
            padding: 0 30px;
            text-decoration: none;
            color: $grey-medium;
            height: 100%;
            width: 100%;
            float: left;
            @include transition(color 200ms, linear);

            &.active,
            &:hover {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

header {
    background-color: #262626;
    height: $header-height;
    width: 100%;

    .logo {
        width: 151px;
        height: 31px;
        float: left;
        position: relative;
        top: 24px;

        a {
            display: block;
            height: 100%;
        }
    }

    a {
        font-size: 14px;
        font-weight: 400;
    }

    ul.primary-nav {
        height: 100%;
        line-height: 76px;
        margin-right: 22px;
    }

    .btn {
        display: block;
        height: 40px;
        line-height: 38px;
        padding: 0 21px;
        border: 2px solid $grey-medium;
        color: $grey-medium;
        float: right;
        position: relative;
        top: 17px;
        @include transition(border-color 200ms, color 200ms, linear);
        @include border-radius(25px);

        &.active,
        &:hover {
            border-color: #fff;
            color: #fff;
        }
    }
}

footer {
    background-color: $grey;
    height: 150px;
    padding: 33px 0 31px;

    .left {
        color: #808080;
        font-size: 14px;
        width: 245px;
        line-height: 27px;
        font-weight: 200;
        float: left;
    }

    .logo {
        width: 135px;
        height: 28px;
        margin-bottom: 10px;

        a {
            display: block;
            height: 100%;
        }
    }

    a {
        font-size: 14px;
        font-weight: 400;
    }

    ul.primary-nav {
        height: 50px;
        line-height: 50px;
        position: relative;
        top: 18px;

        li:last-child a {
            padding-right: 0;
        }
    }
}
