
#docs {

    header {
        padding-right: 2%;
        padding-left: 2%;
    }

    footer {
        display: none;
    }

    iframe {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: calc(100% - #{$header-height});
    }
}
