#home {
	.container {
		max-width: 970px;
	}
}

.hero {
	align-items: center;
	background-color: $grey;
	background-image: url(../img/hero.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	height: 500px;
	justify-content: center;
	top: -20px;
	margin-top: -20px;
	text-align: center;
	width: 100%;

	.container {
		margin: 0 auto;
		padding: 0;
	}

	h1 {
		color: $white;
		margin-bottom: 2rem;
	}

	h4 {
		color: $white;
		margin-bottom: 2rem;
	}

	.btn {
		border: 2px solid $white;
		color: $white;
		padding: 0 3rem;
		@include border-radius(2rem);

		&:hover {
			background-color: $white;
			color: $black !important;
		}
	}
}

.install-wizard {
	background-color: $light;
	color: $black;
	padding: 10rem 0;

	.row {
		margin-bottom: 2rem;
	}

	.options-sets {
		color: $medium;
		text-align: right;

		.option-row {
			float: left;
			margin-bottom: 2rem;
			width: 100%;

			.option-label {
				display: table;
				float: left;
				padding: 10px 15px 0 0;
				vertical-align: middle;
				width: 25%;
			}

			.option-set {
				float: left;
				width: 75%;
			}

			.btn {
				font-weight: 600;
				padding: 0;
				border: 2px solid $grey-light;
				color: $medium;
				@include border-radius(2rem);

				&.selected,
				&:hover {
					background-color: $dark;
					color: $white;
					border-color: $dark;
				}

				&:last-child {
					margin-right: 0 !important;
				}
			}

			&.cuda {
				.btn {
					width: (90% / 4);
				}
			}

			&.os {
				.btn {
					width: (90% / 3);
				}
			}

			&.pm {
				.btn {
					width: (90% / 3);
				}
			}

			&.python {
				.btn {
					width: (90% / 4);
				}
			}
		}
	}

	.command {
		background-color: $dark;
		overflow: hidden;
		height: 6rem;
		@include border-radius(1rem);

		.left-label {
			color: $white;
			float: left;
			padding: 1rem;
			text-align: center;
			width: 175px;
		}

		.text {
			background-color: $white;
			float: left;
			height: 6rem;
			padding: 1rem 2rem;
			width: calc(100% - 175px);
		}
	}
}

.projects-tutorials {
	background-color: $white;
	padding: 90px 0 20px;

	.box {
		margin-bottom: 5rem;
		padding: 1rem 0;
		text-align: center;

		h3,
		h5 {
			color: $black;
			margin-bottom: 3rem;
		}

		img {
			width: 50px;
			height: 50px;
			margin-bottom: 3rem;
			@include opacity(0.5);
		}
	}
}

.btn {
	@include border-radius(2rem);
	border: 2px solid $red-orange;
	color: $grey;
	padding: 0 6rem;

	&:hover {
		background-color: $red-orange;
		color: $white !important;
	}
}

.logos {
	background-color: $white;
	padding: 10rem 0;
	text-align: center;

	h3 {
		color: $black;
		margin-bottom: 5rem;
	}

	.logos-wrapper {
		width: 960px;
		height: 312px;
		margin: 0 auto;

		img {
			float: left;
		}
	}

	.row {
		height: 150px;

		div {
			height: 100%;
		}
	}

	img {
		@extend %vertical-align;
		@include transition(box-shadow 0.25s ease-in, opacity 0.25s ease-in);
		filter: gray;
		filter: grayscale(1);
		max-width: 100%;
		opacity: 0.5;
	}

	img:hover {
		@include transition(box-shadow 0.25s ease-in, opacity 0.25s ease-in);
		box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
		opacity: 1;
	}
}