
#home {
    header, footer {
        padding-right: 8%;
        padding-left: 8%;
    }

    .container {
        max-width: 970px !important;
    }
}

.hero {
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $grey;
    height: 500px;
    position: relative;

    .container {
        height: 100%;
        text-align: center;
    }

    .inner {
        @extend %vertical-align;
    }

    h1 {
        color: #fff;
        font-size: 40px;
        letter-spacing: -0.01em;
        line-height: 1.22em;
        margin-bottom: 30px;
    }

    h2 {
        color: #fff;
        font-size: 18px;
        line-height: 1.55em;
        letter-spacing: 0em;
        margin-bottom: 25px;
    }

    @media screen and (max-width: 400px) {
        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 15px;
        }

        .btn {
            font-size: 13px;
        }
    }

    .btn {
        font-weight: 600;
        font-size: 14px;
        height: 48px;
        line-height: 46px;
        padding: 0 45px;
        border: 2px solid #fff;
        margin-top: 10px;
        color: #fff;
        @include border-radius(24px);

        &:hover {
            background-color: #fff;
            color: $red-orange;
        }
    }
}

.install-wizard {
    background-color: #fff;
    padding: 108px 0;

    h3 {
        font-size: 50px;
        margin-bottom: 13px;
    }

    h4 {
        font-size: 16px;
        line-height: 22px;
        color: $grey-medium;
    }

    .row {
        margin-bottom: 30px;
    }

    .title {
        padding-top: 10px;
    }

    .options-sets {
        text-align: right;
        color: $grey-medium;
        font-size: 14px;

        .option-row {
            float: left;
            width: 100%;
            margin-bottom: 15px;

            .option-label {
                float: left;
                width: 25%;
                text-align: right;
                padding-right: 15px;
                padding-top: 10px;
                display: table;
                vertical-align: middle;
            }

            .option-set {
                float: left;
                width: 75%;
            }

            .btn {
                font-weight: 600;
                font-size: 13px;
                height: 38px;
                line-height: 36px;
                padding: 0;
                border: 2px solid #ccc;
                color: $grey-medium;
                @include border-radius(19px);

                &.selected,
                &:hover {
                    background-color: $grey;
                    color: #fff;
                    border-color: $grey;
                }

                &:last-child {
                    margin-right: 0 !important;
                }
            }

            &.cuda {
                .btn {
                    width: (91% / 4);
                    margin-right: 2%;
                }
            }

            &.os {
                .btn {
                    width: (94% / 2);
                    margin-right: 2%;
                }
            }

            &.pm {
                .btn {
                    width: (91% / 3);
                    margin-right: 2%;
                }
            }

            &.python {
                .btn {
                    width: (91% / 3);
                    margin-right: 2%;
                }
            }

        }
    }

    .command {
        background-color: $grey;
        overflow: hidden;
        @include border-radius(7px);

        .label {
            font-weight: 600;
            font-size: 14px;
            float: left;
            width: 180px;
            padding: 18px 10px 12px;
            text-align: center;
        }

        .text {
            background-color: $grey-light;
            font-weight: 200;
            font-size: 15px;
            float: left;
            width: calc(100% - 180px);
            padding: 15px 25px;;
        }
    }
}

.projects-tutorials {
    background-color: $grey-light;
    padding: 90px 0 20px;

    h3 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 17px;
        margin-bottom: 45px;
        color: $grey-medium;
    }

    .box {
        text-align: center;
        padding: 10px 0;
        margin-bottom: 70px;

        img {
            width: 60px;
            height: 60px;
            margin-bottom: 35px;
            @include opacity(0.5);
        }

        &.projects {
            img {
                width: 50px;
                height: 50px;
            }
        }

        &:first-child {
            border-right: 1px solid #d9d9d9;
        }

        &:nth-child(2) {
            border-right: 1px solid #d9d9d9;
        }
    }

    .btn {
        font-weight: 600;
        font-size: 14px;
        height: 50px;
        line-height: 48px;
        padding: 0 60px;
        border: 2px solid $red-orange;
        color: $grey;
        @include border-radius(25px);

        &:hover {
            background-color: $red-orange;
            color: #fff;
        }
    }
}

.logos {
    background-color: #fff;
    text-align: center;
    padding: 121px 0 100px;

    h3 {
        font-size: 40px;
        margin-bottom: 85px;
    }

    .logos-wrapper {
        width: 960px;
        height: 312px;
        margin: 0 auto;

        img {
            float: left;
        }
    }

    .row {
        height: 150px;

        div {
            height: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        .row {
            height: 100px;

            img {
                max-width: 70%;
            }

            img.smaller {
                max-width: 40%;
            }

            img.smallerer {
                max-width: 30%;
            }
        }
    }

    img {
        @extend %vertical-align;
        max-width: 90%;
    }

    .smaller {
        max-width: 55%;
    }

    .smallerer {
        max-width: 40%;
    }

    .larger {
        max-width: 100%;
    }
}

