%vertical-align {
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

%no-select {
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

%truncate-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin border-radius($radius) {
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin transition($args...) {
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	-webkit-transition: $args;
	transition: $args;
}

@mixin animation($str) {
	-moz-animation: #{$str};
	-ms-animation: #{$str};
	-o-animation: #{$str};
	-webkit-animation: #{$str};
	animation: #{$str};
}

@mixin box-shadow($horiz:1px, $vert:1px, $blur:3px, $spread:1px, $color:rgba(0, 0, 0, 0.2)) {
	-moz-box-shadow: $horiz $vert $blur $spread $color;
	-webkit-box-shadow: $horiz $vert $blur $spread $color;
	box-shadow: $horiz $vert $blur $spread $color;
}

@mixin opacity($opacity) {
	opacity: $opacity;
	filter: alpha(opacity=($opacity * 100));
}