$tablet-width: 0px;
$phone-width: 0px;


@media (max-width: $tablet-width) {
  
}

@media (max-width: $phone-width) {

}

@media (max-width: 905px) {

    .primary-nav {
        display: none;
    }

    .col-md-5.title {
        margin-bottom: 4em;
    }
}

@media (max-width: 991px) {

    #home {
        .box.projects {
            border-right: none;
            border-bottom: 1px solid #d9d9d9;
            padding-bottom: 50px;
            margin-bottom: 50px;
        }
    }
}

