
#support {
    .content {
        
    }

    .support-group {
        margin-bottom: 45px;

        h3 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        p {
            color: #808080;
            font-size: 18px;
            margin-bottom: 15px;

            a {
                font-weight: 700;
                color: $orange;

                &:hover {
                    color: $red-orange;
                } 
            }
        }

        .btn {
            font-size: 14px;
            height: 46px;
            line-height: 44px;
            padding: 0 35px;
            border: 2px solid #000;
            color: #000;
            font-weight: 700;
            @include border-radius(23px);

            &:hover {
                background-color: #000;
                color: #fff;
            }
        }
    }
}

