$custom-font-size: 16px;
$black: #000000;
$white: #ffffff;
$dark_grey: #8b8a8b;
$light_grey: #f3f4f7;
$orange: #ee4c2c;
$medium_grey: #f1f5f8;
$not_quite_black: #262626;
$slate: #252627;
$very_light_grey: #f9fafc;
$very_dark_grey: #939393;
$content_text_color: #545454;
$code_background_color: #f7f7f9;
$dark_blue: #3d5a97;
$quick_start_grey: #8c8c8c;
$command_block_black: #4a4a4a;
$smoky_grey: #bfbfc1;
$medium_smoky_grey: #a5a5a5;
$code_link_color: #4974D1;

$desktop_header_height: 90px;
$mobile_header_height: 68px;
$desktop_footer_height: 420px;
$site_horizontal_padding: 30px;

@import "../node_modules/bootstrap/scss/variables";

@mixin desktop {
  @media screen and (min-width: 768px) { @content; }
}

@mixin full-nav-menu-desktop {
  @media screen and (min-width: 1100px) { @content; }
}

@mixin max-width-desktop {
  @media screen and (min-width: 1240px) { @content; }
}

@mixin small-desktop {
  @media (min-width: 768px) and (max-width: 1239px) { @content; }
}

@function rem($px) {
  @return ($px / 16px) * 1rem;
}

@mixin code_font_family {
  font-family: IBMPlexMono,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  & {
    *zoom: 1;
  }
}

@mixin default_link_styles {
  a:link,
  a:visited,
  a:hover {
    color: $orange;
    text-decoration: none;
  }

  @include desktop {
    a:hover {
      text-decoration: underline;
    }
  }
}

@mixin animated_border_hover_state {
  @include desktop {
    &:after {
      content: "";
      display: block;
      width: 0;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $orange;
      transition: width .250s ease-in-out;
    }

    &:hover:after {
      width: 100%;
    }
    &:hover {
      color: $not_quite_black;
    }
  }
}

@mixin external_link_icon {
    &:after {
      content: url($baseurl + "/assets/images/external-link-icon.svg");
      margin-left: 15px;
    }
}
