$custom-font-size: 16px;
$black: #000000;
$white: #ffffff;
$dark_grey: #8b8a8b;
$light_grey: #f3f4f7;
$orange: #e44c2c;
$medium_grey: #f1f5f8;
$not_quite_black: #262626;
$slate: #252627;
$very_light_grey: #f9fafc;
$very_dark_grey: #939393;
$content_text_color: #767676;

@import "../node_modules/bootstrap/scss/variables";

@mixin desktop {
  @media screen and (min-width: 768px) { @content; }
}
