.announcement {
  .hero-content { 
    top: $mobile_header_height + 40px;
    display: grid;
    height: 100%;
    position: relative;

    @include desktop {
      top: $mobile_header_height + 60px;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
    }

    .side-text {
      align-items: flex-start;
      h1 {
        color: $white;
        font-weight: 300;
        font-size: 70px;
      }
      p.lead {
        margin-bottom: rem(25px);
        padding-top: rem(30px);
        color: $white;
        width: 100%;
      }

    }
    .side-image {
      position: inherit;
      height: 316px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      @include desktop {
        height: 100%;
      }
    }

  }

  .main-content {
    padding-bottom: 0;
  }

  .navbar-nav .nav-link {
    color: $black;
  }

  .nav-logo {
    background-image: url($baseurl + "/assets/images/logo-dark.svg");
  }

  .main-background {
    height: 600px
  }
}

.announcement .main-content-wrapper {
  margin-bottom: 5rem;
  margin-top: 190px;
  @include desktop {
    margin-top: 290px;
  }
}

.announcement .card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  
  .card {
    border: none;
    a {
      color: $black;
    }
    .card-body {
      padding: 0;
    
      img {
        width: 100%;
        height: 207px;
        object-fit: cover;
        padding: 20px 0;
      }
    }
  }

  @include desktop{
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
  }

}


.announcement .dark-background-section {
  background-color: $black;
  .line-content {
    padding: 100px 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    .row {
      gap: 10px;
      @include desktop {
        gap: 0;
      }
    }
    h1 {
      color: $white;
    }
  }
}

.announcement .contact-us-section {
  background-color: $code_background_color;
}

.announcement .light-background-section {
  background-color: $white;
  .content {
    padding: 80px 0;
  }
}

.announcement .body-side-text {
  .lead {
    margin-bottom: rem(25px);
    padding-top: rem(50px);
  }
}

.announcement .body-side-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.announcement .contact-us-section {
  padding: 20px 0;
  .row {
    justify-content: center;

    .hbspt-form {
      padding: 20px 0;

      .hs-button {
        background-image: url($baseurl + "/assets/images/chevron-right-orange.svg");
        background-size: 6px 13px;
        background-position: top 9px right 11px;
        background-repeat: no-repeat;
        border-radius: 0;
        border: none;
        background-color: $light_grey;
        color: $quick_start_grey;
        font-weight: 400;
        position: relative;
        letter-spacing: 0.25px;
        padding: rem(2px) rem(32px) rem(2px) rem(12px);
        margin: 10px 0;
      }

      fieldset.form-columns-2, fieldset.form-columns-1 {
        max-width: 100%;
        .hs-form-field {
          max-width: 100%;
          padding: 10px 0;
          width: 100%;
          input {
            border: none;
            width: 100%;
          }
          textarea {
            border: none;
            width: 100%;
          }
        }
      }
    }
  }
}


