.announcement {
  .main-content {
    padding-bottom: 0;
  }
  .navbar-nav .nav-link {
    color: $black;
  }

  .nav-logo {
    background-image: url($baseurl + "/assets/images/logo-dark.svg");
  }

  .main-background {
    @include desktop {
      height: 600px
    }
  }
}

.announcement {
  .jumbotron {
    position: relative;
    height: 450px; 
    top: $mobile_header_height;
    align-items: flex-start; 
    @include desktop{
      top: $desktop_header_height;  
      height: 550px;
    }
    .container {
      .side-text {
        h1 {
          padding-top: rem(50px);
          color: $white;
        }
        p.lead {
          margin-bottom: rem(25px);
          padding-top: rem(50px);
          color: $white;
          width: 100%;
        }

      }
      .side-image {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
}

.announcement .main-content-wrapper {
  margin-bottom: 0.75rem;
  margin-top: 130px;
}

.announcement .card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  .card {
    border: none;
    a {
      color: $black;
    }
    .card-body {
      padding: 0;
    
      img {
        width: 100%;
        height: 207px;
        object-fit: cover;
        padding: 20px 0;
      }
    }
  }

}


.announcement .dark-background-section {
  background-color: $black;
  .line-content {
    padding: 100px 0;
    h1 {
      color: $white;
    }
  }
}

.announcement .contact-us-section {
  background-color: $code_background_color;
}

.announcement .light-background-section {
  background-color: $white;
  .content {
    padding: 80px 0;
  }
}

.announcement .body-side-text {
  .lead {
    margin-bottom: rem(25px);
    padding-top: rem(50px);
  }
}

.announcement .body-side-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}



