.announcement {
  .announcement-header {
    background-color: rgba(0, 0, 0, 0.165);
  }
  .main-menu ul li a {
    color: $white;
  }

  .hero-content { 
    top: $mobile_header_height + 60px;
    height: 230px;
    position: relative;
    margin-bottom: 140px;
    justify-content: center;

    @media screen and (min-width: 1000px) {
      height: 300px;
      top: $mobile_header_height + 60px;
    }

    h1 {
      font-size: rem(60px);
      text-transform: uppercase;
      font-weight: lighter;
      letter-spacing: 1.08px;
      margin-bottom: rem(10px);
      line-height: 1.05;
      color: $white;
  
      @include desktop {
        font-size: rem(72px);
      }
    }
  }

  .row {
    justify-content: center;
  }

  .main-content {
    margin-bottom: 5rem;
    padding-bottom: 0;
  }

  .main-background {
    height: 350px;

  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: 3rem;
      .card {
        border: none;
        display: block;
        a {
          color: $black;
        }
        .card-body {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-between;
          padding: 0;
        
          img {
            width: 100%;
            height: 207px;
            object-fit: contain;
            padding: 20px 0;
          }
        }
      }
    @media screen and (min-width: 1000px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 36px;
    }
  }

 .contact-us-section {
    background-color: $code_background_color;
    padding: 50px 0;
    .row {
      justify-content: center;
      .lead {
        padding-top: rem(24px);
      }
      .hbspt-form {
        padding: 30px 0;

        .hs-button {
          background-image: url($baseurl + "/assets/images/chevron-right-orange.svg");
          background-size: 6px 13px;
          background-position: top 16px right 11px;
          background-repeat: no-repeat;
          border-radius: 0;
          border: none;
          background-color: $white;
          color: $quick_start_grey;
          font-weight: 400;
          position: relative;
          letter-spacing: 0.25px;
          padding: rem(12px) rem(32px) rem(12px) rem(12px);
          margin: 10px 0;
          
          @include animated_border_hover_state;

          @include desktop {
            background-position: top 19px right 11px;
          }
          
        }

        fieldset.form-columns-2, fieldset.form-columns-1 {
          max-width: 100%;
          .hs-form-field {
            max-width: 100%;
            padding: 10px 0;
            width: 100%;
            input {
              border: none;
              width: 100%;
            }
            textarea {
              border: none;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .light-background-section {
    background-color: $white;
    .content {
      padding: 50px 0;
    }
  }
  
 .body-side-text {
    .lead {
      margin-bottom: rem(25px);
      padding-top: rem(24px);
    }
  }
}

