article.pytorch-article {
  max-width: 920px;
  margin: 0 auto;
  padding-bottom: 90px;

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: rem(30px);
    margin-bottom: rem(24px);
    color: $not_quite_black;
  }

  h2 {
    font-size: rem(24px);
    letter-spacing: 1.33px;
    line-height: rem(32px);
    margin-top: rem(50px);
    text-transform: uppercase;
  }

  h3 {
    font-size: rem(24px);
    letter-spacing: -0.25px;
    line-height: rem(30px);
    text-transform: none;
  }

  h4,
  h5,
  h6 {
    font-size: rem(18px);
    letter-spacing: -0.19px;
    line-height: rem(30px);
  }

  p {
    margin-bottom: rem(18px);
  }

  p,
  ul li,
  ol li,
  dl dt,
  dl dd,
  blockquote {
    font-size: rem(18px);
    line-height: rem(30px);
    color: $content_text_color;
  }

  table {
    margin-bottom: rem(40px);
    width: 100%;
  }

  table thead {
    border-bottom: 1px solid #cacaca;
  }

  table th,
  table tr,
  table td {
    color: $content_text_color;
    font-size: rem(16px);
    letter-spacing: -0.17px;
  }

  table th {
    padding: rem(10px);
    color: $not_quite_black;
  }


  table td {
    padding: rem(5px);
  }

  ul,
  ol{
    margin: rem(24px) 0 rem(50px) 0;

    @include desktop {
      padding-left: rem(100px);
    }

    li {
      margin-bottom: rem(10px);
    }
  }

  dl {
    margin-bottom: rem(40px);
  }

  dl dt {
    margin-bottom: rem(12px);
    font-weight: 400;
  }

  pre {
    margin-bottom: rem(40px);
  }

  hr {
    margin-top: rem(75px);
    margin-bottom: rem(75px);
  }

  blockquote {
    font-size: rem(12px);
    font-style: italic;
    padding: 15px 15px 5px 15px;
    width: 100%;
    background-color: rgba(211, 211, 211, 0.3);
    border-left: 2px solid #000000;
  }

  h3.no_toc {
    margin: 0px;
  }

  nav {
    float: right;
    display: block;
    overflow-y: auto;
    background-color: white;
    margin-left: 20px;
    border-left: 1px #717171;
  }

  nav li {
    font-size: 12px;
    line-height: 20px;
    padding-top: 0px;
    list-style: none;
  }

  nav a {
    color: #717171;
    font-weight: bold;
  }

  ul#markdown-toc {
    padding-left: 1em;
    margin: 0px;
  }

  ul#markdown-toc ul {
    margin: 0px;
    padding-left: 1em;
  }

  ul#markdown-toc li {
    margin: 0px;
  }
}
