.case-study {
  .feature-content {
    display: flex;
    .featured-logo-container {
      text-align: center;
    }
    @media (max-width: 767px) {
      flex-flow: column;
      .featured-case-study-logo {
        margin-bottom: 2rem;
      }
      .featured-logo-container {
        text-align: initial;
      }
    }
  }
}

.case-study-container {
  display: flex;
  flex-wrap: wrap;
  .case-study-item {
    place-self: center;
    margin-bottom: 3rem;
    height: 23rem;
    .case-study-button {
      position: absolute;
      bottom: 0;
    }
    p {
      font-size: 18px;
      color: $dark_grey;
      max-height: 9rem;
      overflow: scroll;
    }
    @media(min-width: 769px) {
      p {
        max-height: 11rem;
      }
    }
  }
  .case-study-logo {
    height: 7rem;
    margin-bottom: 2rem;
  }
}

.case-study-lead {
  margin-top: 2rem;
}
