.comm-stories {
  .community-stories-wrapper {
    background-color: white;
  }
  .community-stories {
    padding-top: 0;
    .production-info-container,
    .research-info-container {
      display: flex;
      flex-flow: column;
    }
    .sticky-top {
      top: 15%;
    }
  }
  .production-container,
  .research-container {
    display: flex;
    padding-left: 0;
    @media (max-width: 767px) {
      flex-flow: wrap;
    }
  }
  .production-section, .research-section {
    max-width: 920px;
    margin: 0 auto 0 auto;
    padding: 0 30px 43px 30px;
    width: 90%;
    .production-item, .research-item {
      padding-bottom: 2rem;
      padding-top: 2rem;
      border-bottom: 1px solid #d6d7d8;
      h2 {
        padding-bottom: 1rem;
      }
    }
  }
  .production-side-nav-container,
  .research-side-nav-container {
    #research-sidebar-list, 
    #production-sidebar-list{
      padding-left: 0;
      .active {
        color: $orange;
      }
      ul {
        padding-left: 3rem;
        list-style: none;
        li {
          line-height: 36px;
          a {
            color: #8c8c8c;
          }
        }
      }
    }
  }

  .production-section, .research-section {
    p {
      font-size: 18px;
      margin-top: 2rem;
    }
    @include small-desktop {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
    }
    @media (max-width: 767px) {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .main-content-wrapper {
    margin-top: 275px;
    @include desktop {
      margin-top: 380px;
    }
  }
  
  .jumbotron {
    color: $white;
    height: 190px;
    @include desktop {
      height: 260px;
    }
  }
}
.ecosystem .community-stories.main-content {
  padding-top: 0;
}

.community-stories-container-fluid {
  height: 5rem;
  width: 100%;
  padding-bottom: 7rem;
  @media screen and (max-width: 767px) {
    margin-top: 2rem;
  }
  @include full-nav-menu-desktop {
    margin-left: 0;
  }
}



.comm-stories .community-stories.main-content .navbar {
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0;
  .nav-item {
    cursor: pointer;
    &:last-of-type {
      position: relative;
    }
  }
  @media (min-width: 992px) {
    .nav-item {
      padding: 2rem;
      cursor: pointer;
    }

    .nav-link {
      position: relative;
      top: 10%;
      transform: translateY(-50%);
    }
  }

  .nav-select {
    background-color: $white;
    .nav-link {
      color: $orange;
      font-weight: 500;
    }
  }

  .nav-link {
    font-size: rem(18px);
    color: #8c8c8c;
    @include desktop {
      margin-left: rem(30px);
    }
    &:hover {
      color: $orange;
    }
  }

  .community-stories-nav-link {
    padding-left: rem(20px);
    padding-right: rem(20px);

    @include desktop {
      padding-left: rem(30px);
      padding-right: rem(30px);
    }
  }

  .community-stories-nav {
    flex-direction: row;
  }

  .nav-item {
    padding-top: rem(15px);
    padding-bottom: rem(15px);
    @include desktop {
      padding-bottom: 0;
      padding-top: 2rem;
    }
    @include small-desktop {
      padding-bottom: 0;
      padding-top: 2rem;
    }
    @media (max-width: 990px) {
      padding-bottom: rem(10px);
      padding-top: 1rem;
    }
  }

  .navbar-toggler {
    margin-left: rem(40px);
  }
}


