.compact-cards {
  width: 100%;
  a {
    color: #6C6C6D;
    &:hover {
      color: $orange;
    }
  }
}

.compact-hub-card-wrapper {
  padding: 0;
}

.compact-card-container {
  display: flex;
  align-items: center;
}

.compact-card-body {
  padding-top: 8px;
  &:hover {
    border-bottom: 1px solid $orange;
    color: $orange;
    .compact-item-title {
      color: $orange
    }
  }
}

.compact-model-card {
  height: auto;
  border-bottom: 1px solid #E2E2E2;
}

.compact-item-title {
  padding-left: 0;
  color: #000;
}

.compact-card-summary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.compact-hub-divider {
  padding: 0;
  width: 100%;
}

.hub-select-container {
  position: absolute;
  right: 0;
  height: 2rem;
}

.compact-hub-index-cards {
  padding-bottom: 2rem;
}

.full-hub-icon {
  &:hover {
    cursor: pointer;
    height: 3rem;
  }
}

.compact-hub-icon {
  margin-left: 0.5rem;
  margin-right: rem(50px);
  &:hover {
    cursor: pointer;
  }
}


