.ecosystem .join-wrapper .marketo-contain {
  display: flex;
  height: 25rem;
  max-width: 1200px;
  flex-wrap: wrap;
  @include desktop {
    height: 20rem;
    flex-wrap: nowrap;
  }
}

.ecosystem .contributor-jumbotron {
  @include desktop {
    height: 262px;
  }
  width: 90%;

  .container {
    max-width: 920px;
  }

  h1 {
    padding-top: 0;
    span {
      font-weight: 300;
      color: $purple;
    }
  }
}

.ecosystem .contributor-jumbotron .contributor-jumbo-text {
  h1 {
    color: white;
  }
  h2 {
    color: white;
    padding-top: 0;
  }
}

.marketo-left {
  justify-content: center;
  top: 2rem;
  h2 {
    text-transform: uppercase;
    color: $orange;
    font-weight: 100;
  }
  .module-button {
    background-color: $white;
    max-height: 3rem;
    margin-top: 1rem;
  }
  @include desktop {
    margin-right: 1rem;
    white-space: pre-line;
    .module-button {
      margin-top: 0;
    }
  }
  @media (min-width: 768px) and (max-width: 900px) {
    .input-group.mb-3 {
      padding-left: 3rem;
    }
  }
}

.marketo-right {
  justify-content: center;
  top: 2rem;
  white-space: pre-line;
  h2 {
    text-transform: uppercase;
    color: $purple;
    font-weight: 100;
  }
  @include max-width-desktop {
    margin-left: 1rem;
  }
}

.marketo-contain .contributors-button {
  font-size: 1.125rem;
  position: relative;
  cursor: pointer;
  outline: none;
  padding: rem(10px) rem(30px) rem(10px) rem(20px);
  background-color: $white;
  margin-bottom: 0.125rem;
  border: 2px solid $light_grey;
  letter-spacing: -0.25px;
  line-height: rem(28px);
  color: $dark_grey;
  background-image: url($baseurl + "/assets/images/chevron-right-orange.svg");
  background-size: 6px 13px;
  background-position: center right 10px;
  background-repeat: no-repeat;
  a {
    color: $dark_grey;
  }

  @include animated_border_hover_state;
}

.contributor-row {
  text-align: center;
  .contributor-submit {
    background-color: $white;
    border: 2px solid $light_grey;
    outline: none;
    font-size: 1.125rem;
    left: 1rem;
    @include animated_border_hover_state;
  }
  input {
    height: auto;
  }
}
