.ecosystem .join-wrapper .marketo-contain {
  display: flex;
  height: 25rem;
  max-width: 1200px;
  flex-wrap: wrap;
  @include desktop {
    max-width: 920px;
    height: 20rem;
    flex-wrap: nowrap;
  }
  @include small-desktop {
    width: 80%;
  }
}

.ecosystem .contributor-wrapper {
  background-color: $white;
}

.ecosystem .contributor-jumbotron {
  height: 285px;
  @include desktop {
    height: 262px;
  }
  width: 90%;

  .container {
    max-width: 920px;
  }

  h1 {
    padding-top: 0;
    span {
      font-weight: 300;
      color: $purple;
    }
  }
}

.ecosystem .contributor-jumbotron .contributor-jumbo-text {
  h1 {
    color: white;
  }
  h2 {
    color: white;
    padding-top: 0;
  }
}

.marketo-left {
  margin: auto;
  bottom: -3rem;
  padding: 0;
  h2 {
    margin: auto;
    text-transform: uppercase;
    color: $orange;
    font-weight: 100;
  }
  .module-button {
    background-color: $white;
    max-height: 3rem;
    margin-top: 1rem;
  }
  @include desktop {
    bottom: 1rem;
    h2 {
      margin: 0;
    }
    white-space: pre-line;
    .module-button {
      margin-top: 0;
    }
  }
  @media (min-width: 768px) and (max-width: 900px) {
    .input-group.mb-3 {
      padding-left: 3rem;
    }
  }
}

.marketo-right {
  justify-content: center;
  white-space: pre-line;
  margin: auto;
  h2 {
    text-transform: uppercase;
    color: $purple;
    font-weight: 100;
  }
  @include max-width-desktop {
    margin-left: 1rem;
  }
}

.marketo-contain .contributors-button {
  font-size: 1.125rem;
  position: relative;
  cursor: pointer;
  outline: none;
  padding: rem(10px) rem(30px) rem(10px) rem(20px);
  background-color: $white;
  margin-bottom: 0.125rem;
  border: 2px solid $light_grey;
  letter-spacing: -0.25px;
  line-height: rem(28px);
  color: $dark_grey;
  background-image: url($baseurl + "/assets/images/chevron-right-orange.svg");
  background-size: 6px 13px;
  background-position: center right 10px;
  background-repeat: no-repeat;
  a {
    color: $dark_grey;
  }

  @include animated_border_hover_state;
}

.contributor-row {
  text-align: center;
  .contributor-submit {
    background-color: $white;
    border: 2px solid $light_grey;
    outline: none;
    font-size: 1.125rem;
    left: 1rem;
    @include animated_border_hover_state;
  }
  input {
    height: auto;
  }
}

.hidden {
  display: none;
}

.contributor-expand {
  height: auto !important;
  a.with-right-arrow, .btn.with-right-arrow {
    background-position: top 15px right 12px;
    background-color: white;
    margin-bottom: 1rem;
    margin-left: 15px;
  }
}

.contributor-container-fluid {
  height: 4rem;
  width: 100%;
  @media screen and (max-width: 767px) {
    margin-top: 4.8rem;
  }
  @include full-nav-menu-desktop {
    margin-left: 0;
  }
}

.contributor-left {
  white-space: normal;
}

.contributor-vertical {
  margin-left: inherit;
  margin-right: inherit;
}

.contributor-pagination {
  margin-bottom: 2rem;
}

.ecosystem .contributor.main-content {
  @include desktop {
    padding-top: 0;
  }
}

.ecosystem .contributor.main-content .navbar {
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0;
  .nav-item {
    cursor: pointer;
    &:last-of-type {
      position: relative;
    }
  }
  @media (min-width: 992px) {
    .nav-item {
      padding: 2rem;
      cursor: pointer;
    }

    .nav-link {
      position: relative;
      top: 10%;
      transform: translateY(-50%);
    }
  }

  .nav-select {
    background-color: $white;
    .nav-link {
      color: $orange;
      font-weight: 500;
    }
  }

  .nav-link {
    font-size: rem(18px);
    color: #8c8c8c;
    @include desktop {
      margin-left: rem(30px);
    }
    &:hover {
      color: $orange;
    }
  }

  .contributor-nav-link {
    padding-left: rem(20px);
    padding-right: rem(20px);

    @include desktop {
      padding-left: rem(30px);
      padding-right: rem(30px);
    }
  }

  .contributor-nav {
    flex-direction: row;
  }

  .nav-item {
    padding-top: rem(15px);
    padding-bottom: rem(15px);
    @include desktop {
      padding-bottom: 0;
      padding-top: 2rem;
    }
    @include small-desktop {
      padding-bottom: 0;
      padding-top: 2rem;
    }
    @media (max-width: 990px) {
      padding-bottom: rem(10px);
      padding-top: 1rem;
    }
  }

  .navbar-toggler {
    margin-left: rem(40px);
  }
}

.contributor-sidebar {
  .sticky-top {
    position: sticky;
    top: 15%;
    @media (max-width: 767px) {
      position: relative;
      top: 0;
      margin-left: 0;
    }
  }
  li {
    list-style-type: none;
    line-height: 36px;
    color: #8c8c8c;
  }
  span {
    white-space: nowrap;
  }
}

#past-issues {
  max-width: 920px;
  margin: auto;
}

.contributor-container {
  max-width: 920px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 90%;
}

.past-issue-container.container {
  padding-left: 5px;
  padding-top: 45px;
}

.nav-background {
  width: 100%;
  background-color: $very_light_grey;
}

#get-started-contributor-sidebar-list {
  padding-left: 0;
}
