.cookie-banner-wrapper {
  display: none;

  &.is-visible {
    display: block;
    position: fixed;
    bottom: 0;
    background-color: $light_grey;
    min-height: 100px;
    width: 100%;
    z-index: 401;
    border-top: 3px solid #ededee;
  }

  .gdpr-notice {
    color: $dark_grey;
    margin-top: rem(25px);
    text-align: left;
    max-width: 1440px;
    @include desktop {
      width: 77%;
    }
    @include small-desktop {
      width: inherit;
    }

    .cookie-policy-link {
      color: #343434;
    }
  }

  .close-button {
    appearance: none;
    background: transparent;
    border: 1px solid $light_grey;
    height: rem(21px);
    position: absolute;
    bottom: 42px;
    right: 0;
    top: 0;
    cursor: pointer;
    outline: none;
    @include desktop {
      right: 20%;
      top: inherit;
    }

    @include small-desktop {
      right: 0;
      top: 0;
    }
  }
}
