.ecosystem {
  .customer-stories-wrapper {
    background-color: white;
  }
  .customer-stories {
    padding-top: 0;
    .item-1-info-container, .item-2-info-container {
      display: flex;
      flex-flow: column;
    }
    .sticky-top {
      top: 15%;
    }
    .event-label {
      margin-bottom: 2rem;
    }
  }
  .item-1-container {
    display: flex;
    @media (max-width: 767px) {
      flex-flow: wrap;
    }
  }
  .item-1-section, .item-2-section {
    max-width: 920px;
    margin: 0 auto 0 auto;
    padding: 0 30px 43px 30px;
    width: 90%;
    .item-1-item, .item-2-item {
      padding-bottom: 3rem;
      border-bottom: 1px solid #D6D7D8;
      h2 {
        padding-bottom: 1rem;
      }
    }
  }
  // .item-1-info-container, .item-2-info-container {
  //   padding-left: 3rem;
  //   ul {
  //     list-style: none;
  //   }
  // }
  .item-1-section {
    p {
      font-size: 18px;
      margin-top: 2rem;
    }
    @include small-desktop {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
    }
    @media (max-width: 767px) {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
.ecosystem .customer-stories.main-content {
  padding-top: 0;
}

.customer-stories-container-fluid {
  height: 5rem;
  width: 100%;
  padding-bottom: 7rem;
  @media screen and (max-width: 767px) {
    margin-top: 2rem;
  }
  @include full-nav-menu-desktop {
    margin-left: 0;
  }
}

.ecosystem .customer-stories.main-content .navbar {
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0;
  .nav-item {
    cursor: pointer;
    &:last-of-type {
      position: relative;
    }
  }
  @media (min-width: 992px) {
    .nav-item {
      padding: 2rem;
      cursor: pointer;
    }

    .nav-link {
      position: relative;
      top: 10%;
      transform: translateY(-50%);
    }
  }

  .nav-select {
    background-color: $white;
    .nav-link {
      color: $orange;
      font-weight: 500;
    }
  }

  .nav-link {
    font-size: rem(18px);
    color: #8c8c8c;
    @include desktop {
      margin-left: rem(30px);
    }
    &:hover {
      color: $orange;
    }
  }

  .customer-stories-nav-link {
    padding-left: rem(20px);
    padding-right: rem(20px);

    @include desktop {
      padding-left: rem(30px);
      padding-right: rem(30px);
    }
  }

  .customer-stories-nav {
    flex-direction: row;
  }

  .nav-item {
    padding-top: rem(15px);
    padding-bottom: rem(15px);
    @include desktop {
      padding-bottom: 0;
      padding-top: 2rem;
    }
    @include small-desktop {
      padding-bottom: 0;
      padding-top: 2rem;
    }
    @media (max-width: 990px) {
      padding-bottom: rem(10px);
      padding-top: 1rem;
    }
  }

  .navbar-toggler {
    margin-left: rem(40px);
  }
}

.customer-stories-video-wrapper {
  width: 100%;
  border: 1px solid $mid_gray;
  background-color: $light_grey;
  height: 21rem;
  margin-top: 2.5rem;
  .video-container {
    display: flex;
    top: 12%;
  }
  .video-tabs {
    display: flex;
  }
  .customer-stories-video-nav {
    flex-direction: row;
    padding-right: 0;
    margin-bottom: 1rem;
    .nav-item {
      border-right: 1px solid $mid_gray;
      border-bottom: 1px solid $mid_gray;
    }
    .nav-select {
      background-color: $white;
      border-bottom: none;
      .nav-link {
        color: $orange;
      }
    }
  }
  .customer-stories-nav-link {
    text-align: center;
  }
  .video {
    position: relative;
    height: 0;
    padding-bottom: 30%;
    place-self: center;
  }
  .video-info {
    margin-left: 3rem;
    max-width: 45%;
  }
  iframe {
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
.video-links-container {
  border: 1px solid $mid_gray;
  .video-links {
    display: flex;
    .video-link-item {
      padding-left: 1rem;
      list-style: none;
    }
  }
}
.item-2-container {
  padding-left: 0;
  @include desktop {
    display: flex;
  }
}
