.deep-learning {
  .header-container {
    @include max-width-desktop {
      margin-bottom: 1rem;
    }
  }

  .jumbotron {
    height: 180px;
    @include desktop {
      height: 250px;
    }

    .thank-you-page-container {
      margin-top: 0;
      @include small-desktop {
        margin-top: 250px;
      }
    }

    .deep-learning-jumbotron-text {
      @include desktop {
        margin-top: 55px;

        h1 {
          padding-top: 30px;
        }
      }
      @include small-desktop {
        max-width: 95%;
        flex-basis: 100%;
      }
    }

    .deep-learning-thank-you-text {
      width: 80%;
      .download-book-link {
        display: inline-block;
      }
    }

    .deep-learning-landing-text {
      width: 100%;
      @include desktop {
        width: 85%
      }
    }

    .deep-learning-book-container {
      display: none;
      @include desktop {
        display: block
      }
      @include small-desktop {
        display: none;
      }
    }

    .thank-you-book-container {
      display: none;
      @include small-desktop {
        display: block;
      }
      @include desktop {
        display: block;
      }
    }
  }

  .deep-learning-col {
    @include desktop {
      max-width: 80%;
    }
  }

  .deep-learning-background {
    @include desktop {
      height: 440px;
    }
  }

  .header-holder {
    @include desktop {
      height: 90px;
    }
  }
}

.deep-learning {
  .main-content-wrapper {
    margin-top: 250px;
    @include desktop {
      margin-top: 480px;
    }
  }

  .deep-learning-content {
    @include desktop {
      padding-top: 0;
    }
  }

  .main-background {
    height: 250px;
    @include desktop {
      height: 440px
    }
  }

  .thank-you-wrapper {
    margin-top: 400px;
    @include desktop {
      margin-top: 275px;
    }
  }

  .thank-you-background  {
    height: 438px;
    @include desktop {
      height: 680px;
    }
  }
}

.deep-learning-container {
  display: flex;
  align-items: center;
}

.deep-learning-logo {
  background-image: url($baseurl + "/assets/images/pytorch-logo.png");
}

.deep-learning-row {
  display: flex;
  align-items: center;
  .lead {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  h1 {
    @include small-desktop {
      font-size: 3rem;
    }
    @include desktop {
      margin-top: 2rem;
    }
  }
}

.deep-learning-book {
  max-width: 100%;
  height: 400px;
}

.deep-learning-form {
  margin-left: -1rem;
  @include desktop {
    margin-left: 0;
    margin-top: 1rem;
  }
}

#deep-learning-button {
  margin-top: 2rem;
}

.deep-learning-form {
  .email-subscribe-form {
    .deep-learning-input {
      padding-left: .5rem;
      background-color: #f3f4f7;
    }
  }

  #mce-error-response {
    color: $orange;
  }
}
