.ecosystem .jumbotron {
  h1 {
    font-size: rem(52px);
    text-transform: none;
    letter-spacing: -1.65px;
    line-height: rem(50px);
    margin-bottom: rem(30px);
    position: relative;
    left: -5px;
  }

  p.lead {
    color: #e5c9e4;
    margin-bottom: rem(25px);
  }

  svg {
    margin-bottom: rem(20px);
  }
}

.ecosystem .main-content-wrapper {
  background-color: $light_grey;
}

.ecosystem.ecosystem-detail .main-content-wrapper {
  background-color: $white;
}

.ecosystem-cards-wrapper {
  margin-bottom: rem(80px);
}

.ecosystem .main-content-menu {
  .navbar-nav .nav-link {
    font-size: rem(18px);
    color: $very_dark_grey;
    padding-right: 0;
    margin-right: rem(30px);

    &.selected {
      color: $orange;
      border-bottom: 1px solid $orange;
    }
  }

  .nav-item:last-of-type {
    @include desktop {
      position: absolute;
      right: 0;
      a {
        margin-right: 0;
      }
    }
  }
}

.ecosystem.ecosystem-detail .main-content {
  padding-bottom: 0;
}

.ecosystem article {
  counter-reset: article-list;

  > ol {
    padding-left: 0;
    list-style-type: none;
  }

  > ol > li {
    @include max-width-desktop {
      position: relative;

      &:before {
        counter-increment: article-list;
        content: counter(article-list, decimal-leading-zero);
        color: #B932CC;
        line-height: rem(40px);
        letter-spacing: -0.34px;
        font-size: rem(32px);
        font-weight: 300;
        position: absolute;
        left: -60px;
        top: -24px;
        padding: rem(10px) 0;
        background-color: $white;
        z-index: 10;
      }

      &:after {
        content: "";
        width: 2px;
        position: absolute;
        left: -42px;
        top: 0;
        height: 100%;
        background-color: #f3f3f3;
        z-index: 9;
      }
    }

    > h4 {
      color: $slate;
    }

    ul li {
      list-style-type: disc;
    }
  }
}

.ecosystem  .quick-starts {
  @include desktop {
    background: linear-gradient(90deg, $white 50%, $very_light_grey 50%);
  }
}
