p {
  margin-bottom: 1.25rem;
}

.btn {
  border-radius: 0;
  background-color: $light_grey;
  color: #545454;
  font-weight: 300;

  &.btn-lg {
    font-size: 1.125rem;
  }

  &.btn-white {
    background-color: $white;
  }
}

h2 {
  margin-bottom: 1.5625rem;
  text-transform: uppercase;
  letter-spacing: 1.78px;
  line-height: 2.5rem;

  @include desktop {
    margin-bottom: 3.125rem;
  }
}

h3 {
  font-size: 1.5rem;
  letter-spacing: 1.33px;
  line-height: 2rem;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

h5 {
  margin-bottom: 0.5rem;
  @include desktop {
    margin-bottom: 0.9375em;
  }
}
