.mobile .enterprise-jumbotron {
  height: 210px;
  @include desktop {
    height: 280px;
  }
}
.enterprise {
  padding-bottom: 0;
  p, li {
    color: $content_text_color;
    font-size: 18px;
  }
  h2 {
    padding-bottom: 1.5rem;
  }
  .container {
    padding: 48px 30px 48px 30px;
  }
  .enterprise-gray-container {
    background-color: $light_grey;
  }
  .pyt-enterprise-logo {
    background-image: url($baseurl + "/assets/images/PTE_lockup_PRIMARY.svg");
    background-repeat: no-repeat;
    height: 60px;
  }
  .container {
    max-width: 940px;
  }
  .enterprise-landing-azure-logo-container {
    float: left;
    padding: 0;
  }
}

