.ecosystem {
  .events-wrapper {
    background-color: white;
    @include desktop {
      margin-top: 472px;
    }
  }
  .events {
    padding-top: 0;
    .event-info-container {
      display: flex;
      flex-flow: column;
    }
    .sticky-top {
      top: 15%;
    }
    .event-label {
      margin-bottom: 2rem;
    }
  }
  .live-event-container {
    display: flex;
    @media (max-width: 767px) {
      flex-flow: wrap;
    }
  }
  .events-section {
    max-width: 920px;
    margin: 0 auto 0 auto;
    padding: 0 30px 43px 30px;
    width: 90%;
    .event-item {
      padding-bottom: 3rem;
      border-bottom: 1px solid #D6D7D8;
      h2 {
        padding-bottom: 1rem;
      }
    }
  }
  .event-side-nav-container {
    padding-left: 3rem;
    ul {
      list-style: none;
    }
  }
  .live-events-section {
    p {
      font-size: 18px;
      margin-top: 2rem;
    }
    @include small-desktop {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
    }
    @media (max-width: 767px) {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
.ecosystem .events.main-content {
  padding-top: 0;
}

.events-container-fluid {
  height: 5rem;
  width: 100%;
  padding-bottom: 7rem;
  @media screen and (max-width: 767px) {
    margin-top: 2rem;
  }
  @include full-nav-menu-desktop {
    margin-left: 0;
  }
}

.events-container {
  max-width: 920px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  width: 90%;
}



.ecosystem .events.main-content .navbar {
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0;
  .nav-item {
    cursor: pointer;
    &:last-of-type {
      position: relative;
    }
  }
  @media (min-width: 992px) {
    .nav-item {
      padding: .5rem;
      cursor: pointer;
    }

    .nav-link {
      position: relative;
      top: 10%;
      transform: translateY(-50%);
    }
  }

  .nav-select {
    background-color: $white;
    .nav-link {
      color: $orange;
      font-weight: 500;
    }
  }

  .nav-link {
    font-size: rem(18px);
    color: #8c8c8c;
    @include desktop {
      margin-left: rem(30px);
    }
    &:hover {
      color: $orange;
    }
  }

  .events-nav-link {
    padding-left: rem(15px);
    padding-right: rem(5px);

    @include desktop {
      padding-left: rem(20px);
      padding-right: rem(20px);
    }
  }

  .events-nav {
    flex-direction: row;
  }

  .nav-item {
    padding-top: rem(15px);
    padding-bottom: rem(15px);
    @include desktop {
      padding-bottom: 0;
      padding-top: 2rem;
    }
    @include small-desktop {
      padding-bottom: 0;
      padding-top: 2rem;
    }
    @media (max-width: 990px) {
      padding-bottom: rem(10px);
      padding-top: 1rem;
    }
  }

  .navbar-toggler {
    margin-left: rem(40px);
  }
}

.events-video-wrapper {
  width: 100%;
  border: 1px solid $mid_gray;
  background-color: $light_grey;
  height: 21rem;
  margin-top: 2.5rem;
  .video-container {
    display: flex;
    top: 12%;
  }
  .video-tabs {
    display: flex;
  }
  .events-video-nav {
    flex-direction: row;
    padding-right: 0;
    margin-bottom: 1rem;
    .nav-item {
      border-right: 1px solid $mid_gray;
      border-bottom: 1px solid $mid_gray;
    }
    .nav-select {
      background-color: $white;
      border-bottom: none;
      .nav-link {
        color: $orange;
      }
    }
  }
  .events-nav-link {
    text-align: center;
  }
  .video {
    position: relative;
    height: 0;
    padding-bottom: 30%;
    place-self: center;
  }
  .video-info {
    margin-left: 3rem;
    max-width: 45%;
  }
  iframe {
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
.video-links-container {
  border: 1px solid $mid_gray;
  .video-links {
    display: flex;
    .video-link-item {
      padding-left: 1rem;
      list-style: none;
    }
  }
}
.episode-header-text {
  font-size: 26px;
  margin-bottom: 2rem;
}
.episode-card-row {
  display: block;
  @media screen and (min-width: 908px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  .episode-card.resource-card {
    height: 14rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: $light_grey;
    border: none;
    max-width: 31%;
    flex: auto;
    ul {
      list-style: none;
    }
    a{
      color: inherit;
    }
    .episode-body {
      display: block;
      position: relative;
      top: 30px;
      margin-left: 20px;
    }

    .episode-title {
      margin-left: 3.2rem;
      margin-bottom: .5rem;
      font-size: rem(24px);
      @include desktop {
        margin-left: 2.5rem;
      }
    }

    .guest-name {
      font-weight: 500;
      font-size: rem(20px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .episode-info {
      display: flex;
      justify-content: space-between;
      span {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    .info-divide {
      display: block;
      border-bottom: 1px solid #D6D7D8;
      margin-top: .5rem;
      margin-bottom: .5rem;
    }
    .episode-poster {
      color: $orange;
    }
    .episode-date-time {
      display: flex;
      padding-left: 0;
      span {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    @media screen and (max-width: 907px) {
      max-width: 100%;
      margin-bottom: 1.25rem;
    }
  }
  .episode-card.resource-card.pytorch-resource:before {
    content: "";
    background-size: 32px 32px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    height: 32px;
    width: 32px;
    top: 30px;
    left: 15px;
    @include desktop {
      left: 30px;
      top: 30px;
    }
  }
}

.podcast-container {
  padding-left: 0;
  @include desktop {
    display: flex;
    .podcast-card:not(:first-of-type) {
      margin-left: 1rem;
    }
  }
  .podcast-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    border: 1px solid #D6D7D8;
    height: rem(140px);
    @include animated_border_hover_state;
  }
  .podcast-title {
    font-size: 24px;
    font-weight: 400;
  }

}
