.ecosystem {
  .events-wrapper {
    background-color: white;
  }
  .events {
    padding-top: 0;
  }
  .events-section {
    max-width: 920px;
    margin: 0 auto 0 auto;
    padding: 0 30px 43px 30px;
    width: 90%;
  }
}
.ecosystem .events.main-content {
  padding-top: 0;
}

.events-container-fluid {
  height: 5rem;
  width: 100%;
  padding-bottom: 7rem;
  @media screen and (max-width: 767px) {
    margin-top: 2rem;
  }
  @include full-nav-menu-desktop {
    margin-left: 0;
  }
}

.ecosystem .events.main-content .navbar {
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0;
  .nav-item {
    cursor: pointer;
    &:last-of-type {
      position: relative;
    }
  }
  @media (min-width: 992px) {
    .nav-item {
      padding: 2rem;
      cursor: pointer;
    }

    .nav-link {
      position: relative;
      top: 10%;
      transform: translateY(-50%);
    }
  }

  .nav-select {
    background-color: $white;
    .nav-link {
      color: $orange;
      font-weight: 500;
    }
  }

  .nav-link {
    font-size: rem(18px);
    color: #8c8c8c;
    @include desktop {
      margin-left: rem(30px);
    }
    &:hover {
      color: $orange;
    }
  }

  .events-nav-link {
    padding-left: rem(20px);
    padding-right: rem(20px);

    @include desktop {
      padding-left: rem(30px);
      padding-right: rem(30px);
    }
  }

  .events-nav {
    flex-direction: row;
  }

  .nav-item {
    padding-top: rem(15px);
    padding-bottom: rem(15px);
    @include desktop {
      padding-bottom: 0;
      padding-top: 2rem;
    }
    @include small-desktop {
      padding-bottom: 0;
      padding-top: 2rem;
    }
    @media (max-width: 990px) {
      padding-bottom: rem(10px);
      padding-top: 1rem;
    }
  }

  .navbar-toggler {
    margin-left: rem(40px);
  }
}

.events-video-wrapper {
  width: 100%;
  border: 1px solid $mid_gray;
  height: 21rem;
  margin-top: 2.5rem;
  .video-tabs {
    display: flex;
  }
  .events-video-nav {
    flex-direction: row;
    padding-right: 0;
    margin-bottom: 1rem;
    .nav-item {
      border-right: 1px solid $mid_gray;
      border-bottom: 1px solid $mid_gray;
    }
    .nav-select {
      background-color: $white;
      border-bottom: none;
      .nav-link {
        color: $orange;
      }
    }
  }
  .events-nav-link {
    text-align: center;
  }
  .video {
    position: relative;
    height: 0;
    padding-bottom: 30%;
  }
  iframe {
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
