.features {
  .features-row {
    padding-bottom: rem(140px);
    padding-top: rem(140px);
    align-items: center;
  }

  .features-text-column {
    padding-right: rem(50px);
    padding-left: rem(50px);

    h3 {
      font-size: rem(32px);
      letter-spacing: 1.78px;
      line-height: rem(36px);
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  .features-code-block {
    padding-right: rem(50px);
    padding-left: rem(50px);
  }

  .navbar-nav .nav-link {
    color: $black;
  }

  .nav-logo {
    background-image: url($baseurl + "/assets/images/logo-dark.svg");
  }

  .features-text {
    font-size: rem(18px);
    letter-spacing: 0;
    line-height: rem(28px);
    color: $very_dark_grey;
    padding-right: rem(30px);
  }

  .features-image {
    display: block;
    text-align: center;
  }

  @media (max-width: 767px) {
    .row .features-code-block {
      order: 1;
    }

    .row .features-text-column {
      order: 2;
      text-align: left;
      padding-right: 0;
    }

    .features-text {
      text-align: justify;
    }

    .features-row {
      padding-bottom: 25px;
      padding-top: 25px;
    }

    .features-image {
      text-align: left;
      margin-bottom: 15px;
    }
  }
}