.site-footer {
  padding: rem(60px) 0;
  width: 100%;
  background: $black;
  background-size: 100%;
  margin-left: 0;
  margin-right: 0;

  @include desktop {
    position: absolute;
    left: 0;
    bottom: 0;
    height: $desktop_footer_height;
  }

  p {
    color: $white;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  ul li {
    font-size: rem(18px);
    line-height: rem(32px);
    color: #A0A0A1;
    padding-bottom: rem(6px);

    &.list-title {
      padding-bottom: rem(12px);
      color: $white;
      p {
        margin-bottom: 0;
      }
    }
  }

  a:link,
  a:visited {
    color: inherit;
  }

  @include desktop {
    a:hover {
      color: $orange;
    }
  }

  .privacy-policy {
    background: #000000;
    border-top: 1px solid #fff;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    ul {
      border-bottom: 1px solid white;
      .privacy-policy-links {
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-right: 1rem;
        display: inline-flex;
        color: white;
      }
    }
    .copyright {
      padding-top: 1rem;
      p {
        color: #dfdfdf;
        font-size: 14px;
      }
      a {
        color: #dfdfdf;
        font-weight: 600;
        &:hover {
          color: #dfdfdf;
          font-weight: 600;  
        }
      }
    }
  }
}

.docs-tutorials-resources {
  background-color: $slate;
  color: $white;
  padding-top: rem(40px);
  padding-bottom: rem(40px);

  @include desktop {
    padding-top: rem(66px);
    padding-bottom: 4.09rem;
  }

  h2 {
    font-size: rem(24px);
    letter-spacing: -0.25px;
    text-transform: none;
    margin-bottom: 0.25rem;

    @include desktop {
      margin-bottom: rem(20px);
    }
  }

  .col-md-4 {
    margin-bottom: rem(32px);
    @include desktop {
      margin-bottom: 0;
    }
  }

  .with-right-arrow {
    margin-left: 12px;
    background-position: top 3px right 11px;

    @include desktop {
      background-position: top 6px right 11px;
    }

    &:hover {
      background-image: url($baseurl + "/assets/images/chevron-right-white.svg");
    }
  }

  p {
    font-size: rem(16px);
    line-height: rem(24px);
    letter-spacing: 0.22px;
    color: #A0A0A1;
    margin-bottom: rem(8px);

    @include desktop {
      margin-bottom: rem(20px);
    }
  }

  a {
    font-size: rem(18px);
    color: $orange;
    &:hover {
      color: $white;
    }
  }
}

.footer-container {
  position: relative;
}

.footer-logo-wrapper {
  display: none;
  @include desktop {
    display: flex;
    grid-column: span 6;
  }
  .footer-logo {
    img {
      width: 40px;
    }
  }
}


.footer-links-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;

  @include desktop {
    flex-wrap: initial;
    justify-content: flex-end;
  }
}

.footer-links-col {
  margin-bottom: rem(60px);
  width: 50%;

  @include desktop {
    margin-bottom: 0;
    width: 14%;
    margin-right: 23px;

    &.follow-us-col {
      width: 18%;
      margin-right: 0;
    }
  }

  @include small-desktop {
    width: 18%;
    margin-right: 30px;
  }
}

.footer-social-icons {
  margin: rem(137px) 0 rem(40px) 0;

  a {
    height: 32px;
    width: 32px;
    display: inline-block;
    background-color: $very_dark_grey;
    border-radius: 50%;
    margin-right: 5px;

    &.facebook {
      background-image: url($baseurl + "/assets/images/logo-facebook-dark.svg");
      background-position: center center;
      background-size: 9px 18px;
      background-repeat: no-repeat;
    }

    &.twitter {
      background-image: url($baseurl + "/assets/images/logo-twitter-dark.svg");
      background-position: center center;
      background-size: 17px 17px;
      background-repeat: no-repeat;
    }

    &.youtube {
      background-image: url($baseurl + "/assets/images/logo-youtube-dark.svg");
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}

.site-footer {
  .mc-field-group {
    margin-top: -2px;
  }
}

.site-footer {
  .email-subscribe-form input[type="submit"]{
    top: 9px;
    @include desktop {
      top: 13px;
    }
  }
}

.social-links {
	grid-column: span 12;

	@media (min-width: 600px) {
		grid-column: span 8;
	}

  @include desktop {
		grid-column: span 6;
		align-self: end;
	}

	@media (max-width: 999px) {
		margin-left: 10px;
		margin-right: 10px;
	}

	display: grid;
	grid-column-gap: 3%;
	grid-row-gap: 30px;
	grid-template-columns: repeat(5, minmax(0, 1fr));

	li {
		text-align: center;
	}
}

.social-links {
	svg {
		height: 25px;
		max-width: 30px;
		fill: #fff;
		color: #fff;
		&:hover {
			fill: #ee4c2c;
			color: #ee4c2c;
		}
	}
}

.lf-grid {
  grid-column-gap: 3%;
  grid-row-gap: 30px;
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

// removes captcha image from flow.
.hs-recaptcha {
	display: none;
}

.newsletter {
	line-height: 140%;
  margin-bottom: 80px;

	&__title {
		line-height: 140%;
		font-size: 24px;
		@media (min-width: 1000px) {
			font-size: 40px;
		}
	}
  
  .legal-consent-container {
    display: none;
  }

	p.newsletter__privacy {
		max-width: 860px;
    margin-top: 30px;
    font-size: 14px;
    color: #dfdfdf;
    a {
			font-weight: 800;
		}
	}

	// form container.
	.hbspt-form {
		min-height: 300px;
		@media (min-width: 500px) {
			min-height: 100px;
		}
		@media (min-width: 1000px) {
			min-height: 20px;
		}

		// Displays if required field not filled.
		.hs-error-msg {
			display: block;
			margin-right: 8px;
      color: $orange;
      font-size: 14px;
      line-height: 1.1em;
			width: 95%;
			padding-top: 15px;
		}

		// form inputs wrapper.
		.hs-form {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 30px;

			@media (min-width: 500px) {
				grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
			}

			@media (min-width: 700px) {
				grid-template-columns: repeat(3, minmax(0, 1fr));
			}

			@media (min-width: 950px) {
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
				grid-row-gap: 1.5rem;
				grid-column-gap: 1.5rem;
			}

			input[type='text'],
			input[type='email'] {
				height: 50px;
				@media (min-width: 500px) {
					height: 42px;
				}
				width: 100%;
				background: transparent;
				border: none;
				border-bottom: 2px solid $white;
				border-radius: 0;
				transition: all 0.25s ease;
				color: $white;
				font-size: 16px;
				@media (min-width: 500px) {
					font-size: 20px;
				}
				line-height: 105%;
				&::placeholder {
					color: $white;
					font-size: 16px;
					@media (min-width: 500px) {
						font-size: 20px;
					}
					line-height: 105%;
				}
				&:focus {
					outline: 0;
					border-bottom: 2px solid $orange;
					transition: color 0.25s ease;
					&::placeholder {
						transition: color 0.25s ease;
						color: transparent;
					}
				}
			}

			// Controls autocomplete styles.
			input,
			textarea,
			select {
				&:-webkit-autofill,
				&:-webkit-autofill:hover,
				&:-webkit-autofill:focus {
					-webkit-text-fill-color: $white;
				}
			}

			select {
				appearance: none;
				background: transparent;
				border: 0px solid transparent;
				border-bottom: 2px solid $white;
				border-radius: 0;
				box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0);
				display: block;
				height: 50px;
				@media (min-width: 500px) {
					height: 42px;
				}
				margin: 0;
				max-width: 100%;
				padding: 0.25em 0 calc(0.25em + 1px) 5px;
				transition: all 0.25s ease;
				width: 100%;
				color: $white;
				font-size: 16px;
				@media (min-width: 500px) {
					font-size: 20px;
				}
				line-height: 105%;

				&::-ms-expand {
					display: none;
				}

				&:focus {
					outline: 0;
					border-bottom: 2px solid $orange;
					&::placeholder {
						transition: color 0.4s ease;
						color: transparent;
					}
				}

				option {
					font-weight: normal;
					color: black;
				}
			}

			.hs-button {
        border-radius: 5px;
        margin-top: 20px;
        border: none;
        background-color: $orange;
        color: $white;
        font-weight: 400;
        padding: 11px 40px;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
			}

			// underline errors.
			.hs-input.invalid {
				border-bottom: 2px dashed red !important;
			}

			// hide general error message.
			.hs_error_rollup {
				display: none;
			}
		}
	}

	// success message for newsletter footer only.
	.submitted-message {
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: center;
		border: 2px solid $white;
		min-height: 280px;
    font-size: 18px;
    padding: 20px 20px 0;
		@media (min-width: 500px) {
			min-height: 80px;
		}
		@media (min-width: 1000px) {
			min-height: unset;
		}
	}

	.submitted-message p {
		max-width: none;
	}
}
