.site-footer {
  padding: rem(40px) 0;
  width: 100%;
  background-image: url($baseurl + "/assets/images/home-footer-background.jpg");
  background-size: 100%;
  margin-left: 0;
  margin-right: 0;

  @include desktop {
    padding: rem(80px) 0;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 520px;
  }

  p {
    color: $white;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  ul li {
    font-size: rem(18px);
    line-height: rem(32px);
    color: $dark_grey;
    padding-bottom: rem(6px);

    &.list-title {
      padding-bottom: rem(12px);
      color: $white;
    }
  }

  a:link,
  a:visited {
    color: inherit;
  }
}

.docs-tutorials-resources {
  background-color: $slate;
  color: $white;
  padding-top: rem(40px);
  padding-bottom: rem(40px);

  @include desktop {
    padding-top: rem(80px);
    padding-bottom: rem(80px);
  }

  p {
    color: #929292;
    font-size: rem(18px);
  }

  h2 {
    font-size: rem(24px);
    letter-spacing: -0.25px;
    text-transform: none;
    margin-bottom: 0.25rem;

    @include desktop {
      margin-bottom: rem(20px);
    }
  }

  .col-md-4 {
    margin-bottom: rem(32px);
    @include desktop {
      margin-bottom: 0;
    }
  }

  p {
    font-size: rem(16px);
    line-height: rem(24px);
    letter-spacing: 0.22px;
    color: #939393;
    margin-bottom: 0;

    @include desktop {
      margin-bottom: rem(20px);
    }
  }

  a {
    font-size: rem(18px);
    color: $orange;
  }
}

.footer-logo {
  background-image: url($baseurl + "/assets/images/logo-icon.svg");
  background-size: 29px 36px;
  background-repeat: no-repeat;
  background-position: center;
  height: 36px;
  width: 100%;
  display: block;
  margin-bottom: rem(40px);

  @include desktop {
    margin-bottom: 0;
    width: 29px;
  }
}

.footer-social-icons {
  margin: rem(10px) 0 rem(40px) 0;

  a {
    height: 32px;
    width: 32px;
    display: inline-block;
    background-color: $very_dark_grey;
    border-radius: 50%;
    margin-right: 5px;

    &.facebook {
      background-image: url($baseurl + "/assets/images/logo-facebook-dark.svg");
      background-position: center center;
      background-size: 9px 18px;
      background-repeat: no-repeat;
    }

    &.twitter {
      background-image: url($baseurl + "/assets/images/logo-twitter-dark.svg");
      background-position: center center;
      background-size: 17px 17px;
      background-repeat: no-repeat;
    }
  }
}

.site-footer .col-md-2 {
  width: 33.33%;
  @include desktop {
    width: inherit;
  }
}

.site-footer .follow-us-col {
  margin-top: rem(40px);
  @include desktop {
    margin-top: 0;
  }
}
