.get-started article {
  margin-bottom: rem(80px);
}

.get-started .quick-start-guides {
  ul {
    margin-bottom: 0;
    padding-left: 0;
  }
}

.get-started .main-content-wrapper {
  margin-top: 275px;
  @include desktop {
    margin-top: 260px + $desktop_header_height;
  }
}

.get-started .jumbotron {
  height: 190px;
  @include desktop {
    height: 260px;
  }
}

.get-started .main-content .navbar {
  background-color: #f3f4f7;

  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0;

  @media (min-width: 992px) {
    li:first-of-type {
      padding-left: rem(55px);
    }

    .nav-item {
      padding: 1rem;
      cursor: pointer;
    }

    .nav-link {
      position: relative;
      top: 10%;
      transform: translateY(-50%);
    }
  }

  .nav-select {
    background-color: $white;
    .nav-link {
      color: $orange;
      font-weight: 500;
    }
  }

  .nav-link {
    font-size: rem(18px);
    color: #8c8c8c;

    &:hover {
      color: $orange;
    }
  }

  .get-started-nav-link {
    padding-left: rem(20px);
    padding-right: rem(20px);

    @include desktop {
      padding-left: rem(30px);
      padding-right: rem(30px);
    }
  }

  .nav-item {
    padding-top: rem(15px);
    padding-bottom: rem(15px);
    @include desktop {
      padding-bottom: 0;
      padding-top: 2rem;
    }
    @include small-desktop {
      padding-bottom: 0;
      padding-top: 2rem;
    }
    @media (max-width: 990px) {
      padding-bottom: rem(10px);
      padding-top: 1rem;
    }
  }

  .navbar-toggler {
    margin-left: rem(40px);
  }
}

.get-started .main-content {
  padding-top: 0;
  @include desktop {
    padding-top: 1.9rem;
  }
}

.get-started .quick-start-module {
  padding-bottom: 0;
  padding-top: 0;
  background-color: $white;

  .option,
  #command {
    border: 2px solid $white;
    background: $light_grey;
  }

  .title-block {
    border: 2px solid $white;
  }

  .selected {
    background-color: $orange;
  }

  h1 {
    font-size: rem(32px);
    letter-spacing: 1.78px;
    line-height: rem(40px);
    text-transform: uppercase;
    margin-bottom: rem(24px);
  }
}

.get-started .nav-menu-wrapper {
  background-color: $light_grey;
  .container {
    padding-left: 0;
    padding-right: 0;
    @include desktop {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

.get-started .navbar-nav {
  flex-direction: row;
}

#installation .os {
  display: none;
}

#installation .selected {
  display: block;
}

#cloud .platform {
  display: none;
}

#cloud .selected {
  display: block;
}

.screencast {
  iframe {
    width: 100% !important;
  }
  display: none;
}

.get-started {
  .quick-starts {
    .row.ptbuild,
    .row.os,
    .row.package,
    .row.language,
    .row.cuda {
      margin-bottom: rem(20px);
      @include desktop {
        margin-bottom: 0;
      }
    }

    @include small-desktop {
      flex: 0 0 100%;
      max-width: 100%;
    }

    @include desktop {
      margin-bottom: rem(40px);

      .row {
        margin-bottom: 0;
      }
    }

    @include max-width-desktop {
      margin-bottom: 0;
    }
  }
}

.get-started .get-started-locally-sidebar {
  padding-top: rem(40px);
  padding-bottom: rem(40px);
  top: 15%;
  z-index: 385;

  @include desktop {
    padding-top: 0;
    max-height: 100vh;
    overflow: auto;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
    line-height: 36px;

    a {
      color: #8c8c8c;
      &.active,
      &:hover {
        color: $orange;
      }
    }

    .subitem {
      padding-left: rem(20px);
    }
  }

  li.subitem {
    padding-left: rem(20px);
  }
}

.cloud-nav {
  display: none;
}

.get-started .get-started-cloud-sidebar {
  padding-top: rem(50px);
  padding-bottom: rem(40px);
  top: 15%;

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
    line-height: 36px;

    a {
      color: #8c8c8c;
      &.active,
      &:hover {
        color: $orange;
      }
    }

    .subitem {
      padding-left: rem(20px);
    }
  }

  li.subitem {
    padding-left: rem(20px);
  }
}

.pytorch-2 .article-wrapper article.pytorch-article table tr td:first-of-type {
  padding-left: 10px;
}

.pytorch-2 .article-wrapper article.pytorch-article {
  table,td{
    border: 1px solid #A0A0A1;
    padding: 10px;
  }
  
  b, em, h3, h2, p, a, strong, td, tr {
    font-family: Verdana;
  }

  ul, ol {
    margin: 1.5rem 0 1.5rem 0;

    li {
      font-family: Verdana;
    }
  }

  code {
    font-family: IBMPlexMono,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; 
    padding: 2px;
    color: inherit; 
    background-color: #f1f1f1;
  }

  p, a {
    font-family: Verdana;
    word-break: break-word;
    strong {
      font-family: Verdana;
    }
  }

  .QnATable {
    @media screen and (max-width: 418px) {
      max-width: 95vw;
    }
  }
}
