.get-started article {
  margin-bottom: rem(80px);
}

.get-started .jumbotron {
  p {
    color: $very_dark_grey;
  }
}

.get-started .quick-start-guides {
  ul {
    margin-bottom: 0;
    padding-left: 0;
  }
}
