.homepage {
  h2 {
    margin-bottom: rem(25px);
    text-transform: uppercase;
    letter-spacing: 1.78px;
    line-height: rem(40px);

    @include desktop {
      margin-bottom: rem(50px);
    }
  }

  h3 {
    font-size: rem(24px);
    letter-spacing: 1.33px;
    line-height: rem(32px);
    text-transform: uppercase;
    margin-bottom: rem(20px);
  }

  h5 {
    margin-bottom: rem(8px);
    @include desktop {
      margin-bottom: rem(15px);
    }
  }
}

.homepage-feature-module {
  padding-top: rem(40px);
  padding-bottom: rem(40px);

  @include desktop {
    padding-top: rem(80px);
    padding-bottom: rem(80px);
  }

  p {
    color: #929292;
    font-size: 1.125em;
  }
}

.key-features-module {
  .key-features-boxes {
    margin-top: rem(32px);
    @include desktop {
      margin-top: 0;
    }
  }

  .key-feature-box {
    margin-bottom: rem(32px);

    p {
      margin-bottom: 0;
    }

    @include desktop {
      margin-bottom: 0;
      &:nth-child(-n+4) {
        margin-bottom: rem(40px);
      }
    }
  }
}

.community-module {
  h2 {
    margin: rem(20px) 0;
  }

  p {
    margin-bottom: rem(40px);
  }
}

.community-channels {
  margin-top: rem(32px);
  margin-bottom: rem(32px);
  @include desktop {
    margin-top: rem(80px);
  }
}

.community-avatar {
  height: 60px;
  width: 60px;
}

.community-logo-bottom {
  height: 200px;
  background-color: $light_grey;
}

.community-channel {
  margin-bottom: rem(20px);

  @include desktop {
    margin-bottom: 0;
  }

  a {
    letter-spacing: 0.25px;
    color: $not_quite_black;
  }

  &.slack-channel,
  &.github {
    a {
      background-size: 22px 22px;
      background-repeat: no-repeat;
      height: 22px;
      display: inline-block;
      padding-left: 30px;
    }
  }

  &.slack-channel {
    a {
      background-image: url($baseurl + "/assets/images/logo-slack.svg");
    }

    @include desktop {
      text-align: center;
    }
  }

  &.github {
    a {
      background-image: url($baseurl + "/assets/images/logo-github.svg");
    }

    @include desktop {
      text-align: right;
    }
  }

  .pytorch-discuss {
    .discuss {
      color: $orange;
      font-weight: 400;
    }
  }
}

.pytorch-users-module {
  h2 {
    margin-bottom: rem(20px);
  }
}

.university-testimonials {
  .institution-name {
    margin-bottom: rem(20px);
  }

  .carousel {
    width: 100%;
    margin: 0 auto;

    @include desktop {
      width: 385px;
    }
  }

  .carousel-item {
    img {
      width: 100%;
      margin-bottom: rem(18px);
    }

    p {
      font-size: 1.5rem;
      letter-spacing: 0.25px;
      line-height: 2.25rem;
      color: $not_quite_black;
      margin-bottom: 1.625rem;
    }

    .btn {
      padding-left: 0;
    }
  }

  .carousel-control-prev {
    @include desktop {
      left: -65px;
    }
  }

  .carousel-control-next {
    @include desktop {
      right: -65px;
    }
  }

  .carousel-control-prev-icon {
    background-image: url($baseurl + "/assets/images/chevron-left-grey.svg");
  }

  .carousel-control-next-icon {
    background-image: url($baseurl + "/assets/images/chevron-right-grey.svg");
  }

  .btn-link {
    color: inherit;
    padding-left: 0;
  }
}

.tweets-wrapper {
  margin-top: rem(32px);
  @include desktop {
    margin-top: rem(120px);
  }
}

.homepage .quick-starts {
  background: $medium_grey;

  @include desktop {
    background: linear-gradient(90deg, $medium_grey 50%, $very_light_grey 50%);
  }
}

.quick-starts {
  p {
    font-size: rem(18px);
    line-height: rem(28px);
  }
}

.quick-start-guides {
  font-size: rem(24px);
  letter-spacing: 0.25px;
  line-height: rem(36px);
  color: #a5a5a5;

  .step-counter {
    margin-bottom: rem(3px);
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      margin-bottom: 0;
      font-size: rem(18px);

      @include desktop {
        margin-bottom: rem(12px);
        &:last-of-type {
          margin-bottom: 0;
        }
      }

      &.selected {
        color: $orange;
        &:before {
          content: "\2022";
          position: absolute;
          left: 0;
          @include desktop {
            left: -5px;
          }
        }
      }
    }
  }

  .select-instructions {
    color: $slate;
    border-bottom: 2px solid #a5a5a5;
    margin-bottom: rem(16px);
    font-size: rem(18px);
    display: inline-block;
    @include desktop {
      margin-bottom: 0;
    }
  }
}
