.homepage-feature-module {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  @include desktop {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  p {
    color: #929292;
    font-size: 1.125em;
  }
}

.key-features-module {
  .key-features-boxes {
    margin-top: 2rem;
    @include desktop {
      margin-top: 0;
    }
  }

  .key-feature-box {
    margin-bottom: 2rem;

    p {
      margin-bottom: 0;
    }

    @include desktop {
      margin-bottom: 0;
      &:nth-child(-n+4) {
        margin-bottom: 2.5rem;
      }
    }
  }
}

.community-module {
  h2 {
    margin: 1.25rem 0;
  }

  p {
    margin-bottom: 2.5rem;
  }
}

.community-channels {
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include desktop {
    margin-top: 5rem;
  }
}

.community-card .card-body {
  background-position: top 1.25rem right 1.25rem;
  background-repeat: no-repeat;

  &.detectron {
    background-image: url($baseurl + "/assets/images/logo-detectron.svg");
    background-size: 24px 24px;
  }

  &.elf {
    background-image: url($baseurl + "/assets/images/logo-elf.svg");
    background-size: 29px 25px;
  }

  &.parlai {
    background-image: url($baseurl + "/assets/images/logo-parlai.svg");
    background-size: 29px 29px;
  }
}

.community-card p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0;
}

.community-avatar {
  height: 60px;
  width: 60px;
}

.community-logo-bottom {
  height: 200px;
  background-color: $light_grey;
}

.community-channel {
  margin-bottom: 1.25rem;

  @include desktop {
    margin-bottom: 0;
  }

  a {
    letter-spacing: 0.25px;
    color: $not_quite_black;
  }

  &.slack-channel,
  &.github {
    a {
      background-size: 22px 22px;
      background-repeat: no-repeat;
      height: 22px;
      display: inline-block;
      padding-left: 30px;
    }
  }

  &.slack-channel {
    a {
      background-image: url($baseurl + "/assets/images/logo-slack.svg");
    }

    @include desktop {
      text-align: center;
    }
  }

  &.github {
    a {
      background-image: url($baseurl + "/assets/images/logo-github.svg");
    }

    @include desktop {
      text-align: right;
    }
  }

  .pytorch-discuss {
    .discuss {
      color: $orange;
      font-weight: 400;
    }
  }
}

.pytorch-users-module {
  h2 {
    margin-bottom: 1.25rem;
  }
}

.university-testimonials {
  .institution-name {
    margin-bottom: 1.25rem;
  }

  .carousel {
    width: 100%;
    margin: 0 auto;

    @include desktop {
      width: 385px;
    }
  }

  .carousel-item {
    img {
      width: 100%;
      margin-bottom: 1.125rem;
    }

    p {
      font-size: 1.5rem;
      letter-spacing: 0.25px;
      line-height: 2.25rem;
      color: $not_quite_black;
      margin-bottom: 1.625rem;
    }

    .btn {
      padding-left: 0;
    }
  }

  .carousel-control-prev {
    @include desktop {
      left: -65px;
    }
  }

  .carousel-control-next {
    @include desktop {
      right: -65px;
    }
  }

  .carousel-control-prev-icon {
    background-image: url($baseurl + "/assets/images/chevron-left-grey.svg");
  }

  .carousel-control-next-icon {
    background-image: url($baseurl + "/assets/images/chevron-right-grey.svg");
  }

  .btn-link {
    color: inherit;
    padding-left: 0;
  }
}

.tweets-wrapper {
  margin-top: 2rem;
  @include desktop {
    margin-top: 7.5rem;
  }
}

.homepage .quick-starts {
  background: $medium_grey;

  @include desktop {
    background: linear-gradient(90deg, $medium_grey 50%, $very_light_grey 50%);
  }
}

.quick-starts {
  p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.quick-start-guides {
  font-size: 1.5rem;
  letter-spacing: 0.25px;
  line-height: 2.25rem;
  color: #a5a5a5;

  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      margin-bottom: 0;
      font-size: 1.125rem;

      @include desktop {
        margin-bottom: 0.75rem;
      }

      &.selected {
        color: $orange;
        &:before {
          content: "\2022";
          position: absolute;
          left: 0;
          @include desktop {
            left: -5px;
          }
        }
      }
    }
  }

  .select-instructions {
    color: $slate;
    border-bottom: 2px solid #a5a5a5;
    margin-bottom: 1rem;
    display: inline-block;
    @include desktop {
      margin-bottom: 0;
    }
  }
}
