.hub .hub-search-wrapper {
  @include desktop {
    top: 8px;
  }
  .algolia-autocomplete .ds-dropdown-menu {
    min-width: 100%;
    max-width: 100% !important;
  }
  .algolia-autocomplete {
    width: 100%;
  }
  &.active {
    width: 100%;
  }
  span {
    font-size: 1.125rem;
    text-align: center;
  }
}

.hub #hub-search-icon {
  @media (max-width: 480px) {
    margin-top: 1rem;
  }
}

#hub-search-icon {
  background-image: url($baseurl + "/assets/images/search-icon.svg");
  color: transparent;
  opacity: 0.4;
  width: 25px;
  height: 25px;
  margin-left: 3rem;
  background-size: 15px 20px;
  background-repeat: no-repeat;
  right: 10px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  &:hover {
    background-image: url($baseurl + "/assets/images/search-icon-orange.svg");
    opacity: 1;
  }
}

#hub-search-input {
  background-color: $very_dark_grey;
  border: none;
  color: $black;
  font-size: rem(18px);
  font-weight: 300;
  line-height: 20px;
  outline: none;
  position: relative;
  display: none;
  width: 100%;
  border-radius: 5px;
  padding: rem(14px) 0 rem(14px) rem(5px);
}

#hub-close-search {
  display: none;
  margin-left: 20px;
  opacity: 0.4;
  right: 10px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  font-size: rem(18px);
  @include desktop {
   top: rem(18px);
  }
  &:hover {
    color: $orange;
    opacity: 1;
  }
}

.hub .hub-divider {
  margin-bottom: 2.2rem;
  margin-top: 1.5rem;
}

.hub .active-hub-divider{
  border-color: $orange;
}

.hub .hub-search-border {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: none;
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.hub .hub-cards-wrapper {
  z-index: 1000;
}

.hub .nav-container {
  display: flex;
  width: 100%;
  position: absolute;
}
