.hub .jumbotron {
  height: 280px;
  @include desktop {
    height: 300px;
  }

  h1 {
    padding-top: rem(120px);
    #hub-header, #hub-sub-header {
      color: $orange;
      font-weight: lighter;
    }
    #hub-sub-header {
      color: not_quite_black;
    }
  }

  p.lead, p.hub-release-message {
    margin-bottom: rem(25px);
    padding-top: rem(35px);
    color: $dark_grey;

    @include desktop {
      width: 77%;
    }
  }

  p.hub-release-message {
    padding-top: 0;
    font-style: italic;
  }

  svg {
    margin-bottom: rem(20px);
  }

  p.detail-lead {
    padding-top: rem(50px);
    color: $mid_gray;
    width: 100%;
    margin-bottom: 0px;
  }

  p.lead-summary {
    color: $dark_grey;
  }
}

.hub .detail-github-link {
  margin-top: rem(45px);
  background: $orange;
  a {
    color: $white;
    padding-right: rem(50px);
  }
}

.hub .detail-colab-link {
  margin-top: rem(45px);
  background: $yellow;
  a {
    color: $black;
    padding-right: rem(50px);
  }
}

.hub .detail-arrow {
  color: $orange;
}

.hub .with-right-white-arrow {
  padding-right: rem(32px);
  position: relative;
  background-image: url($baseurl + "/assets/images/chevron-right-white.svg");
  background-size: 6px 13px;
  background-position: top 10px right 11px;
  background-repeat: no-repeat;
  @include desktop {
    background-size: 8px 14px;
    background-position: top 15px right 12px;
    padding-right: rem(32px);
  }
}

.hub .main-content {
  padding-top: rem(140px);
  @include desktop {
    padding-top: rem(135px);
  }
}

.hub.hub-detail  .main-content {
  padding-top: rem(200px);
  @include desktop {
    padding-top: rem(150px);
  }
}

.hub.hub-detail .jumbotron {
  height: 100px;
  @include desktop {
    height: 100px;
  }
}

.hub .main-content-wrapper {
  background-color: $light_grey;

  @include desktop {
    margin-top: 305px + $desktop_header_height;
  }
  margin-top: 275px;
}

.hub.hub-detail .main-content-wrapper {
  @include desktop {
    margin-top: 270px + $desktop_header_height;
  }
  margin-top: 275px;
}

.hub .hub-cards-wrapper, .hub-cards-wrapper-right {
  margin-bottom: rem(18px);
  padding-top: rem(20px);

  .card-body {
    .card-summary {
      width: 75%;
    }
    .hub-image {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%;
      width: 25%;
      img {
        height: 100%;
        width: 100%;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        background: #000000;
        opacity: .075;
      }
    }
  }
}

.hub .github-stars-image {
  height: 8px;
  width: 8px;
  margin-left: rem(15px);
  position: relative;
  top: rem(2px);
  @include desktop {
    height: 9px;
    width: 9px;
  }
}

.hub .github-stars-count {
  margin-left: rem(5px);
  color: $mid_gray;
  position: relative;
  top: rem(3px);
}

.hub .detail-count {
  font-size: rem(20px);
}

.hub .detail-stars-container {
  display: inline-flex;
  .github-stars-image {
    margin-left: 0;
  }
}

.hub .card-body {
  .hub-card-title-container {
    width: 75%;
    display: inline-flex;
      .experimental-badge {
        text-transform: uppercase;
        margin-left: rem(15px);
        background-color: #e4e4e4;
        color: $not_quite_black;
        opacity: 0.75;
        font-size: rem(10px);
        letter-spacing: 1px;
        line-height: rem(22px);
        height: rem(20px);
        width: rem(96px);
        text-align: center;
        margin-top: rem(4px);
    }
  }
}

.hub .hub-filter-menu {
  ul {
    list-style-type: none;
    padding-left: rem(20px);
    li {
      padding-right: rem(20px);
      word-break: break-all;

      a {
      color: $mid_gray;
      &:hover {
        color: $orange;
        }
      }
    }
  }
}

.hub .hub-filter {
  cursor: pointer;
}

.hub #dropdownFilter, #dropdownSort, #dropdownSortLeft {
  color: $mid_gray;
  cursor: pointer;
}

.hub #dropdownSort, #dropdownSortLeft {
  margin-left: rem(100px);
}

.hub .sort-menu {
  left: 63%;
  @include desktop {
    left: 25%;
  }
}

.hub .research-hub-title,
.research-hub-sub-title {
  text-transform: uppercase;
  letter-spacing: 1.78px;
  line-height: rem(32px);
}

.research-hub-sub-title {
  padding-bottom: rem(20px);
}

.hub .research-hub-title {
  color: $orange;
}

.hub .all-models-button, .full-docs-button {
  font-size: 1.125rem;
  position: relative;
  cursor: pointer;
  outline: none;
  padding: rem(10px) rem(30px) rem(10px) rem(20px);
  background-color: $white;
  margin-bottom: 0.125rem;
  border: 2px solid $light_grey;
  letter-spacing: -0.25px;
  line-height: rem(28px);
  color: $dark_grey;
  background-image: url($baseurl + "/assets/images/chevron-right-orange.svg");
  background-size: 6px 13px;
  background-position: center right 10px;
  background-repeat: no-repeat;
  a {
    color: $dark_grey;
  }

  @include animated_border_hover_state;
}

.hub .hub-column {
  padding-bottom: rem(75px);
}

.hub.hub-index .hub-column {
  padding-bottom: 0;
}

.hub .how-it-works {
  padding-top: rem(50px);
  padding-bottom: rem(45px);
  .how-it-works-text {
    color: $dark_grey;
    font-size: rem(20px);
    letter-spacing: 0;
    line-height: rem(30px);
  }
  .how-it-works-title-col {
    padding-bottom: rem(55px);
  }
  .full-docs-button {
    margin-top: rem(30px);
  }
}

.hub .hub-code-text {
  font-size: 80%;
  color: $not_quite_black;
  background-color: $light_white;
  padding: 2px;
}

.hub .hub-code-block {
  display: block;
  border-left: 3px solid $orange;
  padding: rem(20px) rem(25px) rem(20px) rem(25px);
  margin-bottom: rem(60px);
}

.hub pre.highlight {
    background-color: $light_white;
    border-left: 2px solid $orange;
}

.hub code.highlighter-rouge {
  background-color: $light_white;
}

.hub article {
  padding-top: rem(20px);
  @include desktop {
    padding-top: 0;
  }
  p {
    color: $slate;
  }
}

.hub .hub-detail-background {
  @include desktop {
    height: 515px;
  }
}

.hub .dropdown-menu {
  border-radius: 0;
}

.hub .card {
  &:hover {
    .hub-image:before {
      bottom: 100%;
    }
  }
}

.hub.hub.hub-detail {
  .github-stars-image {
    img {
      @include desktop {
        height: 10px
      }
      height: 9px
    }
  }
}

.hub .hub-card {
  overflow: scroll;
  @include max-width-desktop {
    height: 150px;
    overflow: inherit;
  }

  @include small-desktop {
    height: 170px;
    overflow: inherit;
  }
}

.hub #development-models-hide, #research-models-hide {
  display: none;
}

.hub .col-md-6.hub-column {
  @media (min-width: 768px) {
    flex: 0 0 100%;
    max-width: 100%;
  }

  @include max-width-desktop {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.hub .col-md-12.hub-column {
  .col-md-6 {
    @media (min-width: 768px) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    @include max-width-desktop {
      flex: 0 0 100%;
      max-width: 50%;
    }
  }
}

.hub .featured-image {
  padding-bottom: rem(20px);
}

.hub .coming-soon {
  font-weight: 300;
  font-style: italic;
}

.hub.hub-index .jumbotron {
  @include desktop {
    height: 325px;
  }
  h1 {
    @include desktop {
      padding-top: rem(55px);
    }
    padding-top: 0;
  }
  p.lead {
    padding-top: rem(55px);
  }
}

.hub.hub-index .main-content-wrapper {
  @include desktop {
    margin-top: 190px + $desktop_header_height;
  }
  margin-top: 210px;
}

.hub .page-link {
  font-size: rem(20px);
  letter-spacing: 0;
  line-height: rem(34px);
  color: $orange;
  width: rem(120px);
  text-align: center;
}
