.jumbotron {
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  margin-bottom: 0;

  @include desktop {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1.08px;
    margin-bottom: 1.25rem;

    @include desktop {
      font-size: 4.5rem;
    }
  }

  p {
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
    @include desktop {
      width: 50%;
    }
  }

  &.on-dark-background {
    h1, p {
      color: $white;
    }
  }
}
