.jumbotron {
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  top: $mobile_header_height;

  @include desktop {
    height: 550px;
    top: $desktop_header_height;
  }

  .jumbotron-content {
    display: flex;
    align-items: center;
  }

  h1 {
    font-size: rem(40px);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1.08px;
    margin-bottom: rem(10px);
    line-height: 1.05;

    @include desktop {
      font-size: rem(72px);
    }
  }

  p {
    font-size: rem(18px);
    margin-bottom: rem(20px);
    @include desktop {
      width: 50%;
    }
  }

  &.on-dark-background {
    h1, p {
      color: $white;
    }
  }

  .btn {
    padding-top: rem(9px);
    @include desktop {
      margin-top: rem(10px);
    }
  }
}
