.main-content-wrapper {
  margin-top: 243px;

  @include desktop {
    margin-top: 560px;
    min-height: 400px;
  }
}

.main-content {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  @include desktop {
    padding-top: 2.625rem;
  }
}

.main-content-menu {
  margin-bottom: 5rem;

  a {
    color: $slate;
  }
}

.main-content article {
  max-width: 920px;
  margin: 0 auto;

  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    letter-spacing: 1.78px;
    line-height: 2.5rem;
  }

  p, ul li {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: $content_text_color;
    margin-bottom: 2.5rem;
  }

  ul {
    margin-bottom: 2.5rem;

    @include desktop {
      padding-left: 6rem;
    }

    li {
      margin-bottom: 1rem;
    }
  }

  pre {
    margin-bottom: 2.5rem;
  }
}
