.main-content-wrapper {
  margin-top: 300px;

  @include desktop {
    margin-top: 450px + $desktop_header_height;
    min-height: 400px;
  }
}

.main-content {
  padding-top: rem(24px);
  padding-bottom: rem(24px);

  @include desktop {
    padding-top: 2.625rem;
  }
}

.main-content-menu {
  margin-bottom: rem(20px);
  @include desktop {
    margin-bottom: rem(80px);
  }

  .navbar-nav .nav-link {
    color: $slate;
    padding-left: rem(30px);
    padding-right: rem(30px);

    @include desktop {
      &:first-of-type {
        padding-left: 0;
      }
    }
  }
}
