.main-content-wrapper {
  margin-top: 243px;

  @include desktop {
    margin-top: 560px;
    min-height: 400px;
  }
}

.main-content {
  padding-top: rem(24px);
  padding-bottom: rem(24px);

  @include desktop {
    padding-top: 2.625rem;
  }
}

.main-content-menu {
  margin-bottom: rem(80px);

  a {
    color: $slate;
  }
}

.main-content article {
  max-width: 920px;
  margin: 0 auto;

  h2 {
    font-size: rem(32px);
    margin-bottom: rem(24px);
    letter-spacing: 1.78px;
    line-height: rem(56px);
    text-transform: uppercase;
  }

  h3 {
    font-size: rem(24px);
    letter-spacing: 0;
    line-height: rem(28px);
    text-transform: none;
    margin-bottom: rem(24px);
  }

  h4 {
    font-size: rem(18px);
    letter-spacing: 0;
    line-height: rem(22px);
    margin-bottom: rem(24px);
  }

  h5 {
    font-size: rem(16px);
    letter-spacing: 0;
    line-height: rem(20px);
    margin-bottom: rem(24px);
  }

  p,
  ul li,
  ol li,
  dl dt,
  dl dd,
  blockquote {
    font-size: rem(18px);
    line-height: rem(28px);
    color: $content_text_color;
    margin-bottom: rem(40px);
  }

  ul, ol{
    margin-bottom: rem(40px);

    @include desktop {
      padding-left: rem(100px);
    }

    li {
      margin-bottom: rem(16px);
    }
  }

  dl {
    margin-bottom: rem(40px);
  }

  dl dt {
    margin-bottom: rem(12px);
    font-weight: 400;
  }

  pre {
    margin-bottom: rem(40px);
  }

  hr {
    margin-top: rem(75px);
    margin-bottom: rem(75px);
  }

  blockquote {
    font-size: rem(18px);
    margin: 0 auto;
    margin-bottom: rem(40px);
    width: 65%;
  }

  img {
    width: 100%;
  }
}
