.mobile article {
  margin-bottom: rem(80px);
}

.mobile .main-background {
  height: 275px;

  @include desktop {
    height: 380px;
  }
}

.mobile .main-content-wrapper {
  margin-top: 275px;
  @include desktop {
    margin-top: 260px + $desktop_header_height;
  }
}

.mobile .jumbotron {
  height: 190px;
  @include desktop {
    height: 260px;
  }
}

.mobile .main-content .navbar {
  background-color: $light_grey;

  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0;

  @media (min-width: 992px) {
    li:first-of-type {
      padding-left: rem(55px);
    }

    .nav-item {
      padding: 2rem;
      cursor: pointer;
    }

    .nav-link {
      position: relative;
      top: 10%;
      transform: translateY(-50%);
    }
  }

  .nav-select {
    background-color: $white;
    .nav-link {
      color: $orange;
      font-weight: 500;
    }
  }

  .nav-link {
    font-size: rem(18px);
    color: #8c8c8c;
    @include desktop {
      margin-left: rem(30px);
    }
    &:hover {
      color: $orange;
    }
  }

  .nav-item {
    padding-top: rem(15px);
    padding-bottom: rem(15px);
    @include desktop {
      padding-bottom: 0;
      padding-top: 2rem;
    }
    @include small-desktop {
      padding-bottom: 0;
      padding-top: 2rem;
    }
    @media (max-width: 990px) {
      padding-bottom: rem(10px);
      padding-top: 1rem;
    }
  }

  .navbar-toggler {
    margin-left: rem(40px);
  }
}

.mobile .main-content {
  padding-top: 0;
  @include desktop {
    padding-top: 1.9rem;
  }
}

.mobile .nav-menu-wrapper {
  background-color: $light_grey;
}

.mobile .navbar-nav {
  flex-direction: row;
}

.mobile .mobile-page-sidebar {
  padding-top: rem(40px);
  padding-bottom: rem(40px);
  top: 15%;

  @include desktop {
    padding-top: 0;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
    line-height: 23px;
    margin-bottom: 15px;

    a {
      color: #8c8c8c;
      &.active,
      &:hover {
        color: $orange;
      }
    }
  }
}
