nav.navbar {
  padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.navbar-light .navbar-nav .nav-link {
  color: $white;
  position: relative;
}

.nav-link.github {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 18px;
}

.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: $orange;
  &:after {
    content: "\2022";
    font-size: 1.5rem;
    position: absolute;
    bottom: -20px;
    text-align: center;
    left: 0;
    right: 0;
  }
}
