.header-holder {
  height: $mobile_header_height;

  @include full-nav-menu-desktop {
    height: $desktop_header_height - 20px;
  }

  align-items: center;
  display: flex;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  right: 0;
  top: 0;
  @include full-nav-menu-desktop {
    top: 32px;
  }
  width: 100%;
  z-index: 9999;

  &.blog-header,
  &.blog-detail-header,
  &.resources-header,
  &.get-started-header,
  &.features-header,
  &.comm-stories-header,
  &.ecosystem-header,
  &.announcement-header,
  &.hub-header,
  &.mobile-header {
    background-color: $white;
    border-bottom: 1px solid #e2e2e2;
  }
}

.hello-bar {
  display: none;
  @include full-nav-menu-desktop {
    background-color: #CC2F90;
    color: $white;
    display: flex;
    letter-spacing: .34px;
    justify-content: center;
    padding: 4px 0;
    position: fixed;
    top: 0;
    text-align: center;
    z-index: 9999;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    a {
      color: $white;
      text-decoration: underline;
    }
  }
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  @include clearfix;

  @include full-nav-menu-desktop {
    display: block;
  }
}

.header-logo {
  height: 23px;
  width: 93px;
  background-image: url($baseurl + "/assets/images/logo.svg");
  background-repeat: no-repeat;
  background-size: 93px 23px;
  display: block;
  float: left;

  @include full-nav-menu-desktop {
    background-size: 108px 27px;
    position: absolute;
    height: 27px;
    width: 108px;
    top: 4px;
    float: none;
  }
}

.main-menu-open-button {
  background-image: url($baseurl + "/assets/images/icon-menu-dots.svg");
  background-position: center center;
  background-size: 25px 7px;
  background-repeat: no-repeat;
  width: 25px;
  height: 7px;
  position: absolute;
  right: 0;
  top: 4px;
  @include full-nav-menu-desktop {
    display: none;
  }
}

.header-holder .main-menu {
  display: none;

  @include full-nav-menu-desktop {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  ul {
    display: flex;
    align-items: center;
    margin: 0;
  }

  ul li {
    display: inline-block;
    margin-right: 34px;
    position: relative;

    &.active {
      &:after {
        content: "•";
        bottom: -24px;
        color: $orange;
        font-size: rem(22px);
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
      }

      a {
        color: $orange;
      }

      .with-down-arrow {
        background-image: url($baseurl + "/assets/images/chevron-down-orange.svg");
      }
    }

    &.resources-active:after {
      left: -27px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  ul li a {
    color: $white;
    font-size: 1.2rem;
    letter-spacing: 0;
    line-height: rem(34px);
    text-align: center;
    text-decoration: none;
    padding-bottom: 10px;
    @include full-nav-menu-desktop {
      &:hover {
        color: #ffffff;
        border-bottom: 2px solid #ffffff;
      }
    }

    &.with-down-arrow {
      cursor: default;
      padding-right: rem(32px);
      position: relative;
      background-image: url($baseurl + "/assets/images/chevron-down-white.svg");
      background-size: 14px 18px;
      background-position: top 7px right 10px;
      background-repeat: no-repeat;
      padding-bottom: 20px;
      &:hover {
        border-bottom: none;
      }
    
      .dropdown-menu {
        border-radius: 0;
        padding: 0;
    
        .dropdown-item {
          color: $dark_grey;
          border-bottom: 1px solid #e2e2e2;
          &:last-of-type {
            border-bottom-color: transparent;
          }
    
          &:hover {
            background-color: $orange;
          }
    
          p {
            font-size: rem(16px);
            color: #757575;
          }
        }
    
        a.dropdown-item {
          &:hover {
            color: $white;
            p {
              color: $white;
            }
          }
        }
      }
    }
  }
}

.mobile-main-menu {
  display: none;
  &.open {
    background-color: $slate;
    display: block;
    height: 100%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
  }
}

.mobile-main-menu .container-fluid {
  background-color: inherit;
  align-items: center;
  display: flex;
  height: $mobile_header_height;
  position: relative;
  @include clearfix;
  z-index: 1;
}

.mobile-main-menu.open {
  ul {
    list-style-type: none;
    padding: 0;
  }

  ul li a, .resources-mobile-menu-title {
    font-size: rem(32px);
    color: $white;
    letter-spacing: 0;
    line-height: rem(64px);
  }

  ul li.active a {
    color: $orange;
  }
}

.main-menu-close-button {
  background-image: url($baseurl + "/assets/images/icon-close.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  height: 24px;
  position: absolute;
  right: 0;
  width: 24px;
  top: -4px;
}

.mobile-main-menu-header-container {
  position: relative;
}

.mobile-main-menu-links-container {
  display: flex;
  padding-left: rem(45px);
  height: 100%;
  min-height: 100%;
  margin-top: 20px;
  overflow-y: scroll;
  @media only screen and (max-width: 320px) {
    .main-menu {
      padding-top: 5rem;
    }
  }

  .navSearchWrapper {
    @media only screen and (max-width: 320px) {
      width: 75%;
    }
  }
}

#topnav-gh-icon {
  background-image: url(/assets/social/github-white.svg);
  color: white;
  width: 33px;
  height: 33px;
  background-size: 23px 23px;
  background-repeat: no-repeat;
  background-position: 5px 4px;
  border-radius: 25px;
  &:hover {
    background-color:#88888833;
  }
}

.blog-header,
.blog-detail-header,
.resources-header,
.get-started-header,
.features-header,
.ecosystem-header,
.announcement-header,
.comm-stories-header,
.hub-header,
.mobile-header {
  .header-logo {
    background-image: url($baseurl + "/assets/images/logo-dark.svg");
  }

  .main-menu ul li a {
    color: $not_quite_black;
    @include full-nav-menu-desktop {
      &:hover {
        color: $not_quite_black;
        border-bottom: 2px solid $not_quite_black;
      }
    }
    &.with-down-arrow {
      background-image: url($baseurl + "/assets/images/chevron-down-black.svg");
    }
  }

  .main-menu-open-button {
    background-image: url($baseurl + "/assets/images/icon-menu-dots-dark.svg");
  }

  #topnav-gh-icon {
    background-image: url(/assets/social/github-black.svg);
  }
}

.ecosystem-dropdown-menu, .resources-dropdown-menu {
  left: -25px;
  width: 300px;
  display: none;
  position: absolute;
  z-index: 1000;
  display: none;
  top: 45px;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.ecosystem-dropdown:hover, .resources-dropdown:hover, .resources-active:hover {
  .ecosystem-dropdown-menu, .resources-dropdown-menu {
    display: block;
  }
}

.main-menu ul li {
  .ecosystem-dropdown-menu, .resources-dropdown-menu {
    border-radius: 0;
    padding: 0;
  }
}

.main-menu ul li {
  .ecosystem-dropdown-menu, .resources-dropdown-menu {
    .dropdown-item {
      color: #6c6c6d;
      border-bottom: 1px solid #e2e2e2;
    }
  }
}

.header-holder .main-menu ul li a.nav-dropdown-item {
  display: block;
  font-size: rem(16px);
  line-height: rem(21px);
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #757575;
  text-align: left;
  background-color: transparent;
  border-bottom: 1px solid #e2e2e2;
  p {
    margin-bottom: .5rem;
  }
  &:last-of-type {
    border-bottom-color: transparent;
  }
  &:hover {
    background-color: $orange;
    color: white;
  }
  .dropdown-title {
    font-size: rem(18px);
    color: #212529;
    letter-spacing: 0;
    line-height: 34px;
  }
  .docs-title {
    display: block;
    padding-top: 0.5rem;
  }
}

.header-holder .main-menu ul li a.nav-dropdown-item:hover .dropdown-title {
  background-color: $orange;
  color: white;
}

.mobile-main-menu-links-container {
  ul.resources-mobile-menu-items {
    li {
      padding-left: 15px;
      a {
        font-size: rem(24px);
        line-height: rem(48px);    
      }
    }
  }
}


