.header-holder {
  height: rem(90px);
  display: flex;
  align-items: center;
}

.nav-logo {
  background-image: url($baseurl + "/assets/images/logo.svg");
  background-size: 108px 27px;
  background-repeat: no-repeat;
  height: 27px;
  width: 108px;
}

nav.navbar {
  padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: rem(20px);
  padding-right: rem(20px);
}

.navbar-nav .nav-link {
  position: relative;
}

.nav-link.github {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 18px;
}

.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: $orange;
  &:after {
    content: "\2022";
    font-size: rem(24px);
    position: absolute;
    bottom: rem(-20px);
    text-align: center;
    left: 0;
    right: 0;
  }
}

.homepage,
.get-started,
.style-guide {
  .navbar-nav .nav-link {
    color: $white;
  }
}
