.quick-starts {
    background: $medium_grey;
  
    @include desktop {
      background: linear-gradient(90deg, $medium_grey 50%, $very_light_grey 50%);
    }
  }
  
  .quick-starts {
    p {
      font-size: rem(18px);
      line-height: rem(28px);
    }  
  }
  
  .quick-start-guides {
    font-size: rem(24px);
    letter-spacing: 0.25px;
    line-height: rem(36px);
    color: #a5a5a5;
  
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        margin-bottom: 0;
        font-size: rem(18px);
  
        @include desktop {
          margin-bottom: rem(12px);
        }
  
        &.selected {
          color: $orange;
          &:before {
            content: "\2022";
            position: absolute;
            left: 0;
            @include desktop {
              left: -5px;
            }
          }
        }
      }
    }
  
    .select-instructions {
      color: $slate;
      border-bottom: 2px solid #a5a5a5;
      margin-bottom: rem(16px);
      display: inline-block;
      @include desktop {
        margin-bottom: 0;
      }
    }
  }

.quick-start-module {
  padding-top: rem(40px);
  padding-bottom: rem(40px);

  @include desktop {
    padding-top: rem(80px);
    padding-bottom: rem(80px);
  }

  p {
    color: #929292;
    font-size: 1.125em;
  }  

  h3 {
    font-size: rem(24px);
    letter-spacing: 1.33px;
    line-height: rem(32px);
    text-transform: uppercase;
    margin-bottom: rem(20px);
  }
  
}
  