.quick-starts {
  background: $medium_grey;
}

.quick-starts {
  p {
    font-size: rem(18px);
    line-height: rem(28px);
  }
}

.quick-start-guides {
  font-size: rem(18px);
  letter-spacing: 0.25px;
  line-height: rem(36px);
  color: $medium_smoky_grey;

  .cloud-option-body {
    line-height: rem(64px);
    margin-left: rem(20px);
    color: #545454;
  }

  .select-instructions {
    color: $slate;
    border-bottom: 2px solid $medium_smoky_grey;
    margin-bottom: rem(16px);
    display: inline-block;
    @include desktop {
      margin-bottom: 0;
    }
  }
}

.quick-start-module {
  .option-module {
    float: right;
  }

  padding-top: rem(40px);
  padding-bottom: rem(40px);

  @include desktop {
    padding-top: rem(80px);
    padding-bottom: rem(80px);
  }

  p {
    color: #929292;
    font-size: 1.125em;
    letter-spacing: 0.25px;
  }

  h3 {
    font-size: rem(24px);
    letter-spacing: 1.33px;
    line-height: rem(32px);
    text-transform: uppercase;
    margin-bottom: rem(20px);
  }
}

.quick-starts {
  .cloud-option {
    background-color: $white;
    height: rem(64px);
    margin-bottom: rem(2px);
    border: 2px solid $light_grey;
    font-size: rem(18px);
    letter-spacing: -0.25px;
    line-height: rem(30px);

    a {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
    }

    @include small-desktop {
      font-size: rem(16px);
    }

    @include animated_border_hover_state;

    .aws {
      &:before {
        content: url($baseurl + "/assets/images/aws-logo.svg");
      }
    }
    .microsoft-azure {
      &:before {
        content: url($baseurl + "/assets/images/microsoft-azure-logo.svg");
      }
    }
    .google-cloud {
      &:before {
        content: url($baseurl + "/assets/images/google-cloud-logo.svg");
      }
    }
    .colab {
      &:before {
        content: url($baseurl + "/assets/images/colab-logo.svg");
      }
    }

    .aws,
    .microsoft-azure,
    .google-cloud,
    .colab {
      &:before {
        margin-left: 15px;
        margin-right: 25px;
        position: relative;
        top: 3px;
      }
    }

    &:hover {
      .aws:before {
        content: url($baseurl + "/assets/images/aws-logo-dark.svg");
      }
      .microsoft-azure:before {
        content: url($baseurl + "/assets/images/microsoft-azure-logo-dark.svg");
      }
      .google-cloud:before {
        content: url($baseurl + "/assets/images/google-cloud-logo-dark.svg");
      }
      .colab:before {
        content: url($baseurl + "/assets/images/colab-logo-dark.svg");
      }
    }
  }

  .card-body {
    flex: 1 1 auto;
  }

  .with-right-arrow {
    padding-right: rem(22px);
    @include desktop {
      padding-right: rem(32px);
    }

    @include small-desktop {
      padding-right: rem(20px);
    }
    position: relative;
    background-image: url($baseurl + "/assets/images/chevron-right-orange.svg");
    background-size: 6px 13px;
    background-position: center right 5px;
    background-repeat: no-repeat;
    @include desktop {
      background-size: 8px 14px;
      background-position: center right 12px;
    }
  }

  .cloud-option-image {
    margin-left: rem(15px);
    margin-right: rem(25px);
    margin-bottom: rem(5px);
  }

  .cloud-option-row {
    margin-left: 0;
  }

  .option {
    border: 2px solid $light_grey;
    font-size: rem(16px);
    color: $quick_start_grey;
    letter-spacing: -0.22px;
    line-height: rem(20px);
    background: $white;
    cursor: pointer;
  }

  .option:hover {
    background-color: $orange;
    color: $white;
  }

  .option-text {
    margin-top: rem(10px);
  }

  .selected {
    background-color: $orange;
    color: $white;
  }

  .block {
    margin-bottom: rem(1px);
    height: rem(40px);
  }

  .title-block {
    margin: rem(1px);
    height: rem(40px);
    border: 2px solid $light_grey;
    font-size: rem(16px);
    color: $quick_start_grey;
    letter-spacing: -0.22px;
    line-height: rem(20px);
  }

  .title-block:before {
    display: block;
    content: ".";
    color: transparent;
    border-left: 2px solid $smoky_grey;
    height: 100%;
    position: absolute;
    left: 0;
  }

  #command {
    color: #4a4a4a;
    background-color: $white;
    padding: rem(15px);
    border: 2px solid $light_grey;
    word-wrap: break-word;
  }

  .command-block {
    height: rem(84px);
    word-wrap: break-word;
    color: $command_block_black;
  }

  .command-block:before {
    border-left: 2px solid $black;
  }

  .quick-start-link {
    color: $quick_start_grey;
  }

  .mobile-heading {
    @include desktop {
      display: none;
    }
    display: block;
    font-weight: 400;
  }

  .command-mobile-heading {
    @include desktop {
      display: none;
    }
    display: block;
    font-weight: 400;
    color: $black;
  }

  .headings {
    display: none;
    @include desktop {
      display: block;
    }
  }

  .cloud-options-col {
    margin-top: rem(20px);
    @include desktop {
      margin-top: 0;
    }
  }

  @media (max-width: 978px) {
    .os-text {
      margin-top: 0;
    }
  }
}
