.resources .main-background {
  display: none;
}

.resources .jumbotron {
  height: 145px;
  align-items: flex-end;

  @include desktop {
    height: 235px;
  }

  p {
    margin-bottom: 0;
  }
}

.resources .main-content-wrapper {
  margin-top: 230px;
  margin-bottom: 2.5rem;
  @include desktop {
    margin-top: 355px;
  }
}

.resources .resource-card {
  @include desktop {
    margin-bottom: rem(40px);
  }
}
