/* Search */
input[type='search'] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.navSearchWrapper {
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: center;
  position: relative;
  right: 10px;
  top: 15px;
  margin-left: 0;
  padding-bottom: 20px;
  @include desktop {
    position: absolute;
    margin-left: 30px;
    display: block;
    padding-left: 3px;
    padding-bottom: 0;
  }
}

.tabletSearchWrapper {
  top: 0px;

  @include small-desktop {
    padding-bottom: 20px;
    position: relative;
    margin-left: 0;
  }
}

.navSearchWrapper .aa-dropdown-menu {
  background: #f9f9f9;
  border: 3px solid rgba(57, 57, 57, 0.25);
  color: #393939;
  font-size: rem(14px);
  left: auto !important;
  line-height: 1.2em;
  right: 0 !important;
}

.navSearchWrapper
  .aa-dropdown-menu
  .algolia-docsearch-suggestion--category-header {
  background: $black;
  color: white;
  font-size: rem(14px);
  font-weight: 400;
}

.navSearchWrapper
  .aa-dropdown-menu
  .algolia-docsearch-suggestion--category-header
  .algolia-docsearch-suggestion--highlight {
  background-color: $black;
  color: #fff;
}

.navSearchWrapper
  .aa-dropdown-menu
  .algolia-docsearch-suggestion--title
  .algolia-docsearch-suggestion--highlight,
.navSearchWrapper
  .aa-dropdown-menu
  .algolia-docsearch-suggestion--subcategory-column
  .algolia-docsearch-suggestion--highlight {
  color: $black;
}

.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion__secondary,
.navSearchWrapper
  .aa-dropdown-menu
  .algolia-docsearch-suggestion--subcategory-column {
  border-color: rgba(57, 57, 57, 0.3);
}

.navSearchWrapper .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  @include desktop {
    word-wrap: normal;
  }
}

input#search-input {
  background-color: inherit;
  border: none;
  border-radius: 20px;
  color: $black;
  font-size: rem(18px);
  font-weight: 300;
  line-height: 20px;
  outline: none;
  padding-left: 25px;
  position: relative;
  -webkit-transition: 0.5s width ease;
  -moz-transition: 0.5s width ease;
  -o-transition: 0.5s width ease;
  transition: 0.5s width ease;
  display: none;
  width: 220px;
  background-image: url($baseurl + "/assets/images/search-icon.svg");
  background-size: 12px 15px;
  background-repeat: no-repeat;
  background-position: 8px 5px;
  &:hover {
    background-image: url($baseurl + "/assets/images/search-icon-orange.svg");
  }
}

input#mobile-search-input {
  font-size: 2rem;
  background-color: transparent;
  color: $white;
  border: none;
  outline: none;
  padding-left: 25px;
  position: relative;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 300px;
  display: block;
}

input#search-input:focus,
input#search-input:active {
  color: $black;
}
.navigationSlider .slidingNav .navSearchWrapper .algolia-docsearch-footer a {
  height: auto;
}
@media only screen and (max-width: 735px) {
  .navSearchWrapper {
    width: 100%;
  }
}

input::-webkit-input-placeholder {
  color: #e5e5e5;
}

input::-moz-placeholder {
  color: #e5e5e5;
}

input::placeholder {
  color: #e5e5e5;
}

.hljs {
  padding: 1.25rem 1.5rem;
}

@media only screen and (max-width: 1024px) {
  .reactNavSearchWrapper input#search-input {
    background-color: rgba(242, 196, 178, 0.25);
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    color: #393939;
    font-size: rem(14px);
    line-height: 20px;
    outline: none;
    padding-left: 25px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55),
      width 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55), color 0.2s ease;
    width: 100%;
  }

  .reactNavSearchWrapper input#search-input:focus,
  .reactNavSearchWrapper input#search-input:active {
    background-color: $black;
    color: #fff;
  }

  .reactNavSearchWrapper .algolia-docsearch-suggestion--subcategory-inline {
    display: none;
  }

  .reactNavSearchWrapper > span {
    width: 100%;
  }

  .reactNavSearchWrapper .aa-dropdown-menu {
    font-size: rem(12px);
    line-height: 2em;
    padding: 0;
    border-width: 1px;
    min-width: 500px;
  }
  .reactNavSearchWrapper .algolia-docsearch-suggestion__secondary {
    border-top: none;
  }
  .aa-suggestions {
    min-height: 140px;
    max-height: 60vh;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 1024px) {
  .navSearchWrapper {
    padding-left: 10px;
    position: relative;
    right: auto;
    top: auto;
    @include desktop {
      padding-left: 3px;
      right: 10px;
      margin-left: 0;
    }
  }

  .navSearchWrapper .algolia-autocomplete {
    display: block;
  }

  .tabletSearchWrapper {
    right: 10px;
  }
}

@media only screen and (max-width: 735px) {
  .reactNavSearchWrapper .aa-dropdown-menu {
    min-width: 400px;
  }
}
@media only screen and (max-width: 475px) {
  .reactNavSearchWrapper .aa-dropdown-menu {
    min-width: 300px;
  }
}

.search-border {
  display: none;
  flex-direction: row;
  border: none;
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
  float: right;
  @include desktop {
    display: flex;
  }
}

.mobile-search-border {
  flex-direction: row;
  border: none;
  background-color: rgba(256, 256, 256, 0.1);
  border-radius: 20px;
  width: 100%;
  float: right;
  display: flex;
  @include small-desktop {
    border-radius: 25px;
  }
}

#close-search {
  color: $orange;
  padding-right: 10px;
  font-size: .99em;
  display: none;
  cursor: pointer;
}

.active-header {
  margin-top: -1px;
}

.active-search-icon {
  background-image: url($baseurl + "/assets/images/search-icon-orange.svg") !important;
  display: inline-block !important;
}

.active-background {
  background-color: $light_grey;
  width: 50%;
  padding: 4px;
}

.homepage-header {
  input#search-input {
    background-image: url($baseurl + "/assets/images/search-icon-white.svg");
    color: $white;
  }
  input#search-input:focus,
  input#search-input:active {
    color: $white;
  }
  .active-background {
    background-color:#88888833;
  }
  #close-search {
    color: $white;
    opacity: 0.5;
    &:hover {
      color: $orange;
    }
  }
  #search-icon {
    background-image: url(/assets/images/search-icon-white.svg);
    &:hover {
      background-color:#88888833;
    }
  }
}

#search-icon {
  background-image: url(/assets/images/search-icon.svg);
  color: transparent;
  width: 33px;
  height: 33px;
  background-size: 21px 21px;
  background-repeat: no-repeat;
  background-position: 6px 5px;
  border-radius: 25px;
  cursor: pointer;
  &:hover {
    background-color: $light_grey;
  }
}

#mobile-search-icon {
  background-image: url(/assets/images/search-icon-white.svg);
  width: 30px;
  height: 38px;
  background-size: 16px 28px;
  background-repeat: no-repeat;
  background-position: 0px 5px;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  @include small-desktop {
    height: 50px;
    width: 35px;
    background-size: 20px 42px;
  }
}

.navSearchWrapper {
  .algolia-autocomplete .ds-dropdown-menu {
    min-width: 330px;
    height: 500px;
    overflow-y: scroll;
    @include desktop {
      height: auto;
      min-width: 700px;
      overflow-y: hidden;
    }
    @include small-desktop {
      height: 700px;
      overflow-y: scroll;
    }
    @media (min-width: 769px) and (max-width: 1024px) {
      min-width: 950px;
    }
  }
}
/* End of Search */
