.similar-posts-module {
  background: $light_grey;

  p.blog-date {
    font-size: rem(18px);
    color: $very_dark_grey;
    letter-spacing: 0;
    line-height: rem(24px);
  }

  h4 {
    a {
      font-family: FreightSans;
      font-size: rem(24px);
      color: $black;
      letter-spacing: 0;
      line-height: rem(32px);
      font-weight: 400;
    }
  }

  .module-content {
    .navbar-nav {
      margin-top: rem(60px);
    }

    .module-heading {
      text-transform: uppercase;
      color: $black;
      font-size: rem(24px);
      letter-spacing: rem(1.33px);
      line-height: rem(32px);
      font-weight: 400;
    }

    .nav-item:last-of-type {
      @include desktop {
        position: absolute;
        right: 0;
        a {
          margin-right: 0;
        }
      }
    }
    margin-bottom: rem(35px);
  }

  .see-more-posts {
    color: $black;
    font-size: rem(18px);
    letter-spacing: -0.25px;
    line-height: rem(30px);
    top: rem(2px);
  }
}
