.video-item {
    margin-bottom: 5rem;

    a h4 {
        color: $black;
    }
    a:hover {
        h4 {
            color: $orange;
        }
    }

    .image-container {
        overflow: hidden;
        img {
            margin: -10% 0;
            width: 100%;
        }
    }
}