.video-item {
    margin-bottom: 5rem;

    a h5 {
        color: $black;
        margin-top: 1rem;
    }
    a:hover {
        h5 {
            color: $orange;
        }
    }

    .image-container {
        overflow: hidden;
        img {
            margin: -10% 0;
            width: 100%;
        }
    }
}