---
layout: default
title: Contributors
permalink: contributors
body-class: ecosystem
background-class: features-background
pagination:
  enabled: true
---
{% assign posts = paginator.posts %}
{% assign display_post_categories = site.posts | map: 'categories' | join: ',' | replace: '-', ' ' | split: ',' | uniq | sort %}
{% assign current_page = page.url | downcase | remove: ".html" | split: '/'  %}
{% assign post_categories = site.posts | map: 'categories' | join: ',' | split: ',' | uniq | sort %}

<div class="jumbotron jumbotron-fluid contributor-jumbotron">
  <div class="contributor-jumbo-text container">
    <h1>PyTorch Contributors</h1>
    <span></span>
    <h2 class="lead">The central place for PyTorch contributors to stay up-to-date with the codebase and discover notable RFCs, PRs and more.</h2>
    <h2 class="lead">Subscribe to the monthly newsletter for PyTorch contributors, and join the contributors’ discussion forum to learn and collaborate on latest development across PyTorch.</h2>
  </div>
</div>

<div class="main-content-wrapper join-wrapper">
  <div class="main-content">
    <div class="marketo-contain container-fluid">

      <!-- START CONTENT -->

      <div class="row col-md-6 marketo-left">
        <div class="contributor-row">
          <h2>Sign up for the newsletter</h2>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="email" aria-label="email" aria-describedby="email">
            <div class="input-group-append">
              <button id ="submit" class="contributor-submit btn btn-outline-secondary" type="button">Submit</button>
            </div>
          </div>
        </div>
        <div class="hidden">
          <div class="row contributor-index blog-index">
            {% for post in posts %}
            <div class="col-md-12">
              <p class="blog-date">{{ post.date | date: '%B %d, %Y' }}</p>
              <h4>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
              </h4>
              <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' | truncate: 500}}</p>
              <img src="{{ post.image }}" class="img-fluid">
            </div>
            {% endfor %}
          </div>

          {% include pagination_buttons.html %}
        </div>
      </div>

      <div class="row col-md-6 marketo-right">
        <div class="contributor-row">
          <h2>Join the conversation</h2>
          <a class="contributors-button" href="{{ site.external_urls.contributor_forum }}">Forums</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#submit").on( "click", function() {
    $(".hidden").toggle();
    $(".marketo-left .contributor-row").hide();
  });
</script>
