<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="blog">
    {% include tag_manager_script.html %}
    <div class="main-background blog-background blog-detail-background"></div>
    <div class="hello-bar">
        <div class="container">
          Join us in Silicon Valley September 18-19 at the 2024 PyTorch Conference. <a target="_blank" href="https://events.linuxfoundation.org/pytorch-conference/">Learn more</a>.
        </div>
      </div>
      
    <div class="container-fluid header-holder blog-detail-header">
        <div class="container">
            {% include nav.html %}
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid blog-detail-jumbotron">
        <div class="container blog-detail-container">
            <p class="featured-post">{{ page.date | date: '%B %d, %Y' }}</p>
            <h1>
                <a class="blog-title">{{ page.title }}</a>
            </h1>
        </div>
    </div>

    <div class="main-content-wrapper blog-detail-wrapper">
        <div class="main-content blog-detail-content">
            <div class="container">
                <img src="{{ site.baseurl }}/assets/images/logo-icon.svg" class="img-fluid author-icon">
                <article class="pytorch-article">
                    <p class="author">
                      by
                      {% if page.author %}
                        {{ page.author }}
                      {% else %}
                        {{ site.default_author }}
                      {% endif %}
                    </p>
                    {{ content }}
                </article>
            </div>
        </div>
    </div>

<!--    {% include similar_posts_module.html %} -->
    {% include footer.html %}
</body>

</html>
