<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="{{ page.body-class }}">
  {% include tag_manager_script.html %}
  {% include header.html %}

  <div class="main-background blog-background"></div>

  {% assign posts = paginator.posts %}
  {% assign display_post_categories = site.posts | map: 'categories' | join: ',' | replace: '-', ' ' | split: ',' | uniq | sort %}
  {% assign current_page = page.url | downcase | remove: ".html" | split: '/'  %}
  {% assign post_categories = site.posts | map: 'categories' | join: ',' | split: ',' | uniq | sort %}

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      {% for post in posts limit:1 %}
      <p class="featured-post">Featured Post</p>
      <h1 class="blog-index-title">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h1>
      <p class="featured-blog-preview">{{ post.excerpt | strip_html | truncate: 100 }}</p>

      <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-lg with-right-arrow">
        Read More
      </a>

      {% endfor %}
    </div>
  </div>

  <div class="main-content-wrapper">
    <div class="main-content">
      <div class="container">
        <div class="row blog-vertical">

          {% for post in posts %}

            {% if forloop.first %}
              {% continue %}
            {% endif %}
            
            <div class="vertical-blog-container">
              <div class="col-md-4">
                <p class="blog-date">{{ post.date | date: '%B %d, %Y' }}</p>
                <h4>
                  <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                </h4>
                <p>{{ post.excerpt | strip_html | truncate: 500}}</p>
                <img src="{{ post.image }}" class="img-fluid">
              </div>
              <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-lg with-right-arrow">
                Read More
              </a>
            </div>
          {% endfor %}
        </div>

        {% include pagination_buttons.html %}
      </div>
    </div>
  </div>

  {% include quick_start_module.html %}

  {% include footer.html %}

</body>

</html>
