<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="blog">
    <div class="main-background {{ page.background-class }}"></div>

    <div class="container-fluid header-holder">
        <div class="container">
            {% include nav.html %}
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <p class="blog-date">{{ page.date | date: '%B %d, %Y' }}</p>
            <h1>
                <a>{{ page.title }}</a>
            </h1>
        </div>
    </div>

    <div class="main-content-wrapper">
        <div class="main-content">
            <div class="container">

                <div class="col-md-12">
                    <img src="/assets/images/logo-icon.svg" class="img-fluid author-icon">
                    <article>
                        <p class="author"> by PyTorch Team</p>
                        {{ content }}
                    </article>
                </div>
            </div>
        </div>
    </div>

    {% include similar-posts-module.html %}
    {% include footer.html %}

</body>

</html>