<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="{{ page.body-class }}">
    <div class="main-background {{ page.background-class }}"></div>

    <div class="container-fluid header-holder">
      <div class="container">
        {% include nav.html %}
      </div>
    </div>


    <div class="jumbotron jumbotron-fluid on-dark-background">
      <div class="container">
        <h1>{{ page.title }}</h1>

        {% include svgs/pytorch-language.svg %}

        <p class="lead">{{ page.summary }}</p>

        <p>
          <a href="{{site.baseurl}}/get-started" class="btn btn-lg with-right-arrow">
            {{ page.call-to-action }}
          </a>
        </p>
      </div>
    </div>

    <div class="main-content-wrapper">
      <div class="main-content">
        <div class="container">
          <article>
            {{ content }}
          </article>
        </div>

        <div class="container-fluid article-page-module similar-projects">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <h3>Similar Projects</h3>
              </div>

              <div class="col-md-2 offset-md-4 module-link-col">
                <a href="#" class="btn btn-lg with-right-arrow">
                  See all Projects
                </a>
              </div>
            </div>

            <div class="row module-content-wrapper">
              {% for item in site.ecosystem limit:3 %}
                <div class="col-md-4">
                  <div class="card ecosystem-card">
                    <div class="card-body {{ item.slug }}">
                      <h4><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></h4>
                      <p class="card-summary">{{ item.summary }}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    <script type="text/javascript">
      anchors.add('article h2, article h3, article h4, article h5');
    </script>
  </body>
</html>
