<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container-fluid header-holder">
      <div class="container">
        {% include nav.html %}
      </div>
    </div>

    <div class="container content-page">
      <h1 class="mb-3">{{ page.title }}</h1>

      <div class="row mb-5">
        <div class="col-md-6">
          <p class="text-dark-grey">{{ page.intro }}</p>
        </div>

        <div class="col-md-6">
          <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if page.feature-type == 'features' %}active{% endif %}">
                  <a class="nav-link" href="{{ site.baseurl }}/features">All</a>
                </li>
                <li class="nav-item {% if page.feature-type == 'features-vision' %}active{% endif %}">
                  <a class="nav-link" href="{{ site.baseurl }}/features/vision">Vision</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if page.feature-type == 'features-reasoning' %}active{% endif %}" href="{{ site.baseurl }}/features/reasoning">Reasoning</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if page.feature-type == 'features-language' %}active{% endif %}" href="{{ site.baseurl }}/features/language">Language</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if page.feature-type == 'features-speech' %}active{% endif %}" href="{{ site.baseurl }}/features/speech">Speech</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>

      <div class="row">
        {% for post in site.categories[page.feature-type] %}
          <div class="col-md-4 mb-5">
            <div class="card">
              <div class="card-body">
                <img src="{{ site.baseurl }}/assets/images/sample.jpg" class="community-avatar mb-3" />
                <p class="card-text mb-3">{{ post.excerpt }}</p>
                <a href="{{ site.url }}{{ post.url }}" class="text-info">Learn More</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="container-fluid">
      {% include footer.html %}
    </div>
  </body>
</html>
