<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="{{ page.body-class }} hub-index">
    {% include header.html %}

    <div class="main-background {{ page.background-class }} hub-index-background"></div>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1>
          <span id="hub-header">PyTorch</span> <span id="hub-sub-header"></span>Hub</span> <br>
          {{ page.title }}
        </h1>

        <p class="lead">{{ page.summary }}</p>
      </div>
    </div>

    <div class="main-content-wrapper">
      <div class="main-content">
        <div class="container">
          <!-- START CONTENT -->
          <div class="row" id="model-row">
            <div class="col-md-12 hub-column">
              <nav class="navbar navbar-expand-lg navbar-light research-menu">
                <a id="dropdownFilter" data-toggle="dropdown" data-target="#dropdownFilterTags">
                  Filter <img src="{{ site.baseurl }}/assets/images/filter-arrow.svg">
                </a>

                {{ content }}
              </nav>

              <hr>

              {% include paginated_hub_cards.html %}
            </div>
          </div>

          {% include pagination_buttons.html %}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
