<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="{{ page.body-class }} hub-index">
    {% include header.html %}

    <div class="main-background {{ page.background-class }} hub-index-background"></div>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1>
          <span id="hub-header">PyTorch</span> <span id="hub-sub-header"></span>Hub</span> <br>
          {{ page.title }}
        </h1>

        <p class="lead">{{ page.summary }}</p>
      </div>
    </div>

    <div class="main-content-wrapper">
      <div class="main-content">
        <div class="container">
          <!-- START CONTENT -->
          <div class="row" id="model-row">
            <div class="col-md-12 hub-column">
              {{content}}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script list-id="hub-cards" display-count="12" pagination="true" src="{{ site.baseurl }}/assets/filter-hub-tags.js"></script>
<script src="{{ site.baseurl }}/assets/hub-search-bar.js"></script>
