<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta property="og:description" content="Learn how to use PyTorch with these tutorials.">
	<meta property="og:image" content="/static/img/logos/pytorch-logo-dark.png">
	<meta property="og:title" content="PyTorch Tutorials">
	<meta property="og:url" content="http://pytorch.org/tutorials">
	<title>{{ page.title }}</title>
</head>

<body id="{{ page.id }}">

	{% include header.html %}

	<section class="content wrap">
		<div class="container">
			{{ content }}
		</div>
	</section>

	{% include footer.html %}

</body>

</html>