---
layout: default
title: Get Started
permalink: get-started.html
background-class: get-started-background
body-class: get-started
---

<div class="jumbotron jumbotron-fluid on-dark-background">
  <div class="container">
    <h1>Get<br />&nbsp;&nbsp;&nbsp;&nbsp;Started</h1>

    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>

<div class="main-content-wrapper">
  <div class="main-content">
    <div class="container">
      <nav class="navbar navbar-expand-lg main-content-menu">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            {% for post in site.categories["get-started"] %}
              <li class="nav-item">
                <a class="nav-link" href="#{{ post.slug }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </nav>

      <h1>{{ current }}</h1>

      <!-- START CONTENT -->

      <div>
        {% for post in site.categories["get-started"] %}
          <a name="{{ post.slug }}"></a>

          <article>
            {{ post.content }}
          </article>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
