---
layout: default
title: Get Started
permalink: get-started.html
background-class: get-started-background
body-class: get-started
---

{% assign items = site.tutorials | where: "category","get-started" %}

<div class="jumbotron jumbotron-fluid on-dark-background">
  <div class="container">
    <h1>Get<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Started</h1>

    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>

<div class="main-content-wrapper">
  <div class="main-content">
      <div class="container-fluid nav-menu-wrapper">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light main-content-menu">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#articleNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="articleNavDropdown">
                <ul class="navbar-nav">
                  {% for item in items %}
                    <li class="nav-item">
                      <a class="nav-link" href="#{{ item.slug }}" data-id="{{ item.slug }}" >{{ item.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
          </nav>
        </div>
      </div>

    <div class="container">


      <!-- START CONTENT -->

        {% for item in items %}
        <div class="article-wrapper" data-slug="{{ item.slug }}">
          <article class="pytorch-article">
            {{ item.content }}
          </article>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="container-fluid article-page-module">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Educational Courses</h3>
        <a href="#" class="btn btn-lg with-right-arrow module-button">
          See all Courses
        </a>
      </div>
    </div>

    <div class="row module-content-wrapper">
      <div class="col-md-3">
        <img src="http://via.placeholder.com/560x360/ffffff/d8d8d8" />
        <h5>Course Name</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>

      <div class="col-md-3">
        <img src="http://via.placeholder.com/560x360/ffffff/d8d8d8" />
        <h5>Course Name</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>

      <div class="col-md-3">
        <img src="http://via.placeholder.com/560x360/ffffff/d8d8d8" />
        <h5>Course Name</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>

      <div class="col-md-3">
        <img src="http://via.placeholder.com/560x360/ffffff/d8d8d8" />
        <h5>Course Name</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // This page includes content that is hidden from view until clicked in the article menu.
  // This ensures that named links display the correct content on page load

  var pageHash = window.location.hash.replace(/^#/, '');
  if (pageHash) {
    showArticle(pageHash);
  } else {
    showArticle("start-locally");
    $('.nav-link[data-id="start-locally"]').parent(".nav-item").addClass("nav-select");
  }

  $('.nav-link[data-id="' + pageHash + '"]').parent(".nav-item").addClass("nav-select");

  // On article menu click update the hash of the page as per the displayed content
  $(".main-content-menu .nav-item").on('click', function(e) {
    e.preventDefault();
    var slug = $(this).children(".nav-link").attr('href').replace(/^#/, '');
    window.location.hash = slug;
    showArticle(slug);
    $(".nav-item").removeClass("nav-select");
    $(this).addClass("nav-select");
  });

  function showArticle(slug) {
    $(".article-wrapper").hide();
    $(".article-wrapper[data-slug='" + slug + "']").show();
  }
</script>
<script src="{{ site.baseurl }}/assets/quick-start-module.js"></script>
